@CHARSET "UTF-8";
html,body,div,section,ul {
    padding: 0;
    margin: 0;
    font: 14px/1.5 "Microsoft Yahei","Hiragino Sans GB",tahoma,arial;
}
#index-main-div{
    position:static;
    z-index:auto;
}
.img-thumbnail-inline{
	display:inline-block;
}
.feedback_list a.list-group-item>div{
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.feedback_list a.list-group-item{
    cursor:pointer;
}
.feedback-attachment{
	cursor: pointer;
    height: 60px;
    margin: 5px 5px 5px 0;
    padding: 0;
    width: 60px;
}


.sort-list {
    background: #fff none repeat scroll 0 0;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0px;
    width: 100%;
    border:1px solid #dddddd;
}
.sort-list li {
    border-right: 1px solid #eae8e8;
    color: #333;
    cursor: pointer;
    float: left;
    font-size: 12px;
    padding: 0 20px;
    text-align: center;
    list-style:outside none none;
}
.sort-list li.current a:link, .sort-list li.current a:visited {
    color: #f60;
}
.sort-list li a {
    display: block;
    text-decoration:none;
}
.sort-list li i {
    background: rgba(0, 0, 0, 0) url("../images/icon/arrow_up.jpg") no-repeat scroll 0 0;
    display: inline-block;
    height: 11px;
    margin-left: 2px;
    position: relative;
    top: 1px;
    width: 8px;
}
.sort-list li i.up {
    background: rgba(0, 0, 0, 0) url("../images/icon/arrow_up_hide.jpg") no-repeat scroll 0 0;
}
.sort-list li i.down {
    background: rgba(0, 0, 0, 0) url("../images/icon/arrow_down_hide.gif") no-repeat scroll 0 0;
}
.sort-list li.current i {
    background: rgba(0, 0, 0, 0) url("../images/icon/arrow_down_hide.gif") no-repeat scroll 0 0;
}
.sort-list li.current i.up {
    background: rgba(0, 0, 0, 0) url("../images/icon/arrow_up_hide.jpg") no-repeat scroll 0 0;
}
.sort-list li.current i.down {
    background: rgba(0, 0, 0, 0) url("../images/icon/arrow_down_hide.gif") no-repeat scroll 0 0;
}
.sort-list li a:link, .sort-list li a:visited {
    color: #333;
}

/*翻页*/
.pagination {
  width: 100%;
  margin: 0;
}
.pagination .pages {
  margin-right: 20px;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.pagination ul > li {
  display: inline;
  font-size: 12px;
  float: left;
}
.pagination ul > li > a {
  width: 40px;
  height: 20px;
  padding: 0;
  float: left;
  color: #969696;
  text-align: center;
  text-decoration: none;
  border: 1px solid #dcdcdc;
  border-left: none;
  background-color: #fff;
}
.pagination ul > li > span {
  height: 20px;
  line-height: 20px;
  padding: 0;
  float: left;
}
.pagination ul > li:first-child > a {
  border-left: 1px solid #dcdcdc;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -o-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}
.pagination ul > li:last-child > a {
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -o-border-radius: 0px 10px 10px 0px;
  border-radius: 0px 10px 10px 0px;
}
.pagination ul > li.active > a,
.pagination ul > li > a:hover {
  color: #fff;
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc;
}
.pagination ul > li.ends {
  color: #dcdcdc;
  letter-spacing: -3px;
}
.pagination .checkboxul > li {
  line-height: 24px;
  padding: 0px 10px;
  color: #323232;
  display: inline-block;
}
.pagination .checkboxul .checkbox-li {
  padding-left: 20px;
}
.pagination .checkboxul .checkbox {
  margin: 0;
}
.pagination .checkboxul select {
  height: 24px;
  width: 90px;
  font-size: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #969696;
}
.pagination .datanumul > li {
  line-height: 24px;
  padding: 0px 10px;
  color: #323232;
  display: inline-block;
}
.pagination .datanumul > li + li:before {
  padding: 0 6px 0px 5px;
  color: #969696;
  content: "|";
}
.pagination .datanumul select {
  height: 20px;
  width: 65px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #969696;
  font-size: 12px;
}


.plupload-content {
    position: relative;
    margin: 20px 0px 10px 0px;
    width: 100%;
    height:120px;
    text-align: center;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    
}
.plupload-content .upload-text{
    position: absolute;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    color: #c8c8c8;
    margin: 50px auto;
}

.panel-heading .alert{
	position: absolute;
    left: 100px;
	margin: 0px;
	font-size: 12px;
	padding: 4px 50px 4px 6px;
}
