<script type="text/javascript">
$(function(){
    var url = window.location.href.split("print")[0];
    $("#print").on("click",function(){
        baseInfoNames = new Array();
        $(".baseInfo").each(function(){
            inputVal = $(this).children().val();
            baseInfoNames.unshift($(this).children().attr("name"));
            $(this).html(inputVal);
        });
        window.print();
        $(".baseInfo").each(function(){
            inputVal = $(this).html();
            $(this).html("<input style=\"width:100%;\" name=\"" + baseInfoNames.shift() + "\" value=\"" + inputVal + "\" type=\"text\">");
        });
    });
    
    $("#save").on("click",function(){
        $.post(url+"updatePgsFilling",$("#print-form").serialize(),function(result){
            if(result==1){
                $.lAlert("信息保存成功！");
            }else{
                $.lAlert("信息保存失败！");
                $("#isSaved").attr("value","1");
            }
        });
    });

    $("#reset").on("click",function(){
        $.lConfirm('确认重置？', function() {
            $.post(url+"updatePgsFilling",{id:$("#pgsId").val()},function(result){
                if(result==1){
                    location=location ;
                }else{
                    $.lAlert("信息重置失败！");
                }
            });
        });
    });
});

</script>