<script type="text/javascript">
$(function(){
    var url = window.location.href.split("print")[0];
    $("#print").on("click",function(){
        var lookHide = $(".look_hide");
        $(".buttons").hide();
        lookHide.removeClass("look_hide");
        $("input").css("border-bottom", "0");
        $(".embryoNumber").each(function(){
    		inputVal = $(this).children().val();
    		if(inputVal){
    		    inputVal = inputVal.replace(/\r\n/g,"<br>");
    		}
            $(this).html("<br/>" + inputVal);    		    
		});
		$(".result").each(function(){
    		inputVal = $(this).children().val();
    		if(inputVal){
    		    inputVal = inputVal.replace(/\r\n/g,"<br>");
    		}
            $(this).html("<br/>" + inputVal);    		    
		});
		$(".embryoRating").each(function(){
    		inputVal = $(this).children().val();
    		if(inputVal){
    		    inputVal = inputVal.replace(/\r\n/g,"<br>");
    		}
            $(this).html("<br/>" + inputVal);    		    
		});
		$(".advice").each(function(){
    		inputVal = $(this).children().val();
    		if(inputVal){
    		    inputVal = inputVal.replace(/\r\n/g,"<br>");
    		}
            $(this).html("<br/>" + inputVal);    		    
		});
		$(".explainResult").each(function(){
    		inputVal = $(this).children().val();
    		if(inputVal){
    		    inputVal = inputVal.replace(/\r\n/g,"<br>");
    		}
            $(this).html(inputVal);    		    
		});
		$(".explainGeneticCounseling").each(function(){
    		inputVal = $(this).children().val();
    		if(inputVal){
    		    inputVal = inputVal.replace(/\r\n/g,"<br>");
    		}
            $(this).html(inputVal);    		    
		});
        window.print();
        $(".explainGeneticCounseling").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"height:50px;width:100%;font-size:14px;\" name=\"projectInfo['explainGeneticCounseling']\">"+inputVal+"</textarea>");
        });
        $(".explainResult").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"height:50px;width:100%;font-size:14px;\" name=\"projectInfo['explainResult']\">"+inputVal+"</textarea>");
        });
        $(".advice").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"width:98%;height:50px;font-size:14px;\" name=\"projectInfo['advice']\">"+inputVal+"</textarea>");
        });
        $(".embryoRating").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"width:98%;height:50px;font-size:14px;\" name=\"projectInfo['embryoRating']\">"+inputVal+"</textarea>");
        });
        $(".result").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"width:98%;height:50px;font-size:14px;\" name=\"projectInfo['result']\">"+inputVal+"</textarea>");
        });
        $(".embryoNumber").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"width:98%;height:50px;font-size:14px;\" name=\"projectInfo['embryoNumber']\">"+inputVal+"</textarea>");
        });
        $("input").css("border-bottom", "1px solid #D4D4D4");
        lookHide.addClass("look_hide");
        $(".buttons").show();
    });
    
    $("#save").on("click",function(){
    	var exists = $("#exists").val();
        $.post(url+"updatePgsProjectFilling",$("#print-form").serialize(),function(result){
            if(result > "0"){
                $.lAlert("信息保存成功！");
                if(exists == 0){
                	$("#id").val(result);
                	$("#exists").val(1);
                }
            }else{
                $.lAlert("信息保存失败！");
            }
        });
    });

    $("#reset").on("click",function(){
        $.lConfirm('确认重置？', function() {
        	var exists = $("#exists").val();
        	if(exists==0){
        		location = location;
        	}else{
	            $.post(url+"updatePgsProjectFilling",{id:$("#id").val(),exists:1},function(result){
	                if(result==1){
	                    location=location ;
	                }else{
	                    $.lAlert("信息重置失败！");
	                }
	            });
            }
        });
    });
});

</script>