<div class="content">
    <input type="hidden" name="id" value="#if($pgs)$!{pgs.id}#else${pgsList.get(0).id}#end" id="id" />
    <input type="hidden" name="projectId" value="${pgsList.get(0).projectId}" />
    <input type="hidden" name="exists" value="${exists}" id="exists" />
    <table class="contentTable">
        <tr class="focus">
            <td colspan="4" style="font-size:20px;"><br/>基本信息：</td>
        </tr>
        <tr class="focus hr">
            <td colspan="4"><hr/></td>
        </tr>
        <tr>
            <td>女方姓名:<span><input name="projectInfo['womanName']" value="$!{pgs.projectInfo.womanName}" type="text" class="tdInput"></span></td>
            <td>年       龄:<span><input name="projectInfo['womanAge']" value="$!{pgs.projectInfo.womanAge}" type="text" class="tdInput"></span></td>
            <td>男方姓名:<span><input name="projectInfo['manName']" value="$!{pgs.projectInfo.manName}" type="text" class="tdInput"></span></td>
            <td>年       龄:<span><input name="projectInfo['manAge']" value="$!{pgs.projectInfo.manAge}" type="text" class="tdInput"></span></td>
        </tr>
        <tr>
            <td>病历号:<span><input name="projectInfo['recordNumber']" value="$!{pgs.projectInfo.recordNumber}" type="text" class="tdInput"></span></td>
            <td>实验编号:<span><input name="projectInfo['experimentNumber']" value="$!{pgs.projectInfo.experimentNumber}" type="text" class="tdInput"></span></td>
            <td>样本类型:<span><input name="projectInfo['sampleType']" value="$!{pgs.projectInfo.sampleType}" type="text" class="tdInput"></span></td>
            <td>胚胎数量:<span><input name="projectInfo['embryoCount']" value="$!{pgs.projectInfo.embryoCount}" type="text" class="tdInput"></span></td>
        </tr>
        <tr>
            <td>活检时期:<span><input name="projectInfo['biopsyPeriod']" value="$!{pgs.projectInfo.biopsyPeriod}" type="text" class="tdInput"></span></td>
            <td>样本状态:<span><input name="projectInfo['embryoState']" value="$!{pgs.projectInfo.embryoState}" type="text" class="tdInput"></span></td>
            <td>接收时间:<span><input name="projectInfo['receiveDate']" value="$!{pgs.projectInfo.receiveDate}" type="text" class="tdInput"></span></td>
            <td>检测时间:<span><input name="projectInfo['detectionDate']" value="$!{pgs.projectInfo.detectionDate}" type="text" class="tdInput"></span></td>
        </tr>
        <tr>
            <td>送检单位:<span><input name="projectInfo['inspectionUnit']" value="$!{pgs.projectInfo.inspectionUnit}" type="text" class="tdInput"></span></td>
            <td></td>
            <td>送检人:<span><input name="projectInfo['forPeople']" value="$!{pgs.projectInfo.forPeople}" type="text" class="tdInput"></span></td>
            <td></td>
        </tr>
        <tr>
            <td>女方临床诊断:<span><input name="projectInfo['womanClinical']" value="$!{pgs.projectInfo.womanClinical}" type="text" class="tdInput"></span></td>
            <td></td>
            <td>男方临床诊断:<span><input name="projectInfo['manClinical']" value="$!{pgs.projectInfo.manClinical}" type="text" class="tdInput"></span></td>
            <td></td>
        </tr>
        <tr class="focus">
            <td colspan="4" style="font-size:20px;"><br/>检测内容：</td>
        </tr>
        <tr class="focus hr">
            <td colspan="4"><hr/></td>
        </tr>
        <tr class="focus">
            <td colspan="4">检测项目：胚胎染色体异常检测</td>
        </tr>
        <tr class="focus">
            <td colspan="4">检测方法：高通量测序--Ion PGM™测序平台</td>
        </tr>
        <tr class="focus">
            <td colspan="4">检测类型：胚胎染色体非整倍体及大于4Mb的染色体缺失和重复</td>
        </tr>
        <tr class="focus">
            <td colspan="4">检测结果：参考基因组为GRCh37/hg19　　详细结果见“结果解读”</td>
        </tr>
        <tr class="focus hr">
            <td colspan="4"><hr/></td>
        </tr>
        <tr style="background-color:#e0e0e0;">
            <td class="tdCenter">胚胎编号</td>
            <td class="tdCenter">检测结果</td>
            <td class="tdCenter">胚胎评级</td>
            <td class="tdCenter">临床建议</td>
        </tr>
    </table>
    <table class="contentTable">
    	#if($pgsList.size() > 1)
	        #foreach($p in $pgsList)
	        	#set($index=$velocityCount - 1)
		        <tr style="mar">
		            <td class="tdCenter" style="width:25%;"><div class="embryoNumber" style="word-break: break-all;width:99%;"><textarea style="width:98%;height:50px;font-size:14px;" name="projectInfo['embryoNumber']">#if(${pgs.projectInfo.embryoNumber.get($index)})$!{pgs.projectInfo.embryoNumber.get($index)}#else$!{p.anotherName}#end</textarea></div></td>
		            <td class="tdCenter" style="width:25%;"><div class="result" style="word-break: break-all;width:99%;"><textarea style="width:98%;height:50px;font-size:14px;" name="projectInfo['result']">#if(${pgs.projectInfo.result.get($index)})$!{pgs.projectInfo.result.get($index)}#else$!{p.report}#end</textarea></div></td>
		            <td class="tdCenter" style="width:25%;"><div class="embryoRating" style="word-break: break-all;width:99%;"><textarea style="width:98%;height:50px;font-size:14px;" name="projectInfo['embryoRating']">$!{pgs.projectInfo.embryoRating.get($index)}</textarea></div></td>
	            	<td class="tdCenter" style="width:25%;"><div class="advice" style="word-break: break-all;width:99%;"><textarea style="width:98%;height:50px;font-size:14px;" name="projectInfo['advice']">$!{pgs.projectInfo.advice.get($index)}</textarea></div></td>
		        </tr>
	        #end
        #else
        	<tr style="mar">
	            <td class="tdCenter" style="width:25%;"><div class="embryoNumber" style="word-break: break-all;width:99%;"><textarea style="width:98%;height:50px;font-size:14px;" name="projectInfo['embryoNumber']">#if(${pgs.projectInfo.embryoNumber})$!{pgs.projectInfo.embryoNumber}#else$!{pgsList.get(0).anotherName}#end</textarea></div></td>
	            <td class="tdCenter" style="width:25%;"><div class="result" style="word-break: break-all;width:99%;"><textarea style="width:98%;height:50px;font-size:14px;" name="projectInfo['result']">#if(${pgs.projectInfo.result})$!{pgs.projectInfo.result}#else$!{pgsList.get(0).report}#end</textarea></div></td>
	            <td class="tdCenter" style="width:25%;"><div class="embryoRating" style="word-break: break-all;width:99%;"><textarea style="width:98%;height:50px;font-size:14px;" name="projectInfo['embryoRating']">$!{pgs.projectInfo.embryoRating}</textarea></div></td>
            	<td class="tdCenter" style="width:25%;"><div class="advice" style="word-break: break-all;width:99%;"><textarea style="width:98%;height:50px;font-size:14px;" name="projectInfo['advice']">$!{pgs.projectInfo.advice}</textarea></div></td>
	        </tr>
        #end
        <tr class="focus hr">
            <td colspan="4"><br/><hr/></td>
        </tr>
    </table>
</div>