@CHARSET "UTF-8";
body, div, ul, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, button, textarea, select, p, table, th, td,a {margin:0;padding:0;}
header, footer {display:block;margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset, img {border:0;}
li {list-style:none;}
caption, th {text-align:left;font-weight:normal;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
a{ text-decoration:none; color:#666}
/* base */
.fl{float:left;}
.fr{float:right;}
input:focus{ outline:none}
.center{ text-align:center}
.mt10{ margin-top:10px;}
.mb10{ margin-bottom:10px;}
.w500{ width:500px}
ul{ margin:0}
body{ font-family:Arial,"微软雅黑"; font-size:14px; color:#666}
.nav-tabs li a i, .forward, .backward, .m-file .toolbar a i, .m-box h2 i, .m-tips i,.i-view, .i-back,.i-printback{ background-image:url(../images/report/_celloud.png); background-repeat: no-repeat;}
.i-printback{ display: inline-block; width: 17px; height: 16px; vertical-align: middle; margin-right: 3px;}
input{ border:1px solid #aaa; padding:6px; width:254px;}
input.input-large{ width:466px;}
input[type="checkbox"]{ width:16px;}
select.input-large{ width:250px;}
.searcharea{background:#ddd; padding:2px 2px; display:inline-block; *display:inline;*zoom:1;margin-bottom: 10px;}
.pull-right{ float:right}
h4{ display:block; color:#003366; font-size:18px; font-weight:bold; padding-left:40px; padding-bottom:7px;}
#tab1 h4{background: url(../images/publicIcon/icon-mydate.png) 0 0 no-repeat;}
#tab1 h4.share{background: url(../images/publicIcon/icon-share.png) 0 0 no-repeat;}
/* tab分页样式 */
.tabbable {*zoom:1; width:98%; margin:5px auto;}
.tabbable:before, .tabbable:after {display:table;content:""}
.tabbable:after {clear:both}
/*btn*/
.btn{ display:inline-block;*display:inline;*zoom:1; padding:5px 11px; border:1px solid #cbd4e0; border-radius:4px; background-image:url(../images/report/_btn.png); background-repeat:repeat-x; text-shadow:1px 1px 2px rgba(255,255,255,1)}
.btn-default{ background-position:0 0; color:#6e88ac; border:1px solid #cbd4e0;} 
.btn-default:hover{ background-position:0 -40px; border:1px solid #aab8cc;}
.btn-default:active{ background-position:0 -80px; color:#556c90; border:1px solid #9aaac1;}
.btn-orange{ background-position:0 -120px;} 
.btn-orange:active{ background-position:0 -160px;} 
.btn-blue{ background-position:0 -200px; color:#fff;text-shadow:1px 1px 2px rgba(0,0,0,0)} 
.btn-blue:hover{ background-position:0 -240px;} 
.btn-blue:active{ background-position:0 -280px;} 
.file-name{ color:#3D3F44; font-family: Arial}
.tablebox{margin:10px;}
table {max-width: 100%;border-collapse: collapse;border-spacing: 0;background-color: transparent;}
.table {width: 100%;}
.table th {font-weight: bold;}
.table thead th {vertical-align: bottom;}
.table thead:first-child tr:first-child th{border-left: 1;}
.table {border-collapse:collapse;border-spacing:0;width:100%;border:1px solid #d8e2f0;}
.table thead{line-height:38px; color:#009BCA; padding-left:19px; position:relative;border-collapse:collapse;}
.table th, .table td{border:1px solid #d8e2f0;border-left:none; height:30px; line-height:25px; max-width:230px; word-break:break-all;word-wrap:break-word;padding: 4px;}
.table th{ color:#333; text-align:center; background-image:url(../images/report/bg_mboxh2.png);background-repeat:repeat-x;-moz-background-clip: padding; /*Firefox3.6-*/;-moz-background-clip: padding; /*Webkit*/-webkit-background-clip: padding-box;/*W3C标准 IE9+ and Firefox4.0+*/ background-clip: padding-box;}
.table .red{ color:#ff9992;}

#popover a{color:#000;text-decoration:none; position:relative; padding:0px; margin:0px;}
#popover a div{display:none;}
#popover a:hover{visibility:visible; color:#ccc;}
#popover a:hover div{position:absolute;left:50px; top:-10px;display:block;}
#popover a:hover div div{float:left;border:1px solid #66CCCC;background-color:#FFFFDD;opacity:0.8;filter:alpha(opacity=80); color:#000; overflow:hidden;display:inline-block;*display:inline;*zoom:1;}
#popover a:hover div div table{margin:0px;padding:0px;border: 0px solid #ccc;table-layout:fixed;font-size:12px;}
#popover a:hover div div table tr{margin:0px;padding:0px;border: 0px solid #ccc;}
#popover a:hover div div table tr td{margin:0px;padding:0px;border: 0px solid #ccc;min-width:100px;max-width:200px;line-height:12px;word-break:break-all;word-wrap:break-word;}
/*分页*/
.pagination-new {margin-top:10px; width:100%; font-size:14px;font-family:"微软雅黑";}
.pagination-new>p{ display:inline-block;*display:inline;*zoom:1; position:absolute;margin-left:-100px; margin-top:3px;}
.pagination-new ul {display:inline-block;*display:inline;*zoom:1;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*zoom:1;}
.pagination-new ul>li {display:inline; float:left; margin-right:10px; line-height:25px;}
.pagination-new ul>li>a, .pagination-new ul>li>span {float:left;padding:0; color: #546C90; width:25px; height:25px;line-height:25px; text-align:center;text-decoration:none;background-color: #f2f5f9;border: 1px solid #d9e3f1;}
.pagination-new ul>li>a:hover, .pagination-new ul>.active>a, .pagination-new ul>.active>span {background-color:#F9FBFF}
.pagination-new ul>.active>a, .pagination-new ul>.active>span {color:#fff;cursor:default;background-color: #c5d0e1;border: 1px solid #d9e3f1;}
.pagination-new ul>.disabled>span, .pagination-new ul>.disabled>a, .pagination-new ul>.disabled>a:hover {color:#fff;cursor:default;background-color:#999}
.pagination-new ul>li:first-child>a, .pagination-new ul>li:first-child>span {border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.pagination-new ul>li:last-child>a, .pagination-new ul>li:last-child>span {-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}


.form-search .btn-group,.form-inline .btn-group {display: inline-block;}
.btn-group {position: relative;*margin-left: .3em;font-size: 0;  white-space: nowrap;  vertical-align: middle;}
.btn-group:first-child {
  *margin-left: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}
.btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group > .btn + .btn {
  margin-left: -1px;
}

.btn-group > .btn,
.btn-group > .dropdown-menu {
  font-size: 14px;
}

.btn-group > .btn-mini {
  font-size: 11px;
}

.btn-group > .btn-small {
  font-size: 12px;
}

.btn-group > .btn-large {
  font-size: 16px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group > .btn-mini + .dropdown-toggle {
  *padding-top: 2px;
  padding-right: 5px;
  *padding-bottom: 2px;
  padding-left: 5px;
}

.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}

.btn-group > .btn-large + .dropdown-toggle {
  *padding-top: 7px;
  padding-right: 12px;
  *padding-bottom: 7px;
  padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc;
}

.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}
.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-wrench {
  background-position: -360px -144px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.popWindow-overlap{position:absolute;top:105px;left:142px;bottom:160px;right:142px;background-color:#EDEDED;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.1;} 