<link rel="stylesheet" href="$link.getContextPath()/css/font.css">
<link rel="stylesheet" href="$link.getContextPath()/css/print_cmp.css?version=1.0">
<script language="javascript" src="$link.getContextPath()/plugins/calendar/WdatePicker.js"></script>
<script type="text/javascript" src="$link.getContextPath()/js/browser.js"></script>
