<form id="cmp-form">
    <section class="section0 border1 w3cbbs">
        <div class="header">
            #if($cmpReport.username != 't_shineschina')
                <img src="${base}/images/report/yanda_print.png">
            #end
            <h1>肿瘤样本基因检测与个体化治疗分析报告</h1>
        </div>
        <div class="titletype">
            <div>
                <span>肿瘤类型：</span><span><input type="text" class="input200" id="tumorType" name="tumorType" value="$!{cmpReport.cmpFilling.tumorType}"></span>
            </div>
            <div>
                <span>姓</span><span style="margin-left:40px">名：</span><span><input id="patientName1" type="text" class="input200" value="$!{cmpReport.cmpFilling.patientName}"></span>
            </div>
            <div>
                <span>取样日期：</span><span><input id="samplingDate1" type="text" class="input200" value="$!{cmpReport.cmpFilling.samplingDate}" ></span>
            </div>
            <div>
                <span>报告日期：</span><span><input type="text" class="input200" name="reportDate" value="$!{cmpReport.cmpFilling.reportDate}"></span>
            </div>
        </div>
        <footer>
        #if($cmpReport.username == 't_shineschina')
                     检测机构：上海华点云生物科技有限公司
        #else
                     检测机构：燕达国际医院临床检测二部/华点云科技
        #end
        </footer>
    </section>