<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.celloud.manager.mapper.AppMapper" >
  <resultMap id="BaseResultMap" type="com.celloud.manager.model.App" >
    <id column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="picture_name" property="pictureName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="attribute" property="attribute" jdbcType="INTEGER" />
    <result column="run_type" property="runType" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="run_data" property="runData" jdbcType="INTEGER" />
    <result column="data_num" property="dataNum" jdbcType="INTEGER" />
    <result column="param" property="param" jdbcType="INTEGER" />
    <result column="off_line" property="offLine" jdbcType="INTEGER" />
    <result column="command" property="command" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="max_task" property="maxTask" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.celloud.manager.model.App" extends="BaseResultMap" >
    <result column="app_doc" property="appDoc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithExtend" type="com.celloud.manager.model.App" extends="BaseResultMap" >
    <result column="classifyNames" property="classifyNames" jdbcType="VARCHAR" />
    <result column="classifyIds" property="classifyIds" jdbcType="VARCHAR" />
    <result column="fileFormatIds" property="fileFormatIds" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="screenNames" property="screenNames" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapBLOBsWithExtend" type="com.celloud.manager.model.App" extends="ResultMapWithBLOBs" >
    <result column="classifyNames" property="classifyNames" jdbcType="VARCHAR" />
    <result column="classifyIds" property="classifyIds" jdbcType="VARCHAR" />
    <result column="fileFormatIds" property="fileFormatIds" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="screenNames" property="screenNames" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="extraResultMap" type="com.celloud.manager.model.App" extends="BaseResultMap" >
    <result column="company_Name" property="companyName" jdbcType="VARCHAR" />
    <result column="is_add" property="isAdded" jdbcType="VARCHAR" />
    <result column="classifyNames" property="classifyNames" jdbcType="VARCHAR" />
    <result column="app_doc" property="appDoc" jdbcType="LONGVARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="charge_time" property="chargeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    app_id, app_name, english_name, address, picture_name, create_date, intro, description, 
    company_id, attribute, run_type, flag, run_data, data_num, param, off_line, command, 
    title, method, max_task
  </sql>
  <sql id="Blob_Column_List" >
    app_doc
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_app
    where app_id = #{appId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_app
    where app_id = #{appId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.celloud.manager.model.App" >
    insert into tb_app (app_id, app_name, english_name, 
      address, picture_name, create_date, 
      intro, description, company_id, 
      attribute, run_type, flag, 
      run_data, data_num, param, 
      off_line, command, title, 
      method, max_task, app_doc
      )
    values (#{appId,jdbcType=INTEGER}, #{appName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{pictureName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{intro,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{attribute,jdbcType=INTEGER}, #{runType,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, 
      #{runData,jdbcType=INTEGER}, #{dataNum,jdbcType=INTEGER}, #{param,jdbcType=INTEGER}, 
      #{offLine,jdbcType=INTEGER}, #{command,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{maxTask,jdbcType=INTEGER}, #{appDoc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.celloud.manager.model.App" >
    insert into tb_app
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        app_id,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="pictureName != null" >
        picture_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
      <if test="runType != null" >
        run_type,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="runData != null" >
        run_data,
      </if>
      <if test="dataNum != null" >
        data_num,
      </if>
      <if test="param != null" >
        param,
      </if>
      <if test="offLine != null" >
        off_line,
      </if>
      <if test="command != null" >
        command,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="maxTask != null" >
        max_task,
      </if>
      <if test="appDoc != null" >
        app_doc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="pictureName != null" >
        #{pictureName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=INTEGER},
      </if>
      <if test="runType != null" >
        #{runType,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="runData != null" >
        #{runData,jdbcType=INTEGER},
      </if>
      <if test="dataNum != null" >
        #{dataNum,jdbcType=INTEGER},
      </if>
      <if test="param != null" >
        #{param,jdbcType=INTEGER},
      </if>
      <if test="offLine != null" >
        #{offLine,jdbcType=INTEGER},
      </if>
      <if test="command != null" >
        #{command,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="maxTask != null" >
        #{maxTask,jdbcType=INTEGER},
      </if>
      <if test="appDoc != null" >
        #{appDoc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.celloud.manager.model.App" >
    update tb_app
    <set >
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="pictureName != null" >
        picture_name = #{pictureName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="attribute != null" >
        attribute = #{attribute,jdbcType=INTEGER},
      </if>
      <if test="runType != null" >
        run_type = #{runType,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="runData != null" >
        run_data = #{runData,jdbcType=INTEGER},
      </if>
      <if test="dataNum != null" >
        data_num = #{dataNum,jdbcType=INTEGER},
      </if>
      <if test="param != null" >
        param = #{param,jdbcType=INTEGER},
      </if>
      <if test="offLine != null" >
        off_line = #{offLine,jdbcType=INTEGER},
      </if>
      <if test="command != null" >
        command = #{command,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="maxTask != null" >
        max_task = #{maxTask,jdbcType=INTEGER},
      </if>
      <if test="appDoc != null" >
        app_doc = #{appDoc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.celloud.manager.model.App" >
    update tb_app
    set app_name = #{appName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      picture_name = #{pictureName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      intro = #{intro,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      attribute = #{attribute,jdbcType=INTEGER},
      run_type = #{runType,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      run_data = #{runData,jdbcType=INTEGER},
      data_num = #{dataNum,jdbcType=INTEGER},
      param = #{param,jdbcType=INTEGER},
      off_line = #{offLine,jdbcType=INTEGER},
      command = #{command,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      max_task = #{maxTask,jdbcType=INTEGER},
      app_doc = #{appDoc,jdbcType=LONGVARCHAR}
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.celloud.manager.model.App" >
    update tb_app
    set app_name = #{appName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      picture_name = #{pictureName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      intro = #{intro,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      attribute = #{attribute,jdbcType=INTEGER},
      run_type = #{runType,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      run_data = #{runData,jdbcType=INTEGER},
      data_num = #{dataNum,jdbcType=INTEGER},
      param = #{param,jdbcType=INTEGER},
      off_line = #{offLine,jdbcType=INTEGER},
      command = #{command,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      max_task = #{maxTask,jdbcType=INTEGER}
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <select id="countApp" resultType="java.lang.Integer">
  select count(DISTINCT app.app_id) 
  from tb_app app 
  where app.off_line=#{offLine}
  <if test="companyId!=null">
    and app.company_id=#{companyId}
  </if>
  </select>
  
  <select id="countAppRunNum" resultType="java.util.Map">
    select sum(temp.data_num) runNum,temp.app_name app_name 
	from (SELECT DISTINCT p.project_id,p.data_num,a.app_id,a.app_name from tb_app a
	left join tb_report r on a.app_id=r.app_id
	left join tb_project p on p.project_id=r.project_id
	where  a.off_line=#{offLine} 
		   <if test="companyId!=null">
	       and a.company_id=#{companyId}
	       </if>
	       <if test="testAccountIds != null">
	        and p.user_id not in(${testAccountIds})
	        </if>
            and r.flag=#{flag} and r.period=#{period}) temp
	GROUP BY temp.app_id 
	ORDER BY runNum desc 
	limit 0,10;
    </select>
    <select id="countAppRunNumByUser" resultType="java.util.Map">
    select sum(temp.data_num) runNum,temp.username userName 
    from (SELECT DISTINCT p.project_id,p.data_num,u.username,u.user_id from tb_app a
    left join tb_report r on a.app_id=r.app_id
    left join tb_project p on p.project_id=r.project_id
    left join tb_user u on u.user_id=p.user_id
    where  a.off_line=#{offLine} 
           <if test="companyId!=null">
           and a.company_id=#{companyId}
           </if>
           <if test="testAccountIds != null">
            and p.user_id not in(${testAccountIds})
            </if>
            and r.flag=#{flag} and r.period=#{period}) temp
    GROUP BY temp.user_id 
    ORDER BY runNum desc 
    limit 0,10;
    </select>
    <select id="getAppOfBigCustomer" resultMap="BaseResultMap">
    SELECT app.app_id,app.app_name from tb_app app where app.off_line=#{offLine}
    <if test="companyId!=null">
     and app.company_id=#{companyId}
     </if>
    </select>
    <select id="appPriceList" resultMap="extraResultMap">
    select a.app_id,a.app_name,p.price,p.create_date charge_time
	from tb_app a
	left join (select * from tb_price where item_type=#{priceType} and expire_date is null) p on p.item_id=a.app_id
	where a.off_line=#{offLine}
	<if test="companyId!=null">
    and a.company_id=#{companyId}
    </if>
    </select>
    <select id="countAppRunNumByBigCustomer" resultType="java.util.Map">
    select sum(temp.data_num) runNum,temp.company_id companyId
    from (SELECT DISTINCT p.project_id,p.data_num,ucr.company_id from tb_app a
    left join tb_report r on a.app_id=r.app_id
    left join tb_project p on p.project_id=r.project_id
    left join tb_user u on u.user_id=p.user_id
        LEFT JOIN tb_user_company_relat ucr on p.user_id=ucr.user_id
    where  a.off_line=#{offLine}           
            and p.user_id not in(${testAccountIds})
            
            and r.flag=#{flag} and r.period=#{period}) temp
    GROUP BY temp.company_id 
    </select>
    <select id="getAppListByCompany" resultMap="BaseResultMap">
    select app_id,app_name from tb_app where company_id = #{companyId } and attribute = #{attribute } and off_line=#{offLine } and run_type != 0
  </select>
  <select id="getAppListAdded" resultMap="BaseResultMap">
    select app_id,app_name from tb_app where run_type != 0 and attribute = #{attribute } and off_line=#{offLine }
  </select>
  
  <select id="getAppListByPage" resultMap="ResultMapWithExtend">
    SELECT group_concat(c.classify_name separator ';') classifyNames ,a.*,com.company_name companyName from tb_app a LEFT JOIN tb_app_classify_relat acr on a.app_id=acr.app_id LEFT JOIN tb_classify c on acr.classify_id=c.classify_id LEFT JOIN tb_company com on a.company_id=com.company_id GROUP BY a.app_id order by a.off_line,a.app_id desc
  </select>
  <update id="updateAppOffline" parameterType="com.celloud.manager.model.App" >
    update tb_app
    set off_line = #{offLine,jdbcType=INTEGER}
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  
  <insert id="insertApp" useGeneratedKeys="true" keyProperty="appId" parameterType="com.celloud.manager.model.App" >
    insert into tb_app ( app_name, english_name, 
      address, picture_name, create_date, 
      intro, description, company_id, 
      attribute, run_type, flag, 
      run_data, data_num, param, 
      off_line, command, title, 
      method, max_task, app_doc
      )
    values (#{appName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{pictureName,jdbcType=VARCHAR}, now(), 
      #{intro,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{attribute,jdbcType=INTEGER}, #{runType,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER}, 
      #{runData,jdbcType=INTEGER}, #{dataNum,jdbcType=INTEGER}, #{param,jdbcType=INTEGER}, 
      #{offLine,jdbcType=INTEGER}, #{command,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{maxTask,jdbcType=INTEGER}, #{appDoc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertAppFileFormatBatch" >
    insert into tb_app_format_relat (app_id, format_id)
    values
    <foreach collection="formatIds" item="item" index="index"
            separator=",">
    (#{appId,jdbcType=INTEGER}, #{item,jdbcType=INTEGER})
    </foreach> 
  </insert>
  <insert id="insertAppClassifyBatch" >
    insert into tb_app_classify_relat (app_id, classify_id)
    values
    <foreach collection="calssifyIds" item="item" index="index"
            separator=",">
    (#{appId,jdbcType=INTEGER}, #{item,jdbcType=INTEGER})
    </foreach> 
  </insert>
  <select id="appNameExist" resultType="java.lang.Integer">
    select count(app_id) from tb_app where app_name = #{appName }
    <if test="appId!=null">
    and app_id!=#{appId}
    </if>
  </select>
  <select id="getAppById" resultMap="ResultMapBLOBsWithExtend" >
    SELECT group_concat(DISTINCT sc.screen_name separator ';') screenNames,
    group_concat(DISTINCT acr.classify_id separator ';') classifyIds,
    group_concat(DISTINCT afr.format_id separator ';') fileFormatIds ,
    a.* from tb_app a 
    LEFT JOIN tb_app_classify_relat acr on a.app_id=acr.app_id 
    LEFT JOIN tb_screen sc on sc.app_id=a.app_id 
    LEFT JOIN tb_app_format_relat afr on afr.app_id=a.app_id
    where a.app_id=#{appId,jdbcType=INTEGER}
    GROUP BY a.app_id 
    order by a.off_line,a.app_id desc;
  </select>
  <update id="updateApp" parameterType="com.celloud.manager.model.App" >
    update tb_app
    set app_name = #{appName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      picture_name = #{pictureName,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      attribute = #{attribute,jdbcType=INTEGER},
      run_type = #{runType,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      run_data = #{runData,jdbcType=INTEGER},
      data_num = #{dataNum,jdbcType=INTEGER},
      param = #{param,jdbcType=INTEGER},
      command = #{command,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      max_task = #{maxTask,jdbcType=INTEGER},
      app_doc = #{appDoc,jdbcType=LONGVARCHAR}
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <delete id="deleteAppFileFormat" parameterType="java.lang.Integer" >
    delete from tb_app_format_relat
    where app_id = #{appId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteAppClassify" parameterType="java.lang.Integer" >
    delete from tb_app_classify_relat
    where app_id = #{appId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteAppRightByAppIdsAndUserId" >
    delete from 
    tb_user_app_right
    where user_id = #{userId}
    and app_id in
    <foreach collection="apps" open="(" close=")" item="app" separator=",">
    #{app.appId}
    </foreach>
  </delete>
</mapper>