<table border='1' cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td style="height:30px">
            <strong style="font-size:14px;">检测项目：</strong><span><input name="baseInfo['project']" value="#if($pgs.baseInfo.project)$!pgs.baseInfo.project#else染色体拷贝数筛查#end" type="text" class="onlybotton" style="width:87%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
        </td>
    </tr>
    <tr>
        <td style="height:30px">
            <strong style="font-size:14px;">样本编号：</strong><span><input name="baseInfo['sampleNumber']" value="#if($pgs.baseInfo.sampleNumber)$!pgs.baseInfo.sampleNumber#else$pgs.anotherName#end" type="text" class="onlybotton" style="width:38%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
            <strong style="font-size:14px;">实验编号：</strong><span><input name="baseInfo['experimentNumber']" value="$!pgs.baseInfo.experimentNumber" type="text" class="onlybotton" style="width:38%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
        </td>
    </tr>
    <tr>
        <td style="height:30px">
            <strong style="font-size:14px;">送检时间：</strong><span><input name="baseInfo['testDate']" value="$!pgs.baseInfo.testDate" type="text" class="onlybotton" style="width:38%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
            <strong style="font-size:14px;">样本类型：</strong><span><input name="baseInfo['type']" value="$!pgs.baseInfo.type" type="text" class="onlybotton" style="width:38%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
        </td>
    </tr>
    <tr>
        <td style="height:30px">
            <strong style="font-size:14px;">检测内容：</strong><span><input name="baseInfo['content']" value="#if(!$pgs.baseInfo.content)23对染色体的非整倍体，及4Mb以上片段重复或缺失#else$!pgs.baseInfo.content#end" type="text" class="onlybotton" style="width:87%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
        </td>
    </tr>
    <tr>
        <td style="height:30px">
            <strong style="font-size:14px;">检测技术：</strong><span><input name="baseInfo['technology']" value="#if($pgs.baseInfo.technology)$!pgs.baseInfo.technology#else半导体高通测序#end" type="text" class="onlybotton" style="width:87%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
        </td>
    </tr>
    <tr>
        <td style="height:30px">
            <strong style="font-size:14px;">运输状态：</strong><span><input name="baseInfo['state']" value="#if($pgs.baseInfo.state)$!pgs.baseInfo.state#else正常#end" type="text" class="onlybotton" style="width:87%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
        </td>
    </tr>
    <tr>
        <td style="height:30px">
            <strong style="font-size:14px;">内部质量控制：</strong><span><input name="baseInfo['quality']" value="#if($pgs.baseInfo.quality)$!pgs.baseInfo.quality#else正常#end" type="text" class="onlybotton" style="width:83.5%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
        </td>
    </tr>
    <tr>
        <td style="height:30px">
            <strong style="font-size:14px;">检测结果：</strong>
            #if($flag==0 || $flag==1 || $flag==2)
            	<img src="${uploadPath}/${pgs.userId}/${pgs.appId}/${pgs.dataKey}/${pgs.miniPng}" style="width:100%;">
            	<img src="${uploadPath}/${pgs.userId}/${pgs.appId}/${pgs.dataKey}/${pgs.splitPng}" style="width:99%;">
            #elseif($flag==3)
            	<img src="${uploadPath}/${pgs.userId}/${pgs.appId}/${pgs.dataKey}/${pgs.reportMiniPng}" style="width:100%;">
            	<img src="${uploadPath}/${pgs.userId}/${pgs.appId}/${pgs.dataKey}/${pgs.reportSplitPng}" style="width:99%;">
            #end
            <strong>该样本检测结果显示:</strong><br/>
            <div id="result">
                <textarea style="width:99%" id="resultArea" name="baseInfo['result']">#if($pgs.baseInfo.result)$!pgs.baseInfo.result#else${pgs.report}#end</textarea>
            <div>
        </td>
    </tr>
    <tr>
        <td><strong style="font-size:14px;">备注：<br/><br/>
*上表中每一栏结果代表的含义请咨询送检医生；<br/>
*本报告结果只对送检样本负责；<br/>
*以上结论均为实验室检测数据，仅供科研使用，不代表最终诊断结果，仅供临床参考。</strong>
        </td>
    </tr>
    <tr>
        <td style="height:30px">
            <strong style="font-size:14px;">检测者：</strong><span><input name="baseInfo['detection']" value="$!pgs.baseInfo.detection" type="text" class="onlybotton" style="width:23%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
            <strong style="font-size:14px;">审核者：</strong><span><input name="baseInfo['review']" value="$!pgs.baseInfo.review" type="text" class="onlybotton" style="width:23%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
            <strong style="font-size:14px;">报告日期：</strong><span><input name="baseInfo['reportDate']" value="$!pgs.baseInfo.reportDate" type="text" class="onlybotton" style="width:23%;height:16px;padding:0px;margin:0px;font-size:12px;line-height:16px"/></span>
        </td>
    </tr>
</table>
