<script type="text/javascript" src="${base}/js/browser.js"></script>
<script src="${base}/plugins/imgRemove/imgRemove.0.1.js?version=0.3" type="text/javascript"></script>
<link rel="stylesheet" href="${base}/plugins/imgRemove/imgRemove.0.1.css?version=0.2" >
<link rel="stylesheet" href="${base}/css/print_hbv.css?version=3.1.15">
