<div class="row banner-box">
  <div class="banner">
    <img ng-src="assets/images/banner-about.png" style="width: 100%">
  </div>
</div>
<div class="row">
  <div class="about-content">
    <p>上海华点云生物科技有限公司是国内首家将生物信息学分析技术、高性能计算技术和互联网技术相结合，
      在云平台上开发生物信息大数据分析、解读、注释应用的生物科技企业。</p>
    <p>华点云生物科技团队汇集了国内杰出的生物信息学专家和优秀的计算机软件、高性能计算、云计算、
      大数据技术人才，所搭建的生物信息分析云平台采用最先进的hadoop+spark架构，适用于海量DNA数据的生物信息分析需求。
      云平台的生物信息分析模块包含自主开发和国际主流的DNA序列分析软件、肿瘤相关药物数据库及基因耐药位点数据库，
      可高效完成NGS大数据分析所需的序列组装、比对和个性化分析。</p>
    <p>华点云生物科技直面临床诊断领域的刚性需求，为行业用户提供契合度最高的生物信息服务和云平台服务。目前已在云平台上
      部署了生育生殖健康、肿瘤个体化诊疗、常见疾病预判、病原微生物检测等相关生物信息应用20余项，真正实现了基因大数据一
      步到位的数据自动化分析功能。</p>
    <p>华点云生物科技致力于成为人类健康医疗和生命科学研究领域的基因大数据应用行业领跑者，建设中国最大的生物信息云计算平台。</p>
  </div>
</div>
<div class="row">
  <div class="about-connect">
    <div class="about-connect-box">
      <div class="about-connect-img">
        <img ng-src="assets/images/icon_18.png" alt="">
      </div>
      <div class="about-connect-description" style="width: 300px">
        <p>公司地址</p>
        <p>上 海：长宁区金钟路999号C栋易贸大楼</p>
        <p>Email：kefu@celloud.cn</p>
      </div>
    </div>
    <div class="about-connect-box">
      <div class="about-connect-img">
        <img ng-src="assets/images/icon_20.png" alt="">
      </div>
      <div class="about-connect-description">
        <p>商业合作</p>
        <p>电  话：+86 010-59264693</p>
        <p>E-mail：partnership@celloud.cn</p>
      </div>
    </div>
    <div class="about-connect-box">
      <div class="about-connect-img">
        <img ng-src="assets/images/icon_24.png" alt="">
      </div>
      <div class="about-connect-description">
        <p>平台客服</p>
        <p>电  话：+86 010-59264693</p>
        <p>E-mail：kefu@celloud.cn</p>
      </div>
    </div>
    <div class="about-connect-box">
      <div class="about-connect-img">

      </div>
      <div class="about-connect-description" style="width: 300px">
        <p style="font-size: 14px;font-weight: 400;color: #323232;">北 京：朝阳区慈云寺桥住邦2000，4号楼21F</p>
        <p>Tel：  +86 010-59264693</p>
        <p>Email：kefu@celloud.cn</p>
      </div>
    </div>
    <div class="about-connect-box">
      <div class="about-connect-img">
        <img ng-src="assets/images/icon_22.png" alt="">
      </div>
      <div class="about-connect-description">
        <p>人事招聘</p>
        <p>电  话：+86 010-59264693</p>
        <p>E-mail：hr@celloud.cn</p>
      </div>
    </div>
  </div>
</div>

