<div class="row ibox-article-box" ng-if="vm.status === 'background'">
  <div class="ibox-article">
    <p class="article-title">1、乳腺癌遗传易感性</p>
    <p class="article-font">     乳腺癌是妇女最常见的恶性肿瘤之一，目前发病年龄提前，发病率呈上升趋势。
      乳腺癌家族史以及携带与乳腺癌相关的基因突变是乳腺癌发生的危险因素，现已知有二十多种乳腺癌遗传易感基因，其中最重要的是BRCA1基因和BRCA2基因。
    </p>
  </div>
  <div class="ibox-article">
    <p class="article-title">2、BRCA1/2基因</p>
    <p class="article-font">     正常的BRCA1/2基因作为抑癌基因，保护细胞不会生长失控和癌变。未突变的BRCA基因在调节细胞复制、DNA损伤修复、
      细胞正常生长方面有重要作用。而发生有害突变的BRCA基因则无法修复DNA损伤，任由DNA中的异常不断累积，最终导致癌症的形成。
    </p>
    </div>
  <div class="ibox-article">
    <p class="article-title">3、基因突变</p>
    <p class="article-font">BRCA突变位点多达上千种，与人体的很多癌症的发生都有关系，其中关系最密切者是乳腺癌，其次是卵巢癌。
      BRCA基因上众多不同的突变位点中，并不是每一个突变都会导致相同的风险。有的SNP（单核苷酸多态性）与癌症只有较小的相关性，
      可能只在其他突变同时存在或者某些特定条件下才表现出危害。有的突变则通过体外实验、计算机模型计算、临床数据分析等方式证实其与乳腺癌
      /卵巢癌的发病显著相关。
    </p>
  </div>
  <div class="ibox-article">
    <p class="article-title">4、检测意义</p>
    <p class="article-font"> 1.掌握自己基因突变情况，及早评估遗传性乳腺癌的患病风险，更好地指导健康的生活。</p>
    <p class="article-font"> 2.推断亲属的基因突变情况，辅助亲属确认是否携带有害突变，间接评估亲属乳腺癌患病风险。</p>
    <p class="article-font"> 3.检测结果对于临床诊断与治疗有参考意义*.</p>
    <p class="article-font"> (*是否有参考意义以临床主治医生的医学诊断结论为依据。)</p>
  </div>
</div>
<div class="row ibox-article-box" ng-if="vm.status === 'technology'">
  <div class="ibox-article">
    <p class="article-title">1、检测方法：</p>
    <p class="article-font">BRCA Mutat ScanTM检测乳腺癌易感基因BRCA1/BRCA2的外显子区及其两侧的内含子连接区。
      按标准操作流程从受检者的血液、口腔组织中提取基因组DNA，经定量和质检合格后用于目标区域的扩增。目标区域外显子及两侧内含子
      连接区序列由多对特异引物扩增富集。目标区域测序利用二代测序技术（next-generation sequencing-based , NGS）的主流平台完成。
    </p>
  </div>
  <div class="ibox-article">
    <p class="article-title">2、实验流程图：</p>
    <p class="article-font" style="margin-top: 20px;margin-bottom: 20px;text-align: center"><img ng-src="assets/images/img_mulan_technology.png"></p>
  </div>
</div>
<div class="row ibox-article-box" ng-if="vm.status === 'process'">
  <div class="ibox-article">
    <p class="article-title">检测流程</p>
    <p class="article-font" style="margin-top: 20px;margin-bottom: 20px;text-align: center"><img ng-src="assets/images/img_mulan_process.png"></p>
  </div>
</div>
<div class="row ibox-article-box" ng-if="vm.status === 'advantage'">
  <div class="ibox-article">
    <p class="article-title">1、含中国人位点数据</p>
    <p class="article-font">Celloud-BRCA数据库综合国际数据库及公司自建中国人群乳腺癌突变信息数据库，涵盖了目前已知的所有BRCA基因突变位点，位点全面、精准。
    </p>
  </div>
  <div class="ibox-article">
    <p class="article-title">2、位点注释信息丰富</p>
    <p class="article-font">数据库中每个突变位点都有遗传学注释信息，包括核苷酸水平变化、氨基酸水平变化，对应的蛋白质变化，以及对临床诊治的影响(以及相应的临床影响)，并有专业文献索引。
    </p>
  </div>
  <div class="ibox-article">
    <p class="article-title">3、生物信息技术创新</p>
    <p class="article-font">数据分析软件为自主创新研发；通过大量样本数据积累、分析、训练，从数据、算法、参数等不同维度完善流程，使得分析结果更为准确。
    </p>
  </div>
  <div class="ibox-article">
    <p class="article-title">4、遗传信息解读权威</p>
    <p class="article-font">以美国遗传学与基因组学学会（ACMG）联合分子病理学学会（AMP）发布的解读标准为蓝本，由耶鲁大学医学院乳腺癌分子研究专家审核，结果报告权威。
    </p>
  </div>

</div>
<div class="row ibox-article-box" ng-if="vm.status === 'about'">
  <div class="ibox-article">
    <p class="article-title">血液检测：</p>
    <p class="article-font">2-5ml外周血，用含EDTA的抗凝管（紫色头）收集后混匀，常温保存运输，保存运输周期要小于5天。</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">口腔黏膜细胞：</p>
    <p class="article-font">左右口腔壁采集好的2支口腔拭子，按说明书操作后保存于EP管中，常温保存运输，运输周期要小于5天。</p>
  </div>
  <!--<div class="ibox-article">
    <p class="article-title">送检联系方式：</p>
    <p class="article-font">12345678</p>
  </div>-->
</div>
<div class="row ibox-article-box" ng-if="vm.status === 'product'">
  <div class="ibox-article">
    <p class="article-title">A女士为了得到靠谱的乳腺癌BRCA基因检测结果，同时选取了华木兰及另外两个知名公司的相应产品来进行检测。检测结果比较如下：</p>
    <p class="article-font" style="margin-top: 20px;margin-bottom: 20px;text-align: center"><img ng-src="assets/images/img_mulan_product.png"></p>
    <p>结果显示华木兰TM检测到的突变数目最多，完全涵盖了其余两个产品；突变解释数目也是最多，给出了更多的专业信息。</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">华木兰TM能表现得更为出色，理由在于：</p>
    <p class="article-font">1. 生物信息学的计算方法不断革新，结合国际前沿的学术成果，根据实际运算需求，自主开发创新，不依赖现有软件；</p>
    <p class="article-font">2. 大量数据的data training，人工核查生物信息分析流程的中间结果，积累经验，准确调控分析流程；</p>
    <p class="article-font">3. 数据库位点信息全面、完整，特含公司自建中国人群突变位点信息数据库。对每个位点都有生物学专业角度的解释，并有相应临床影响描述。</p>
  </div>
</div>
