*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#set mac
.DS_Store

#set Analysis

Analysis/.DS_Store
Analysis/.classpath
Analysis/.project
Analysis/target/
Analysis/.settings/
Analysis/.codepro/

#celloud
celloud/.DS_Store
celloud/.classpath
celloud/.project
celloud/target/
celloud/.settings/

#Tools
Tools/.DS_Store
Tools/.classpath
Tools/.project
Tools/target/
Tools/.settings/
