<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.celloud.mapper.AccessKeyMapper" >
  <resultMap id="BaseResultMap" type="com.celloud.model.mysql.AccessKey" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="key_id" property="keyId" jdbcType="VARCHAR" />
    <result column="key_secret" property="keySecret" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, key_id, key_secret, state, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_access_key
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_access_key
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.celloud.model.mysql.AccessKey" >
    insert into tb_access_key (id, user_id, key_id, 
      key_secret, state, create_date)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{keyId,jdbcType=VARCHAR}, 
      #{keySecret,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.celloud.model.mysql.AccessKey" >
    insert into tb_access_key
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="keyId != null" >
        key_id,
      </if>
      <if test="keySecret != null" >
        key_secret,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="keyId != null" >
        #{keyId,jdbcType=VARCHAR},
      </if>
      <if test="keySecret != null" >
        #{keySecret,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.celloud.model.mysql.AccessKey" >
    update tb_access_key
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="keyId != null" >
        key_id = #{keyId,jdbcType=VARCHAR},
      </if>
      <if test="keySecret != null" >
        key_secret = #{keySecret,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.celloud.model.mysql.AccessKey" >
    update tb_access_key
    set user_id = #{userId,jdbcType=INTEGER},
      key_id = #{keyId,jdbcType=VARCHAR},
      key_secret = #{keySecret,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_access_key
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByIdAndSecret" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_access_key
    where key_id = #{keyId,jdbcType=VARCHAR} and key_secret = #{keySecret,jdbcType=VARCHAR}
  </select>
  <select id="selectKeysByPage" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_access_key
    WHERE user_id = #{userId}
    ORDER BY create_date DESC
  </select>
</mapper>