<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.celloud.mapper.ClientMapper" >
  <resultMap id="BaseResultMap" type="com.celloud.model.mysql.Client" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="name_x86" property="nameX86" jdbcType="VARCHAR" />
    <result column="name_x64" property="nameX64" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, name_x86, name_x64, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_client
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_client
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.celloud.model.mysql.Client" >
    insert into tb_client (id, version, name_x86, 
      name_x64, create_date)
    values (#{id,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, #{nameX86,jdbcType=VARCHAR}, 
      #{nameX64,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.celloud.model.mysql.Client" >
    insert into tb_client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="nameX86 != null" >
        name_x86,
      </if>
      <if test="nameX64 != null" >
        name_x64,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="nameX86 != null" >
        #{nameX86,jdbcType=VARCHAR},
      </if>
      <if test="nameX64 != null" >
        #{nameX64,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.celloud.model.mysql.Client" >
    update tb_client
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="nameX86 != null" >
        name_x86 = #{nameX86,jdbcType=VARCHAR},
      </if>
      <if test="nameX64 != null" >
        name_x64 = #{nameX64,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.celloud.model.mysql.Client" >
    update tb_client
    set version = #{version,jdbcType=VARCHAR},
      name_x86 = #{nameX86,jdbcType=VARCHAR},
      name_x64 = #{nameX64,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getLast" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from tb_client
    order by id desc limit 1
  </select>
</mapper>