<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.celloud.mapper.RechargeMapper">
	<resultMap id="BaseResultMap" type="com.celloud.model.mysql.Recharge">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="recharge_type" jdbcType="BIT" property="rechargeType" />
		<result column="recharge_id" jdbcType="INTEGER" property="rechargeId" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="amount" jdbcType="DECIMAL" property="amount" />
		<result column="balances" jdbcType="DECIMAL" property="balances" />
		<result column="invoice_state" jdbcType="BIT" property="invoiceState" />
		<result column="invoice_id" jdbcType="INTEGER" property="invoiceId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, recharge_type, recharge_id, create_date, amount, balances, invoice_state,
		invoice_id
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_recharge
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_recharge
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.celloud.model.mysql.Recharge">
		insert into tb_recharge (id, user_id, recharge_type,
		recharge_id, create_date, amount,
		balances, invoice_state, invoice_id
		)
		values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{rechargeType,jdbcType=BIT},
		#{rechargeId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{amount,jdbcType=DECIMAL},
		#{balances,jdbcType=DECIMAL}, #{invoiceState,jdbcType=BIT}, #{invoiceId,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.celloud.model.mysql.Recharge">
		insert into tb_recharge
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="rechargeType != null">
				recharge_type,
			</if>
			<if test="rechargeId != null">
				recharge_id,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="balances != null">
				balances,
			</if>
			<if test="invoiceState != null">
				invoice_state,
			</if>
			<if test="invoiceId != null">
				invoice_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="rechargeType != null">
				#{rechargeType,jdbcType=BIT},
			</if>
			<if test="rechargeId != null">
				#{rechargeId,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=DECIMAL},
			</if>
			<if test="balances != null">
				#{balances,jdbcType=DECIMAL},
			</if>
			<if test="invoiceState != null">
				#{invoiceState,jdbcType=BIT},
			</if>
			<if test="invoiceId != null">
				#{invoiceId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.celloud.model.mysql.Recharge">
		update tb_recharge
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="rechargeType != null">
				recharge_type = #{rechargeType,jdbcType=BIT},
			</if>
			<if test="rechargeId != null">
				recharge_id = #{rechargeId,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="amount != null">
				amount = #{amount,jdbcType=DECIMAL},
			</if>
			<if test="balances != null">
				balances = #{balances,jdbcType=DECIMAL},
			</if>
			<if test="invoiceState != null">
				invoice_state = #{invoiceState,jdbcType=BIT},
			</if>
			<if test="invoiceId != null">
				invoice_id = #{invoiceId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.celloud.model.mysql.Recharge">
		update tb_recharge
		set user_id = #{userId,jdbcType=INTEGER},
		recharge_type = #{rechargeType,jdbcType=BIT},
		recharge_id = #{rechargeId,jdbcType=INTEGER},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		amount = #{amount,jdbcType=DECIMAL},
		balances = #{balances,jdbcType=DECIMAL},
		invoice_state = #{invoiceState,jdbcType=BIT},
		invoice_id = #{invoiceId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateRechargeInvoiceId">
	   update tb_recharge set invoice_id = #{invoiceId}, invoice_state = 1
	   where id in (
	   <foreach collection="rechargeIds" item="id" separator=",">
            #{id}
        </foreach>
	   )
	</update>
	<select id="findRecharges" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_recharge
		where user_id = #{userId,jdbcType=INTEGER}
		order by create_date desc
	</select>
	<select id="findRechargesInIds" resultMap="BaseResultMap">
	   select r.id, r.user_id, r.recharge_type, r.recharge_id, r.create_date, 
	       r.amount, r.balances, r.invoice_state, r.invoice_id 
       from tb_recharge r where r.invoice_state = 0 and user_id = #{userId} and r.id in 
       <foreach collection="ids" item="id" open="(" close=")" separator=",">
        ${id}
       </foreach>
	</select>
</mapper>