<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.celloud.mapper.SampleStorageMapper" >
  <resultMap id="BaseResultMap" type="com.celloud.model.mysql.SampleStorage" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="storage_name" property="storageName" jdbcType="VARCHAR" />
    <result column="index" property="index" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="sample_num" property="sampleNum" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.celloud.model.mysql.SampleStorage" >
    insert into tb_sample_storage (id, storage_name, index, 
      create_date, sample_num)
    values (#{id,jdbcType=INTEGER}, #{storageName,jdbcType=VARCHAR}, #{index,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{sampleNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.celloud.model.mysql.SampleStorage" >
    insert into tb_sample_storage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storageName != null" >
        storage_name,
      </if>
      <if test="index != null" >
        index,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="sampleNum != null" >
        sample_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storageName != null" >
        #{storageName,jdbcType=VARCHAR},
      </if>
      <if test="index != null" >
        #{index,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sampleNum != null" >
        #{sampleNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>