<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.celloud.mapper.TagMapper" >
  <resultMap id="BaseResultMap" type="com.celloud.model.mysql.Tag" >
    <id column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tag_id, tag_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.celloud.model.mysql.Tag" >
    insert into tb_tag (tag_id, tag_name)
    values (#{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.celloud.model.mysql.Tag" >
    insert into tb_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.celloud.model.mysql.Tag" >
    update tb_tag
    <set >
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.celloud.model.mysql.Tag" >
    update tb_tag
    set tag_name = #{tagName,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="findTags" resultMap="BaseResultMap">
    select tag.* from tb_tag tag,tb_task t,tb_app_tag_relat atr
    where tag.tag_id=atr.tag_id and atr.app_id=t.app_id and t.user_id=#{userId} and t.state=#{state} group by tag_id
  </select>
  <select id="selectProductTags" resultMap="BaseResultMap">
  	SELECT t.*
  	FROM tb_user_app_right uar, tb_app a, tb_app_tag_relat atr, tb_tag t
  	WHERE t.tag_id = atr.tag_id
  	AND atr.app_id = a.app_id
  	AND uar.app_id = a.app_id
  	AND uar.is_add = 1
  	AND uar.user_id = #{userId}
  	AND a.off_line = #{state}
  </select>
  <select id="listProductTagsToSelect" resultType="java.util.Map">
    SELECT t.tag_id as id, t.tag_name as text
    FROM tb_user_app_right uar, tb_app a, tb_app_tag_relat atr, tb_tag t
    WHERE t.tag_id = atr.tag_id
    AND atr.app_id = a.app_id
    AND uar.app_id = a.app_id
    AND uar.is_add = 1
    AND uar.user_id = #{userId}
    AND a.off_line = #{state}
  </select>
</mapper>