<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.celloud.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.celloud.model.mysql.User">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="cellphone" property="cellphone" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="icon" property="icon" jdbcType="VARCHAR" />
		<result column="role" property="role" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="navigation" property="navigation" jdbcType="INTEGER" />
		<result column="truename" property="truename" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="dept_id" property="deptId" jdbcType="INTEGER" />
		<result column="login_uuid" property="loginUuid" jdbcType="VARCHAR" />
		<result column="company_id" property="companyId" jdbcType="INTEGER" />
		<result column="sign" property="sign" jdbcType="VARCHAR" />
		<result column="balances" property="balances" jdbcType="DECIMAL" />
	</resultMap>
	<resultMap id="ClientResultMap" type="com.celloud.model.mysql.User" extends="BaseResultMap">
	    <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="district" property="district" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, username, email, cellphone, create_date,
		icon,
		role,
		remark, navigation,
		truename, state, dept_id,
		login_uuid,
		company_id, sign,balances
	</sql>
	<sql id="Client_Column_List">
        address,zip_code,age,sex, province, city, district
    </sql>
	<select id="selectByPrimaryKey" resultMap="ClientResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />,
		<include refid="Client_Column_List" />
		from tb_user
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<select id="selectUserByIdNotIcon" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		user_id, username, email, cellphone, create_date,
		role,
		remark, navigation,
		truename, state, dept_id,
		login_uuid,
		company_id, sign,balances
		from tb_user
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tb_user
		where user_id = #{userId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.celloud.model.mysql.User">
		insert into tb_user (user_id,
		username, password,
		email, cellphone, create_date,
		icon, role, remark,
		navigation, truename, state,
		dept_id, login_uuid, company_id,
		sign,balances)
		values
		(#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{cellphone,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{icon,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR},
		#{navigation,jdbcType=INTEGER},
		#{truename,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},
		#{deptId,jdbcType=INTEGER}, #{loginUuid,jdbcType=VARCHAR},
		#{companyId,jdbcType=INTEGER},
		#{sign,jdbcType=VARCHAR}),#{balances,jdbcType=DECIMAL})
	</insert>
	<insert id="insertSelective" parameterType="com.celloud.model.mysql.User">
		insert into tb_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="cellphone != null">
				cellphone,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="role != null">
				role,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="navigation != null">
				navigation,
			</if>
			<if test="truename != null">
				truename,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="deptId != null">
				dept_id,
			</if>
			<if test="loginUuid != null">
				login_uuid,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="sign != null">
				sign,
			</if>
			<if test="balances != null">
				balances,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="cellphone != null">
				#{cellphone,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="icon != null">
				#{icon,jdbcType=VARCHAR},
			</if>
			<if test="role != null">
				#{role,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="navigation != null">
				#{navigation,jdbcType=INTEGER},
			</if>
			<if test="truename != null">
				#{truename,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="deptId != null">
				#{deptId,jdbcType=INTEGER},
			</if>
			<if test="loginUuid != null">
				#{loginUuid,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=INTEGER},
			</if>
			<if test="sign != null">
				#{sign,jdbcType=VARCHAR},
			</if>
			<if test="balances != null">
				#{balances,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.celloud.model.mysql.User">
		update tb_user
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="cellphone != null">
				cellphone = #{cellphone,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="icon != null">
				icon = #{icon,jdbcType=VARCHAR},
			</if>
			<if test="role != null">
				role = #{role,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="navigation != null">
				navigation = #{navigation,jdbcType=INTEGER},
			</if>
			<if test="truename != null">
				truename = #{truename,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="deptId != null">
				dept_id = #{deptId,jdbcType=INTEGER},
			</if>
			<if test="loginUuid != null">
				login_uuid = #{loginUuid,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=INTEGER},
			</if>
			<if test="sign != null">
				sign = #{sign,jdbcType=VARCHAR},
			</if>
			<if test="balances != null">
				balances = #{balances,jdbcType=DECIMAL},
			</if>
			
			<if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="zipCode != null">
                zip_code = #{zipCode,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=INTEGER},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=INTEGER},
            </if>
            <if test="district != null">
                district = #{district,jdbcType=INTEGER},
            </if>
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="customUpdateByPrimaryKeySelective" parameterType="com.celloud.model.mysql.User">
        update tb_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="cellphone != null">
                cellphone = #{cellphone,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="navigation != null">
                navigation = #{navigation,jdbcType=INTEGER},
            </if>
            <if test="truename != null">
                truename = #{truename,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=INTEGER},
            </if>
            <if test="loginUuid != null">
                login_uuid = #{loginUuid,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="sign != null">
                sign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="balances != null">
                balances = #{balances,jdbcType=DECIMAL},
            </if>
            
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="zipCode != null">
                zip_code = #{zipCode,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=INTEGER},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=INTEGER},
            </if>
            <if test="district != null">
                district = #{district,jdbcType=INTEGER},
            </if>
            <if test="province == null">
                province = NULL,
            </if>
            <if test="city == null">
                city = NULL,
            </if>
            <if test="district == null">
                district = NULL,
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
	<update id="updateByPrimaryKey" parameterType="com.celloud.model.mysql.User">
		update tb_user
		set
		username = #{username,jdbcType=VARCHAR},
		password
		=
		#{password,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		cellphone = #{cellphone,jdbcType=VARCHAR},
		create_date
		=
		#{createDate,jdbcType=TIMESTAMP},
		icon = #{icon,jdbcType=VARCHAR},
		role
		= #{role,jdbcType=INTEGER},
		remark =
		#{remark,jdbcType=VARCHAR},
		navigation = #{navigation,jdbcType=INTEGER},
		truename =
		#{truename,jdbcType=VARCHAR},
		state =
		#{state,jdbcType=INTEGER},
		dept_id = #{deptId,jdbcType=INTEGER},
		login_uuid =
		#{loginUuid,jdbcType=VARCHAR},
		company_id =
		#{companyId,jdbcType=INTEGER},
		sign = #{sign,jdbcType=VARCHAR},
		balances = #{balances,jdbcType=DECIMAL},
		address = #{address},
		zip_code = #{zipCode},
        age = #{age},
        sex = #{sex},
        province = #{province},		
        city = #{city},	
        district = #{district}		
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<select id="checkLogin" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_user
		where state = 0
		AND (
		username = #{username,jdbcType=VARCHAR}
		OR email = #{username,jdbcType=VARCHAR}
		)
		AND
		password = #{password,jdbcType=VARCHAR}
		AND role=0
	</select>
	<select id="getUserByEmail" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_user
		where state = 0
		AND email = #{email,jdbcType=VARCHAR}
	</select>
	<insert id="insertFindPwdInfo">
		insert into tb_user_find_pwd (user_id, expire_date,
		md5)
		values (#{userId,jdbcType=INTEGER},
		#{expireDate,jdbcType=TIMESTAMP},
		#{randomCode,jdbcType=VARCHAR})
	</insert>
	<delete id="cleanFindPwdByUserId">
		delete from tb_user_find_pwd
		where
		user_id=#{userId,jdbcType=INTEGER}
		OR expire_date &lt;=
		#{expireDate,jdbcType=TIMESTAMP}
	</delete>
	<delete id="cleanFindPwdByUsername">
		delete from tb_user_find_pwd
		where
		<if test="username != null">
			user_id=(
			select
			user_id from tb_user where
			username=#{username,jdbcType=VARCHAR}
			) OR
		</if>
		expire_date &lt;= #{expireDate,jdbcType=TIMESTAMP}
	</delete>
	<select id="getUserByFindPwd" resultMap="BaseResultMap">
		select
		tb_user.*
		from
		tb_user,tb_user_find_pwd
		where tb_user.state = 0
		AND
		tb_user.username =
		#{username,jdbcType=VARCHAR}
		AND
		tb_user.user_id=tb_user_find_pwd.user_id
		AND
		tb_user_find_pwd.md5=#{randomCode,jdbcType=VARCHAR}
	</select>
	<select id="getUserByName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_user
		where username = #{username}
	</select>
	<select id="getUserIdsByName" resultType="int" parameterType="java.util.List">
		select user_id from tb_user
		where username in (
		<foreach collection="usernames" item="username" separator=",">
			#{username}
		</foreach>
		)

	</select>
	<select id="findByUsernameOrEmail" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		,password
		from tb_user
		where (username = #{username} or email = #{username}) and state = 0 AND (role=0 or role=3 or role = 5)
	</select>
	<select id="isEmailInUse" resultType="int">
		select count(1) from tb_user where email=#{email} and user_id != #{userId}
	</select>
	<select id="isCellphoneInUse" resultType="int">
	   select count(1) from tb_user where cellphone=#{cellphone}
	</select>
	<select id="getCompanyIdByUserId" resultType="java.lang.Integer">
		select company_id from tb_user_company_relat where user_id =
		#{userId}
	</select>
	<select id="selectByIds" resultType="java.lang.String">
		select username from tb_user
		where user_id in (${userIds})
	</select>
	<select id="selectUserByIds" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" /> 
		from tb_user
		where user_id in (${userIds})
	</select>
	<insert id="insertUserWechatInfo">
        insert into tb_user_wechat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="unionId != null">
                union_id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="getOpenIdByUser" resultType="java.lang.String">
        select open_id from tb_user_wechat
        where user_id=#{userId}
    </select>
    <select id="getUserByOpenId" resultMap="BaseResultMap">
        select
        u.user_id, u.username, u.email, u.cellphone, u.create_date,   u.icon,   u.role,u.remark, u.navigation, u.truename, u.state, u.dept_id, u.login_uuid, u.company_id,u.sign,u.balances
        from tb_user u,tb_user_wechat uw
        where u.user_id=uw.user_id and uw.open_id = #{openId}
    </select>
    <select id="checkWechatBind" resultType="java.lang.Integer">
        select count(*)
        from tb_user_wechat
        where open_id = #{openId}
        <if test="userId != null">
            or user_id=#{userId} 
        </if>
    </select>
    <select id="checkWechatUnBind" resultType="java.lang.Integer">
    	select count(*)
        from tb_user_wechat uw,tb_user u
        where uw.user_id = u.user_id and uw.open_id = #{openId} and password=#{pwd}
    </select>
    <delete id="wechatUnBind">
        delete uw from tb_user_wechat uw, tb_user u
 		where uw.open_id = #{openId} and u.password=#{pwd} and u.user_id=uw.user_id
    </delete>
    <select id="select" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_user
        <where>
            <if test="user.username != null">
                AND username = #{user.username}
            </if>
            <if test="user.password != null">
                AND password = #{user.password}
            </if>
            <if test="user.email != null">
                AND email = #{user.email}
            </if>
            <if test="user.cellphone != null">
                AND cellphone = #{user.cellphone}
            </if>
            <if test="user.createDate != null">
                AND create_date = #{user.createDate}
            </if>
            <if test="user.icon != null">
                AND icon = #{user.icon}
            </if>
            <if test="user.role != null">
                AND role = #{user.role}
            </if>
            <if test="user.remark != null">
                AND remark = #{user.remark}
            </if>
            <if test="user.navigation != null">
                AND navigation = #{user.navigation}
            </if>
            <if test="user.truename != null">
                AND truename = #{user.truename}
            </if>
            <if test="user.state != null">
                AND state = #{user.state}
            </if>
            <if test="user.deptId != null">
                AND dept_id = #{user.deptId}
            </if>
            <if test="user.loginUuid != null">
                AND login_uuid = #{user.loginUuid}
            </if>
            <if test="user.companyId != null">
                AND company_id = #{user.companyId}
            </if>
            <if test="user.sign != null">
                AND sign = #{user.sign}
            </if>
            <if test="user.balances != null">
                AND balances = #{user.balances}
            </if>
            AND user_id not in ${testAccountIds}
        </where>
    </select>
    <select id="findUsersByCompanyId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_user
        WHERE company_id = #{companyId}
        AND user_id not in (${testAccountIds})
        AND user_id != #{loginUserId}
        AND role = 0
    </select>
    <select id="findRoleIdsByUserId" resultType="java.lang.Integer">
        SELECT role_id
        FROM tb_sec_user_role_relat
        WHERE user_id = #{userId}
    </select>
    <select id="findUserByCellphoneAndRole" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_user
        WHERE cellphone = #{cellphone}
        AND role = #{role}
        AND state = #{state}
    </select>
</mapper>
