<div class="dashboard-f1-box">
  <div id='stars' style="opacity: 0.7"></div>
  <div id='stars2' style="opacity: 0.7"></div>
  <div id='stars3' style="opacity: 0.7"></div>
  <div class="ibox-content" style="position: relative;height: 657px">
    <p class="dashboard-title">专注、高效、安全的生物信息云平台</p>
    <p class="dashboard-description">Focused, efficient and secure cloud platform for Bioinformatics</p>
    <div class="animation animation-1">
      <img ng-src="assets/images/animation_1_03.png" alt="">
    </div>
    <div class="animation animation-2">
      <img ng-src="assets/images/animation_2_03.png" alt="">
    </div>
    <div class="animation animation-3">
      <img ng-src="assets/images/animation_3_03.png" alt="">
    </div>
  </div>
</div>
<div class="dashboard-f2-box">
  <div class="ibox-content">
    <div class="dashboard-f2-img">
      <img ng-src="assets/images/animation_img_03.png">
    </div>
    <div class="dashboard-f2-box-description">
      <p><span>读基因<br><small>Gene</small></span><span>懂生命<br><small>Life</small></span><span>享健康<br><small>Health</small></span></p>
    </div>
  </div>
</div>
<div class="dashboard-f3-box">
  <div class="ibox-content" style="position: relative;height: 657px">
    <div class="dashboard-f3-img-1">
      <img ng-src="assets/images/left_line.png">
    </div>
    <div class="dashboard-f3-img dashboard-f3-img-2">
      <img ng-src="assets/images/service.png">
      <img ng-src="assets/images/active_service.png">
    </div>
    <div class="dashboard-f3-img-3">
      <img ng-src="assets/images/top_line.png">
    </div>
    <div class="dashboard-f3-img dashboard-f3-img-4">
      <img ng-src="assets/images/cost.png">
      <img ng-src="assets/images/active_cost.png">
    </div>
    <div class="dashboard-f3-img-5">
      <img ng-src="assets/images/bottom_line.png">
    </div>
    <div class="dashboard-f3-img dashboard-f3-img-6">
      <img ng-src="assets/images/efficiency.png">
      <img ng-src="assets/images/active_efficiency.png">
    </div>
    <div class="dashboard-f3-img-7">
      <img ng-src="assets/images/right_line.png">
    </div>
    <div class="dashboard-f3-img dashboard-f3-img-8">
      <img ng-src="assets/images/channel.png">
      <img ng-src="assets/images/active_channel.png">
    </div>
    <div class="dashboard-f3-description dashboard-f3-description-1">
      <p>全球化服务</p>
      <p>Global service</p>
      <p>无需 "翻墙"</p>
      <p>在国外也可使用Celloud</p>
      <p>轻松搞定基因数据的分析解读</p>
    </div>
    <div class="dashboard-f3-description dashboard-f3-description-2">
      <p>降低投入成本</p>
      <p>Reduce input costs</p>
      <p>强大的技术团队</p>
      <p>助力企业在解决生信分析的软硬件高额投入</p>
    </div>
    <div class="dashboard-f3-description dashboard-f3-description-3">
      <p>提高企业效率</p>
      <p>Improve enterprise efficiency</p>
      <p>让企业专注于</p>
      <p>自己更擅长更专业的事情</p>
    </div>
    <div class="dashboard-f3-description dashboard-f3-description-4">
      <p>渠道整合</p>
      <p>Channel integration</p>
      <p>借助平台的资源整合作用</p>
      <p>拓展新的业务渠道</p>
    </div>
  </div>
</div>
<div class="dashboard-f4-box dashboard-f2-box">
  <div class="ibox-content">
    <div class="dashboard-f4-container">
      <img ng-src="assets/images/focus.png" alt="">
      <img ng-src="assets/images/active_focus.png" alt="">
      <div class="hover-box">
        <p class="hover-title">专注</p>
        <p class="hover-description">Focus</p>
        <div class="dashboard-f4-box-animation">
          <p>核心团队积累10年以上的生物信息、高性能计算及应用开发经验</p>
          <p>核心团队积累10年以上的生物信息、高性能计算及应用开发经验,在生物信息基础研究和应用领域发表SCI学术论文40+篇</p>
        </div>
      </div>
    </div>
    <div class="dashboard-f4-container">
      <img ng-src="assets/images/efficient.png" alt="">
      <img ng-src="assets/images/active_efficient.png" alt="">
      <div class="hover-box">
        <p class="hover-title">高效</p>
        <p class="hover-description">Efficient</p>
        <div class="dashboard-f4-box-animation">
          <p>拥有20+项自主研发的生物信息分析加速算法，适用于NGS的不同阶段</p>
          <p>拥有20+项自主研发的生物信息分析加速算法，适用于NGS的不同阶段,从样本采集到实验管理，到数据下机，到分析报告产出形成完整的作业流程，自动化、高速数据传输提供数据交付效率</p>
        </div>
      </div>
    </div>
    <div class="dashboard-f4-container">
      <img ng-src="assets/images/security.png" alt="">
      <img ng-src="assets/images/active_security.png" alt="">
      <div class="hover-box">
        <p class="hover-title">安全</p>
        <p class="hover-description">Security</p>
        <div class="dashboard-f4-box-animation">
          <p>公有云和私有云两种服务方式共存的混合云生物信息云平台</p>
          <p>公有云和私有云两种服务方式共存的混合云生物信息云平台
            多重权限校验和安全审计，数据采用AES256加密存储，符合HIPAA规范的数据存储架构
          </p>
        </div>
      </div>
    </div>
    <div class="dashboard-f4-container">
      <img ng-src="assets/images/convenient.png" alt="">
      <img ng-src="assets/images/active_convenient.png" alt="">
      <div class="hover-box">
        <p class="hover-title">便捷</p>
        <p class="hover-description">Convenient</p>
        <div class="dashboard-f4-box-animation">
          <p>操作简单，易于理解和使用</p>
          <p>操作简单，易于理解和使用
            随时上传数据并快速获取分析结果报告
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
