<li class="left">检测人：<span><input name="baseInfo['detection']" value="$!pgs.baseInfo.detection" type="text" class="input-mini" /></span></li>
<li class="left">审核人：<span><input name="baseInfo['review']" value="$!pgs.baseInfo.review" type="text" class="input-mini" /></span></li>
<li class="right pull-right">日期：<span><input name="baseInfo['date']" value="$!pgs.baseInfo.date" type="text" class="input-small" /></span></li>
