.input-alert{
    min-width: 130px;
    height: 22px;
    padding: 0px 20px;
    margin-left: 10px;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    .alert-variant(@alert-error-bg; @alert-error-bg; @font-black); 
    .border-radius(6px);
}

.message-alert{
    position: absolute;
    top: 0px;
    min-width: 130px;
    height: 22px;
    padding: 0px 20px;
    margin-left: 10px;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    .alert-variant(@alert-error-bg; @alert-error-bg; @font-black); 
    .border-radius(6px);
}