.bg-icons(@width,@height,@position-x,@position-y,@url:@celloud-bg-img){
    width: @width;
    height: @height;
    display: inline-block;
    background: url(@url) no-repeat center center;
    background-position: @position-x @position-y;
    vertical-align: text-bottom;
}
.client-bg-icons(@width,@height,@position-x,@position-y){
    .bg-icons(@width,@height,@position-x,@position-y,@client-bg-img);
}
.c-rocky-logo{
    .client-bg-icons(81px,50px,0,0);
}
.c-rocky-home{
    .client-bg-icons(16px,15px,-93px,0px);
}
.c-rocky-exit{
    .client-bg-icons(15px,16px,-143px,0px);
}
.c-sample-send{
    .client-bg-icons(134px,117px,0px,-66px);
}
.c-report{
    .client-bg-icons(134px,117px,-150px,-66px);
}
.logo{
    .bg-icons(108px,50px,0,0);
    .center-block();
}
.cubes-icon{
    .bg-icons(17px,17px,0px,-50px);
}
.upload-icon{
    .bg-icons(25px,17px,-60px,-50px);
}
.bell-icon{
    .bg-icons(13px,16px,-120px,-50px);
}
.mail-icon{
    .bg-icons(18px,12px,-360px,-50px);
}
.money-icon{
    .bg-icons(16px,18px,-180px,-50px);
}
.code-icon{
    .bg-icons(17px,17px,-240px,-50px);
}
.user-icon{
    .bg-icons(18px,17px,-300px,-50px);
}
.left-indent-icon{
    .bg-icons(16px,14px,-120px,-100px);
}
.right-indent-icon{
    .bg-icons(16px,14px,-120px,-125px);
}
.overview-icon{
    .bg-icons(20px,16px,0px,-100px);
}
.sample-icon{
    .bg-icons(19px,19px,-60px,-100px);
}
.count-icon{
	.bg-icons(20px,15px,-120px,-100px);
}
.experiment-icon{
    .bg-icons(19px,18px,-180px,-100px);
}
.data-icon{
    .bg-icons(20px,17px,-240px,-100px);
}
.report-icon{
    .bg-icons(18px,18px,-300px,-100px);
}
.app-icon{
    .bg-icons(18px,17px,-360px,-100px);
}
.account-icon{
    .bg-icons(18px,17px,-420px,-100px);
}
.qa-icon{
    .bg-icons(18px,17px,-480px,-100px);
}
.cost-icon{
    .bg-icons(18px,13px,-540px,-100px);
}
.statistics-icon{
    .bg-icons(19px,17px,-599px,-100px);
}
.company-icon{
    .bg-icons(19px,17px,-660px,-100px);
}
.myapp-icon{
    .bg-icons(15px,16px,0px,-150px);
}
.mycount-icon{
    .bg-icons(16px,16px,-60px,-150px);
}
.bar-icon{
    .bg-icons(15px,13px,-120px,-150px);
}
.pie-icon{
    .bg-icons(15px,14px,-180px,-150px);
}
.report-icon-min{
    .bg-icons(13px,13px,-420px,-150px);
}
.app-icon-min{
    .bg-icons(13px,14px,-360px,-150px);
}
.next-icon{
    .bg-icons(12px,12px,-240px,-150px);
}
.setup-icon{
    .bg-icons(15px,15px,-300px,-150px);
}
.bar-icon-lg{
    .bg-icons(78px,69px,0px,-200px);
}
.pie-icon-lg{
    .bg-icons(78px,75px,-120px,-200px);
}
.app-icon-lg{
    .bg-icons(74px,78px,-240px,-200px);
}
.report-icon-lg{
    .bg-icons(75px,76px,-360px,-200px);
}
.money-icon-lg{
    .bg-icons(71px,79px,-480px,-200px);
}
.hbv-tips{
    background: url(@hbv-tips-bg) no-repeat center center;
    background-size: 100%;
}
.active, a:hover{
    .overview-icon{
        .bg-icons(20px,16px,0px,-125px);
    }
     .sample-icon{
        .bg-icons(19px,19px,-60px,-125px);
    }
    .count-icon{
    	.bg-icons(20px,15px,-120px,-125px);
    }
    .experiment-icon{
        .bg-icons(19px,18px,-180px,-125px);
    }  
    .data-icon{
        .bg-icons(20px,17px,-240px,-125px);
    }
    .report-icon{
        .bg-icons(18px,18px,-300px,-125px);
    }
    .app-icon{
        .bg-icons(18px,17px,-360px,-125px);
    }
    .account-icon{
        .bg-icons(18px,17px,-420px,-125px);
    }
    .qa-icon{
        .bg-icons(18px,17px,-480px,-125px);
    }
    .cost-icon{
        .bg-icons(18px,13px,-540px,-125px);
    }
    .statistics-icon{
        .bg-icons(19px,17px,-599px,-126px);
    }
    .company-icon{
        .bg-icons(19px,17px,-660px,-126px);
    }
    .c-rocky-home{
        .client-bg-icons(16px,15px,-119px,0px);
    }
    .c-rocky-exit{
        .client-bg-icons(15px,16px,-170px,0px);
    }
    .c-sample-send{
        .client-bg-icons(134px,117px,-1px,-187px);
    }
    .c-report{
        .client-bg-icons(134px,117px,-150px,-187px);
    }
    &.hbv-tips{
        background: url(@hbv-tips-bg2) no-repeat center center;
        background-size: 100%;
    }
}