.breadcrumb {
    margin-bottom: 0;
    padding: 10px 20px;
    color: @font-gray;
    background: none;
    >li+li:before{
        padding: 0 3px 0px 0px;
        color: @font-gray;
        content: "＞";
    }   
}