/*按钮*/
.btn{
    .button-size(0px, 18px, 14px, 18px, 6px);
    min-width: 90px;
    height: 30px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    .button-variant(#fff,@content-green,@content-green);
    &.btn-cancel {
        .button-variant(@font-gray,@container-gray,@container-gray);
    }
    &.-confirm {
        background-color: @gray-black;
    }
    &.-lg{
        height: 30px;
        line-height: 28px;
    }
}