.header{
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1030;
    .navbar-default{
        background: #fff;
        .client{
            width: 1000px;
            margin: auto;
        }
        .navbar-nav>.open>a{
            background: #f0f0f0!important;
        }
    }
    ul{
        margin: 0;   
    }
    ul > li{
        float: left;
        text-align: center;
        > a{
            display: inline-block;
            height: 50px;
            line-height: 50px;
            padding: 0px 20px;
            &:hover,&:active{
                background: #f0f0f0!important;
            }
        }
        .label{
            position: absolute;
            top: 7px;
            right: 6px;
            text-align: center;
            font-size: 9px;
            padding: 2px 3px;
            .border-radius(46%);
            z-index: 9999;
        }
    }
//    li+li::before{
//        margin-left: -10px;
//        content: "";
//    }
    .navbar-toggle{
        color: @light-gray;
    }
    .dropdown-menu{
        min-width: 100px;
        min-height: 70px;
        left: inherit;
        right: 0;
        padding: 0;
        font-size: 10px;
        text-align: center;
        color: @dark-gray;
        .border-radius(0);
        .border-1(@light-gray);
        .btn{
            width: 70px;
            min-width: 70px;
            height: 24px;
            padding: 0px;
            line-height: 22px;
            font-size: 12px;
            color: #fff;
        }
        .btn-link{
            display: block;
            padding: 0;
            margin-top: 10px;
            height: 10px;
            line-height: 10px;
            font-size: 10px;
            color: @dark-gray;
        }
        >p{
            white-space: nowrap;
        }
    }
    .code-dropdown{
        >img{
            width: 100%;
        }
    }
    .message-dropdown{
        padding: 20px 10px;
    }
    .money-dropdown{
        min-width: 130px;
        padding: 14px 10px;
    }
    .user-dropdown{
        padding: 20px 10px;
        .btn-reset{
            margin-top: 10px;
        }
    }
    .product-dropdown{
        left: 0;
        padding: 0;
        min-height: 40px;
        a{
            position: relative;
            width: 100%;
            height: 40px;
            padding: 10px 0px;
            display: block;
        }
        >a:nth-of-type(even) {
            background: @content-gray;
        }
        img{
            position: absolute;
            left: 17px;
            top: 5px;
            width: 68px;
        }
    }
}
.navbar-logo{
    width: 170px;
    height: 50px;
    float: left;
    display: block;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    .transition-2(transform 0.3s ease-in-out, width 0.3s ease-in-out);
    &.mini{
        width: 50px;
        .transition-2(transform 0.3s ease-in-out, width 0.3s ease-in-out);
        .logo{
            width: 30px;
            .transition-2(transform 0.3s ease-in-out, width 0.3s ease-in-out);
        }
    }
}
@media (max-width: 767px){
    .header{
        height: 100px;
    }
}
