.modal{
    .modal-dialog{
        margin: 80px auto;
        width: 500px;
    }
    .modal-content{
        width: 100%;
        border: none;
        background-color: @content-gray;
        .modal-header{
            height: 40px;
            background-color: @gray-black;
            .border-radius(5px 5px 0px 0px);
            color: @light-gray;
            padding: 15px 15px;
            >h4{
                line-height: 0.5;
                font-size: 14px;
            }
            >.close{
                margin-top: -10px;
                width:20px;
                height: 20px;
                color: @light-gray;
                opacity: 1;
            }
        }
    }
    .modal-body{
        padding: 40px;
    }
    .form-modal{
        padding: 20px 40px;
        .form-group{
            margin-bottom: 10px;
        }
        h5{
            margin-top: 20px;
        }
        .form-label{
            padding-right: 0;
        }
        .info-form-group{
            padding-left: 28px;
        }
        .form-group-content{
            min-height: 30px;
            line-height: 30px;
        }
        input{
            width: 100%;
            .border-radius(6px);
        }
        .btn{
            width: 90px;
            height: 30px;
        }
        .btn-cancel{
            margin-right: 20px;
        }
        .checkbox-group{
            min-width: 120px;
            display: inline-block;
        }
    }
    &.tips-modal{
        .modal-dialog{
            width: 300px;
        }
        .modal-content h5{
            
            text-align: center;
            line-height: 30px;
            >i{
                margin-right: 20px;
                font-size: 30px;
                color: @alert-error-bg
            }
        }
    }
}
