.pro-sidebar{
    position: fixed;
    top: 0;
    left: 50px;
    width: 120px;
    min-height: 100%;
    color: @silver-gray;
    background: @gray-black;
    padding-top: 50px;
    z-index: 890;
//    .transition-2(transform 0.3s ease-in-out, left 0.3s ease-in-out);
    a{
        width: 100%;
        display: block;
        line-height: 40px;
        color: @content-gray;
    }
    .pro-sidebar-menu{
        width: 100%;
        white-space: nowrap!important;
        overflow: hidden;
        li{
            margin: 1px 0px;
            width: 100%;
            a{
                text-align: center;
            }
            &:hover>a, &.active>a {
                color: @content-green;
                background: @content-gray;
                border-left: 2px solid @content-green;
            }
        }
        >.pro-sidebar-header{
            margin: 0;
            margin-bottom: -1px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 14px;
            color: @dark-gray;
            .border-bottom-1(@dark-black);
        }
        >.pro-main{
            margin: 0;
            color: @dark-gray;
            .border-bottom-1(@dark-black);
            a{
                color: @dark-gray;
            }
            &:hover>a, &.active>a {
                color: @light-gray;
                background: @gray-black;
                border-left: none;
            }
        }
    }
    &.large-left{
        left: 170px;
    }
    &.product-sidebar{
        color: @gray-black;
        background: @light-gray;
        a{
            color: @gray-black;
        }
        >.rocky>.pro-sidebar-menu{
             >li{
                margin: 1px 0px;
                width: 100%;
                a{
                    text-align: center;
                }
                &:hover>a, &.active>a {
                    color: @rocky-font-color;
                    background: @content-gray;
                    border-left: 2px solid @rocky-border-color;
                }
            }
            >.pro-sidebar-header{
                background: @content-gray;
                .border-bottom-1(@light-gray);
                img{
                    width: 90px;
                    height: auto;
                }
            }
        }
    }
}
.pro-sidebar~.pro-body{
    padding-left: 120px;
}
ng-include~.pro-body{
    padding-left: 120px;
}