.originImg{
	width: 500px;
	height: 125px;
}
.filter{
	position: absolute;
	right: 80px;top:-1px;
	>input{
		width: 30px;
		height: 35px;
	}
}
h2{
	position: relative;
}
.m-box {
    margin: 10px;
    border: 1px solid #d8e2f0;
    border-radius: 6px;
    background-color: #fff;
}
.m-boxCon{
	word-break: break-all;
}
.w500 {
    width: 500px;
}
.m-tips {
    background-color: #f9fafd;
    height: 30px;
    line-height: 30px;
    padding-left: 19px;
    color: #6E88AC;
    font-size: 12px;
}

.table td {
    border: 1px solid #d8e2f0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
}