.originImg{
	width: 500px;
	height: 125px;
}
.filter{
	position: absolute;
	right: 80px;top:-1px;
	>input{
		width: 30px;
		height: 35px;
	}
}
h2{
	position: relative;
}
.m-box {
    margin: 10px;
    border: 1px solid #d8e2f0;
    border-radius: 6px;
    background-color: #fff;
}
.m-boxCon{
	word-break: break-all;
}
.w500 {
    width: 500px;
}
.m-tips {
    background-color: #f9fafd;
    height: 30px;
    line-height: 30px;
    padding-left: 19px;
    color: #6E88AC;
    font-size: 12px;
}

.table td {
    border: 1px solid #d8e2f0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
}

.quota-left {
    width: 50%;
    float: left;
}
.quota-right {
    width: 50%;
    float: right;
}
.quota-inner {
/*     margin-bottom: 25px; */
}
.quota-inner h5 {
    padding-left:0px;
    font-size:16px;
    font-weight: 700;
    margin: 8px 0;
}
.quota-usage {
    margin-bottom: 3px;
}
.quota-usage dt {
    width: 170px;
    float: left;
    line-height: 28px;
    vertical-align: middle;
    font-weight: 400;
}
.quota-usage dd {
    margin-left: 130px;
    overflow: hidden;
    word-break: break-all;
}
.quota-usage dd,.quota-usage dt {
    line-height: 28px;
    min-height: 28px;
}
.quota-usage .usage {
    display: block;
    height: 24px;
    width: 85%;
    border-radius: 2px;
    background: #f8f8f8;
    position: relative;
    padding-left:10px
}