@celloud-bg-img: "../images/icon/celloud.png";
@client-bg-img: "../images/icon/client-icon.png";
@hbv-tips-bg: "../images/icon/help1.png";
@hbv-tips-bg2: "../images/icon/help2.png";
@screen-arrow-bg: "../images/icon/screen-arrow.png";

@light-gray: #dcdcdc;
@dark-gray: #969696;
@silver-gray: #c8c8c8;
@container-gray: #f0f0f0;
@content-gray: #f8f8f8;
@font-gray: #a0a0a0;
@border-gray: #dedede;

@dark-black: #1a2226;
@gray-black: #2c3e50;
@font-black: #323232;

@content-green: #1dd2af;
@content-yellow: #f39c12;
@content-blue: #00c0ef;

@overview-red: #e7191b;
@overview-orange: #f2ae43;
@overview-green: #28b779;
@overview-blue: #28a9e3;
@overview-purple: #c180e6;
@switch-no: #ff587d;

@alert-error-bg: #ffbccb;
@chat-answer-bg: #f3e8f7;
@chat-question-bg: #e4f1f7;


@error-bg: rgba(255,88,125,0.5);

@rocky-font-color: #de4c95;
@rocky-bg-color: #fff2f8;
@rocky-text-color: #f3c8db;
@rocky-border-color: #f7c8da;

@search-box-a: #025e9e;
@reset-btn-bg: #e6e6e6;

@c-fff: #fff;
@c-aaa: #aaa;
@c-7d7d7d: #7d7d7d;
@c-95: #959595;
@c-ddd: #ddd;



