<script type="text/javascript">
$(function(){
    var url = window.location.href.split("print")[0];
    var sex = $("#men").prop("checked");
    
    $("#print").click(function(){
        var inputVal;
        var textareaVal;
        var classname;
        var id;
        var name;
        var cmpDrug = "";
        $("body").find("section").each(function(){
            $(this).removeClass("border1");
        });
        $("body").find("input[type='text']").each(function(){
            inputVal = $(this).val();
            classname = $(this).attr("class");
            name = $(this).attr("name"); 
            id = $(this).attr("id"); 
            $(this).parent().html("<input id='"+id+"' name='"+name+"' type='hidden' value='"+classname+"'><span name='print'>"+inputVal+"</span>");
        });
        $("body").find("table[name='cmpDrugTable']").find("tbody").find("tr").each(function(){
            $(this).find("td").each(function(){
                cmpDrug += $(this).find("span").html() + "#";
            });
            cmpDrug += "@";
        });
        $("#section4 textarea").each(function(){
            textareaVal = $(this).val();
            $(this).parent().html("<p name='section4p'><input type='hidden' value='"+$(this).attr("name")+"'>"+textareaVal+"</p>");
        });
        var sex = $("input[type='radio']:checked").val();
        $("#_sex").html(sex);
        $("#change").hide();
        if($("#noMutation").prop("checked")){
            $("#noDrug").css("display","");
        }
        $("#checkboxdiv").css("display","none");
        $("a").css("display","none");
        window.print();
        $("#change").show();
        $("body").find("section").each(function(){
            $(this).addClass("border1");
        });
        $("body").find("span[name='print']").each(function(){
            inputVal = $(this).html();
            classname = $(this).prev().val();
            name = $(this).prev().attr("name"); 
            id = $(this).prev().attr("id"); 
            $(this).parent().html("<input id='"+id+"' name='"+name+"' type='text' class='"+classname+"' value='"+inputVal+"'>");
        });
        $("body").find("p[name='section4p']").each(function(){
            inputVal = $(this).text();
            name = $(this).find("input").val();
            $(this).parent().html("<textarea name='"+name+"' class='form-control' rows='15' cols='100'>"+inputVal+"</textarea>");
        });
        $("#_sex").html("<input type='radio' name='patientSex' value='男'>男<input type='radio' name='patientSex' value='女'>女");
        $("input[type='radio'][value="+sex+"]").prop("checked",true); 
        $("#noDrug").css("display","none");
        $("#checkboxdiv").css("display","");
        $("#patientName").on("change",function(){
           unityPatientName($(this).val());
         });
         $("#patientName1").on("change",function(){
             unityPatientName($(this).val());
         });
         $("#samplingDate").on("change",function(){
           unitySamplingDate($(this).val());
         });
         $("#samplingDate1").on("change",function(){
             unitySamplingDate($(this).val());
         });
        $("a").css("display","");
    });
    
    $("#save").click(function(){
        $.post(url + "updateYANDAFilling",$("#cmp-form").serialize(),function(){
            $.lAlert("信息保存成功!");
        });
    });
    
    $("#reset").on("click",function(){
        $.lConfirm("确认重置?",function(){
            $(':input','#cmp-form')  
             .not(':button, :submit, :reset, :hidden')  
             .val('')  
             .removeAttr('checked')  
             .removeAttr('selected');
             $.post(url + "updateYANDAFilling",$("#cmp-form").serialize());
        });
    });
    
    var ntemp = 0;
    if($("#drugTbody_3_tr_length").val()>1){
        num = $("#drugTbody_3_tr_length").val();
    }else if($("#drugTbody_4_tr_length").val()>1&&$("#drugTbody_4_tr_length").val()>$("#drugTbody_3_tr_length").val()){
        num = $("#drugTbody_4_tr_length").val();
    }
    $("#section5 table").each(function(index,element){
        ntemp++;
        if(ntemp==1){
            $(this).attr("class","table table-striped-green table-text-center");
        }else if(ntemp==2){
            $(this).attr("class","table table-striped-blue table-text-center");
        }else if(ntemp==3){
            $(this).attr("class","table table-striped-orange table-text-center");
            ntemp = 0;
        }
    });
    $("#noMutation").change(function(){
        if($("#noMutation").prop("checked")){
            $("#drugTable").css("display","none");
            $("#del_drugTbody_3").css("display","none");
            $("#drugTable").parent().find("a").css("display","none");
        }else{
            $("#drugTable").css("display","");
            $("#del_drugTbody_3").css("display","");
            $("#drugTable").parent().find("a").css("display","");
        }
    });
    $("#patientName").on("change",function(){
      unityPatientName($(this).val());
    });
    $("#patientName1").on("change",function(){
        unityPatientName($(this).val());
    });
    $("#samplingDate").on("change",function(){
      unitySamplingDate($(this).val());
    });
    $("#samplingDate1").on("change",function(){
        unitySamplingDate($(this).val());
    });

    printSection2Table();
    $("#section5").find("div[name='geneDescriptDiv']").each(function(index,element){
        var height1 = $(this).height()+36;
        var height2 = $(this).parent().find("table").find("tr").length;
        var height_t = $(this).parent().parent().parent().height();
        if(height_t>980 &&((height1>670 && height2>1) || (height1>570 && height2>5)|| (height1>550 && height2>6))){
            $(this).addClass("w3cbbs");
        }
    });
    $("#section5").find("ul[class='list']").each(function(){
        printTable($(this),980);    
    });
    printSection6Table();
    
});
function radioClick(num){
    if(num==0){
        $("#men").attr("checked","checked");
        $("#women").removeAttr("checked");
    }else{
        $("#women").attr("checked","checked");
        $("#men").removeAttr("checked");
    }
};

function unityPatientName(name){
  $("#patientName").val(name);
  $("#patientName1").val(name);
}
function unitySamplingDate(name){
  $("#samplingDate").val(name);
  $("#samplingDate1").val(name);
}

function removeTr(id){
    $("#"+id).remove();
}
var usefulGeneResultIndex = 0;
function addUsefulGeneResult(tbody,index){
  if(usefulGeneResultIndex == 0){
      usefulGeneResultIndex = index;
  }
  usefulGeneResultIndex++;
  var tr = "<tr id=\""+tbody+"_tr"+usefulGeneResultIndex+"\" name=\"usefulGeneResult_tr\">"
        + "<td><input type=\"text\" name=\"usefulGeneResult["+usefulGeneResultIndex+"].gene\" class=\"form-control\"></td>"
        + "<td><input type=\"text\" name=\"usefulGeneResult["+usefulGeneResultIndex+"].refBase\" class=\"form-control\"></td>"
        + "<td><input type=\"text\" name=\"usefulGeneResult["+usefulGeneResultIndex+"].depth\" class=\"form-control\"></td>"
        + "<td><input type=\"text\" name=\"usefulGeneResult["+usefulGeneResultIndex+"].mutBase\" class=\"form-control\"></td>"
        + "<td><input type=\"text\" name=\"usefulGeneResult["+usefulGeneResultIndex+"].cdsMutSyntax\" class=\"form-control\"></td>"
        + "<td class=\"havedel\">"
        + "<input type=\"text\" name=\"usefulGeneResult["+usefulGeneResultIndex+"].aaMutSyntax\" class=\"form-control\">"
        + "<a href=\"javascript:removeTr('"+tbody+"_tr"+usefulGeneResultIndex+"')\" title=\"删除整行\"/>"
        + "</td></tr>"
  $("#"+tbody).append(v1);
}
var drugResistanceIndex = 0;
function addDrugResistance(tbody,index){
  if(drugResistanceIndex == 0){
      drugResistanceIndex = index;
  }
  drugResistanceIndex++;
  var v1="<tr id=\""+tbody+"_tr"+drugResistanceIndex+"\"><td><input type=\"text\" name=\"resistanceSiteSum["+drugResistanceIndex+"].geneName\" class=\"form-control\"></td><td><input type=\"text\" name=\"resistanceSiteSum["+drugResistanceIndex+"].mutationSite\" class=\"form-control\"></td><td class=\"havedel\"><input type=\"text\" name=\"resistanceSiteSum["+drugResistanceIndex+"].drug\" class=\"form-control\">"<a href=\"javascript:removeTr('"+tbody+"_tr"+drugResistanceIndex+"')\" title=\"删除整行\"/>"</td></tr>";
  $("#"+tbody).append(v1);
}
var personalizedMedicineIndex = 0;
function addPersonalizedMedicine(tbody,index){
  if(personalizedMedicineIndex == 0){
    personalizedMedicineIndex = index;
  }
  personalizedMedicineIndex++;
  var v1="<tr name=\""+tbody+"_tr\" id=\""+tbody+"_tr"+personalizedMedicineIndex+"\"><td><input type=\"text\" name=\"personalizedMedicine["+personalizedMedicineIndex+"].geneName\" class=\"form-control\"></td><td><input type=\"text\" name=\"personalizedMedicine["+personalizedMedicineIndex+"].mutationSite\" class=\"form-control\"></td><td class=\"havedel\"><input type=\"text\" name=\"personalizedMedicine["+personalizedMedicineIndex+"].drug\" class=\"form-control\">"<a href=\"javascript:removeTr('"+tbody+"_tr"+personalizedMedicineIndex+"')\" title=\"删除整行\"/>"</td></tr>";
  $("#"+tbody).append(v1);
  $("#del_"+tbody).append("<tr id='"+tbody+"_deltr"+personalizedMedicineIndex+"'><td><a href='javascript:removeThisTr(\""+tbody+"\","+personalizedMedicineIndex+")' title='删除此行'/></td></tr>");
}
var recommendDrugIndex = 0
function addDrugInput(div,index){
  if(recommendDrugIndex == 0){
    recommendDrugIndex = index;
  }
  recommendDrugIndex++;
  $("#"+div).append("<br><div name=\"drugContent\"><div class=\"h2\"><input type=\"text\" name=\"recommendDrug["+recommendDrugIndex+"].drugName\" class=\"form-control col-sm-10\"></div><div name=\"section4Text\"><textarea class=\"form-control\" name=\"recommendDrug["+recommendDrugIndex+"].drugDescrip\" rows=\"15\" cols=\"100\"></textarea></div></div>");
}
function removeTableTr(tbody){
    $("#"+tbody).children("tr:last-child").remove();
}
function removeThisTr(tbody,num){
    $("#"+tbody+"_tr"+num).remove();
    $("#"+tbody+"_deltr"+num).remove();
}
function removeDrugInput(div){
    $("#"+div).children("div[name='drugContent']:last-child").remove();
    $("#"+div).children("br:last-child").remove();
}
function printTable($parentDiv_,height){
    var $table_ = $parentDiv_.find("table");
    var total_h = $parentDiv_.height();
    var table_h = $table_.height();
    var text_h = total_h-table_h;
    var tmp_h =  height- text_h;
    var totaltrnum = $table_.find("tr").length;
    var page_tr_num = Math.floor(height/37);
    var trnum1 = 0;
    var thead = "";
    var newTables = "";
    if($parentDiv_.find("div[name='geneDescriptDiv']").hasClass("w3cbbs")){
        trnum1 = 24;
    }else{
        trnum1 = Math.floor(tmp_h/37);
    }
    var trnum2 = Math.floor((totaltrnum-trnum1-1)/page_tr_num);
    if(table_h>0 && total_h>height && text_h<height && totaltrnum>trnum1){
        thead = $table_.find("thead").html();
        newTables = "<table class='table table-green table-striped-green table-text-center'><thead>"+thead+"</thead><tbody>";
        for(var i=0; i<trnum1-1; i++){
            var index = "tr:eq("+i+")";
            newTables+="<tr>"+$table_.find("tbody").find(index).html()+"</tr>";
        }
        newTables+="</tbody></table><div class='w3cbbs'></div>";
        if(trnum2>0){
            for(var i=1;i<=trnum2;i++){
                newTables+="<table class='table table-green table-striped-green table-text-center'><thead>"+thead+"</thead><tbody>";
                for(var j=trnum1-1;j<trnum1+page_tr_num-1;j++){
                    var index = "tr:eq("+j+")";
                    newTables+="<tr>"+$table_.find("tbody").find(index).html()+"</tr>";
                }
                newTables+="</tbody></table><div class='w3cbbs'></div>";
                trnum1 = trnum1+page_tr_num;
            }
        }
        if((totaltrnum-trnum1-1)%page_tr_num>0){
            newTables+="<table class='table table-green table-striped-green table-text-center'><thead>"+thead+"</thead><tbody>";
            for(var i=trnum1-1;i<trnum1+(totaltrnum-trnum1-1)%page_tr_num;i++){
                var index = "tr:eq("+i+")";
                newTables+="<tr>"+$table_.find("tbody").find(index).html()+"</tr>";
            }
            newTables+="</tbody></table>";
        }
        $parentDiv_.find("table").remove();
        $parentDiv_.append(newTables);
    }
}
function printSection6Table(){
    var trLength = $("#section6").find("table").find("tr").length;
    if(trLength>26){
        var pageNum = Math.floor(trLength/26);  
        var lastNum = trLength%26;
        var $table_ = $("#section6").find("table");
        var thead = "<table class='table table-green table-striped-green table-text-center'><thead>" +$table_.find("thead").html()+"</thead>";
        var newTables = thead+"<tbody>";
        for(var i=0; i<25; i++){
            var index = "tr:eq("+i+")";
            newTables+="<tr>"+$table_.find("tbody").find(index).html()+"</tr>";
        }
        newTables+="</tbody></table><div class='w3cbbs'></div>";
        var begin = 25;
        if(pageNum>1){
            for(var i=1;i<pageNum;i++){
                newTables += thead+"<tbody>";
                for(var j=begin;j<begin+25+1;j++){
                    var index = "tr:eq("+j+")";
                    newTables+="<tr>"+$table_.find("tbody").find(index).html()+"</tr>";
                }
                newTables+="</tbody></table><div class='w3cbbs'></div>";
                begin = begin+25+1;
            }
        }
        if(lastNum>0){
            newTables += thead+"<tbody>";
            for(var j=begin;j<begin+lastNum;j++){
                var index = "tr:eq("+j+")";
                newTables+="<tr>"+$table_.find("tbody").find(index).html()+"</tr>";
            }
            newTables+="</tbody></table>";
        }
        $("#section6").find("table").remove();
        $("#section6").append(newTables);
    }
}
function printSection2Table(){
    var trLength = $("#snp_table1").find("tr").length;
    if(trLength>23){
        var thead = "<table class='table table-striped-green table-text-center table-padding0'><thead>"+$("#snp_table1").find("thead").html()+"</thead>";
        var newTables = "<table style='width:100%;height:100px;'><tr><td>";
        var tbody1 = thead+"<tbody>";
        var tbody2 = thead+"<tbody>";
        for(var i=1;i<22;i++){
            tbody1+="<tr>"+$("#snp_table1").find("tr:eq("+i+")").html()+"</tr>";
            tbody2+="<tr>"+$("#snp_table2").find("tr:eq("+i+")").html()+"</tr>";
        }
        tbody1+="</tbody></table>";
        tbody2+="</tbody></table>";
        newTables+=tbody1+"</td><td>"+tbody2+"</td></tr></table><div class='w3cbbs'></div>";
        tbody1 = thead+"<tbody>";
        tbody2 = thead+"<tbody>";
        for(var i=22;i<trLength;i++){
            tbody1+="<tr>"+$("#snp_table1").find("tr:eq("+i+")").html()+"</tr>";
            tbody2+="<tr>"+$("#snp_table2").find("tr:eq("+i+")").html()+"</tr>";
        }
        tbody1+="</tbody></table>";
        tbody2+="</tbody></table>";
        newTables += "<table style='width:100%;height:100px;'><tr><td>";
        newTables+=tbody1+"</td><td>"+tbody2+"</td></tr></table>";
        $("#secion2_info1").find("table").remove();
        $("#secion2_info1").prepend(newTables);
    }else{
        $("#secion2_info1").addclass("w3cbbs");
    }
}

function getTbodyDrug(obj,result){
    result = "";
    var geneName = "";
    var mutationSite = "";
    var drug = "";
    obj.find("input").each(function(index){
        if(index == 0){
            geneName = $(this).val();
        }else if(index == 1){
            mutationSite = $(this).val();
        }else if(index == 2){
            drug = $(this).val();
        }
    });
    result+=geneName+","+mutationSite +","+drug+";";
    return result;
}
</script>