<br/>
<h4 class="smallh4">结果提示：</h4>
<div id="des1" style="min-height: 36px;">
	<textarea rows="3" style="margin:0px;font-size:10px;line-height:10px"></textarea>
</div>
<h4 class="smallh4">备注：</h4>
<div id="des2" style="min-height: 36px;">
	<textarea rows="3" style="margin:0px;font-size:10px;line-height:10px"></textarea>
</div>
<br/>
<hr style="margin:0px">
<div id="page2">
	<h4 class="smallh4">局限性：</h4>
	<div id="des3">
	<textarea rows="6" style="margin:0px;font-size:12px;line-height:12px;height:87px;">
	1. 该检测对于染色体拷贝数变异（CNVs）&lt; 4Mb 的微小畸变导致的染色体异常，可能不能检出。
	2. 本检验无法检查到由以下因素引起的染色体变异：单亲二倍体（UPD）；染色体平衡易位、倒位、环状等结构异常；多倍体如：69，XXX、92，XXXX、92，XXYY。
	3. 本检验无法检查到由以下因素引起的疾病：单基因病、多基因病；感染、药物、辐射等环境诱因。
	4. 染色体疾病中极少数是由嵌合体，即由两种或两种以上的细胞系引起的。因正常与异常细胞系比例不定，本技术对于低比例嵌合体检测存在难度。
	5. 本报告单仅对本样本负责。</textarea>
	</div>
</div>
