<script type="text/javascript">
function attrTransfer(obj,name){
    inputVal = $(obj).val();
    inputClass = $(obj).attr("class");
    inputName = $(obj).attr("name");
    $(obj).parent().html("<span tempName=\""+inputName+"\" name='"+name+"' _hideClass='"+inputClass+"'>"+inputVal+"</span>");
}

function printCss(){
    $("#reporterLi").css("width","52%");
    $("#reporterInput").css("width","260px");
    $("#auditLi").css("width","19%");
    $("#auditInput").css("width","65px");
    $("#dateLi").css("width","12%");
    $("#yearLi").css("margin-left","1px");
    $("#yearInput").css("width","25px");
    $("#yearInput").css("margin-left","0px");
    $("#yearInput").css("padding-left","7px");
    $("#monthInput").css("padding-left","7px");
    $("#dayInput").css("padding-left","7px");
    $("#monthLi").css("margin-left","-1px");
    $("#dayLi").css("margin-left","-1px");
    $(".syFooter input[type='text']").css("border-bottom","0px");
}

function lookCss(){
    $("#reporterLi").css("width","55%");
    $("#reporterInput").css("width","285px");
    $("#auditLi").css("width","20%");
    $("#auditInput").css("width","65px");
    $("#dateLi").css("width","15%");
    $("#dayLi").css("margin-left","-8px");
    $("#yearInput").css("width","26px");
    $("#yearInput").css("margin-left","5px");
    $("#yearInput").css("padding-left","0px");
    $("#monthInput").css("padding-left","0px");
    $("#dayInput").css("padding-left","0px");
    $("#yearLi").css("margin-left","-21px");
    $("#monthLi").css("margin-left","-8px");
    $(".syFooter input[type='text']").css("border-bottom","1px solid #ccc");
}

$(function(){
	$("#mainDiv").css("min-height","500px");
	$(".notes").css("margin-top","0px");
	$("#companyIcon").css("margin-bottom","7px");
    $("#print").on("click",function(){
        var inputVal;
        printCss();
        $(".miniTable_").find("input").each(function(){
            attrTransfer(this,'miniPrint');
        });
        $("#mainDiv").find("input").each(function(){
            attrTransfer(this,'print');
        });
        inputVal = $("#des").children().val();
        desName = $("#des").children().attr("name");
        if(inputVal){
            inputVal = inputVal.replace(/\n/g,"<br>");
            $("#des").html(inputVal);
        }
        var des1 = $("#des1").children().val();
        des1Name = $("#des1").children().attr("name");
        if (des1){
            inputVal = des1.replace(/\n/g,"<br>");
        }else{
            inputVal = "";
        }
        $("#des1").html(inputVal);
        var des2 = $("#des2").children().val();
        des2Name = $("#des2").children().attr("name");
        if (des2){
            inputVal = des2.replace(/\n/g,"<br>");
        }else{
            inputVal = "";
        }
        $("#des2").html(inputVal);
        var des3 = $("#des3").children().val();
        des3Name = $("#des3").children().attr("name");
        if (des3){
            inputVal = des3.replace(/\n/g,"<br>");
        }else{
            inputVal = "";
        }
        $("#des3").html(inputVal);
        var advice = $("#advice").children().val();
        adviceName = $("#advice").children().attr("name");
        if(advice){
            inputVal = advice.replace(/\n/g,"<br>");
        }else{
            inputVal = "";
        }
        $("#advice").html(advice);
        $(".buttons").hide();
        window.print();
        $(".buttons").show();
        $("body").find("span[name='print']").each(function(){
            inputVal = $(this).html();
            inputClass = $(this).attr('_hideClass');
            inputName = $(this).attr("tempName");
            if($(this).parent().attr("id")=="jzkp"){
                $(this).parent().html("<input name=\""+inputName+"\" type=\"text\" class=\""+inputClass+"\" value=\""+inputVal+"\" id=\"jzkh\" />");
            }else{
                $(this).parent().html("<input name=\""+inputName+"\" type=\"text\" class=\""+inputClass+"\" value=\""+inputVal+"\" />");
            }
        });
        $("body").find("span[name='miniPrint']").each(function(){
            inputVal = $(this).html();
            inputClass = $(this).attr('_hideClass');
            inputName = $(this).attr("tempName");
            $(this).parent().html("<input name=\""+inputName+"\" type=\"text\" class=\""+inputClass+"\" style=\"height:12px;padding:0px;margin:0px;font-size:10px;line-height:12px\" value=\""+inputVal+"\"/>");
        });
        inputVal = $("#des").html();
        if(inputVal){
            inputVal = inputVal.replace(/<br>/g,"\n");
            $("#des").html("<textarea name=\""+desName+"\" rows=\"3\">"+inputVal+"</textarea>");
        }
        if (des1){
            inputVal = $("#des1").html().replace(/<br>/g,"\n");
        }else{
            inputVal = "";
        }
        $("#des1").html("<textarea name=\""+des1Name+"\" rows=\"3\" style=\"margin:0px;font-size:10px;line-height:10px\">"+inputVal+"</textarea>");
        if (des2){
            inputVal = $("#des2").html().replace(/<br>/g,"\n");
        }else{
            inputVal = "";
        }
        $("#des2").html("<textarea name=\""+des2Name+"\" rows=\"3\" style=\"margin:0px;font-size:10px;line-height:10px\">"+inputVal+"</textarea>");
        if (des3){
            inputVal = $("#des3").html().replace(/<br>/g,"\n");
        }else{
            inputVal = "";
        }
        $("#des3").html("<textarea name=\""+des3Name+"\" rows=\"6\" style=\"margin:0px;font-size:12px;line-height:12px;height:87px;\">"+inputVal+"</textarea>");
        if(advice){
            inputVal = $("#advice").html().replace(/<br>/g,"\n");
        }else{
            inputVal = "";
        }
        $("#advice").html("<textarea name=\""+adviceName+"\" rows=\"2\" style=\"margin:0px;font-size:10px;line-height:10px\">"+inputVal+"</textarea>");
        lookCss();
    });
    $("#save").on("click",function(){
        var url = window.location.href.split("printPGS")[0];
        $.post(url+"updatePgsFilling",$("#print-form").serialize(),function(result){
            if(result==1){
                $.lAlert("信息保存成功！");
            }else{
                $.lAlert("信息保存失败！");
            }
        });
    });
    $("#reset").on("click",function(){
      $.lConfirm('确定重置？', function() {
            var url = window.location.href.split("printPGS")[0];
            $.post(url+"updatePgsFilling",{id:$("#pgsId").val()},function(result){
                if(result==1){
                    location=location ;
                }else{
                    $.lAlert("信息重置失败！");
                }
            });
        });
    });
});
</script>