#parse("templates/report/layout.vm")
#parse("templates/report/default/PGS/reference.vm")
#if($printContext)
	$printContext
#else
	#override("card")
	#end
	#override("head")
		#parse("templates/report/default/PGS/head.vm")
	#end
	#override("subtitle")
	#end
	#override("baseinfo")
		#parse("templates/report/14/PGS/input.vm")
	#end
	#override("explain")
	#end
	#override("context")
		#parse("templates/report/14/PGS/context.vm")
	#end
	#override("footer")
		#parse("templates/report/14/PGS/footer.vm")
	#end
	#override("dept")
	#end
	#override("method")
		#parse("templates/report/default/PGS/method.vm")
	#end
	#override("notes")
	#end
	#override("bottom")
	#end
	#extends("templates/report/default/PGS/base.vm")
#end
#parse("templates/report/14/PGS/js.vm")
