<table style="width: 100%; background-color: #fffeee;">
    <tr style="height: 50px;">
        <td width="100%;"></td>
    </tr>
    <tr class="header">
        <td align="center">
            <a href="${base}/">
                <img src="${base}/images/icon/login_logo.png" />
            </a>
        </td>
    </tr>
    <tr style="height: 30px;">
        <td></td>
    </tr>
    <tr class="main">
        <td align="center">
            <table style="width: 60%; background-color: #fff; min-height: 300px; font-size: 12px;">
                <tr>
                    <td align="left" valign="top" style="padding: 10px;">
                        <h2 style="text-align: center">问题反馈</h2>
                        <h3>标题：${feedback.title}</h3>
                        <div>
                            <span style="margin-right: 15px"><label style="font-weight:bold;">提问时间：</label>${dateTool.format('yyyy-MM-dd HH:mm',${feedback.createDate})}</span>
                            <span>
                                <label style="font-weight:bold;">用户：</label>${feedback.username}(
                                <a style="color:#337ab7" href="mailto:${feedback.email}">${feedback.email}</a>
                                )
                            </span>
                        </div>
                        <pre style="width:98.5%;overflow: auto;display: block;padding: 5px;border: 1px solid #ccc;border-radius: 4px;word-break: break-all;word-wrap: break-word;min-height: 100px;white-space: pre-wrap;">
${feedback.content}       
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" style="padding: 10px;">
                        <h5>回复(${reply.userName})：</h5>
                        <pre>${reply.content}</pre>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 50px;">
        <td></td>
    </tr>
    <tr class="footer" align="center">
        <td align="center" style="background-color: #85C540; height: 40px; line-height: 40px; color: #fff; font-size: 12px;">
            © ${dateTool.format('yyyy',${rightDate})} CelLoud，Inc. All Rights reserved.
            <a style="color: #fff;text-decoration: none;" href="#">生物信息云平台</a>
            ·
            <a style="color: #fff;text-decoration: none;" href="javascript:void();">沪ICP备14035977号</a>
            ·
            <a style="color: #fff;text-decoration: none;" href="${base}/service.html" target="_blank">服务与支持</a>
            ·
            <a style="color: #fff;text-decoration: none;" href="${base}/feedback.html" target="_blank">意见反馈</a>
        </td>
    </tr>
</table>
