@CHARSET "UTF-8";
input,select{
	font-size: 12px;
    color: #999999;
}
.title {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 80px;
}
.title .title-text {
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    color: #333333;
    text-align: left;
    line-height: normal;
    position: absolute;
    bottom: 0;
}
.title .title-logo {
	width: 150px;
    height: 80px;
	position: relative;
    float: right;
    text-align: center;
    line-height: 80px;
	background-image: url("../images/hospitalIcon/hospitalIcon.png");
}

.base-info{
	border-top: 1px solid #79bb26;
	margin-top: 10px;
	padding-top: 5px;
}
.base-info ul>li{
    display: inline-block;
    *display: inline-block; 
    width:24%; 
    line-height:2em;
}
.base-info lable{
	display: inline-block;
	width: 70px;
}
.tests-content{
	border-top: 3px solid #79bb26;
	border-bottom: 3px solid #79bb26;
	margin: 10px 0px;
}
.tests-content h4{
	font-size: 18px;
	font-weight: 300px; 
	padding: 20px 0px;
}
.tests-content h5{
    font-size: 16px;
    font-weight: 300px; 
    padding: 20px 0px;
}
.tests-content h5 span{
    font-size: 14px;
}
.tests-content .tests-info{
	border: 1px solid #79bb26;
	padding: 20px;
}
.tests-footer  ul>li{
    display:inline-block;
    *display: inline-block; 
    width:30%; 
    line-height:2.5em;
}
.tests-footer input[type="text"]{
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #D4D4D4;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}
.statement {
	font-size: 12px;
}
@media print{
.tests-content{
    min-height:650px;
}
.title{
	margin-top:0px;
}
}

