@CHARSET "UTF-8";
.plupload_content_new_header{border: 1px solid #d8e2f0;border: 1px solid #d8e2f0;background: #f2f5f9;padding:10px 8px;position: relative;}
.plupload_filelist_new{border-top:none;height: 100%;background: #fff;margin: 0;padding: 0;list-style: none;border: 1px solid #d8e2f0;}
.footer{border-radius:0px 0px 5px 5px;border: 1px solid #d9e3f1;position:absolute; bottom:0px; width:99.7%; height:37px; line-height:37px; background-color:#f9fafd; color:#6e88ac;vertical-align: middle;}
.footer span{color:#6e88ac;}
.footer a{padding-left:10px;padding-right:10px;text-decoration: none;}
.new_content{padding:10px 15px 10px 15px;min-height:}
.addfile{display:block;width: 120px;float:left;margin-right:10px;margin-left:5px;}
.startfile{display:block;width: 120px;float:left;margin-right:10px;}
._uploadAlert{display: inline-block; color: #CC6600; padding-top: 18px; padding-left: 30px;}
