.right {
	width: 80%;
	overflow: hidden;
	float: right;
	font-size: 12px;
	line-height: 150%;
}
div {
	display: block;
}
.main {
	zoom: 1;
}
body {
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
	color: #666;
}
a {
	color: #666;
	text-decoration: none;
}
.right h3.help_tit {
	background: url("/celloud/images/content/newpp.png") repeat-x;
	height: 36px;
	line-height: 36px;
	padding-left: 9px;
}
h3 {
	display: block;
	font-size: 14px;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
.right h3.help_tit strong {
	float: left;
	height: 36px;
	line-height: 36px;
	position: relative;
	font-size: 16px;
	color: #138bc5;
	font-family: "microsoft yahei";
}
strong, b {
	font-weight: bold;
}
.help_box {
	padding: 10px 10px 10px 20px;
}
p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
.right img {
	margin: 10px;
}
img {
	vertical-align: middle;
}



/*--------------left side-----------------*/
.left {
	width: 18%;
/* 	overflow: hidden; */
	margin-right: 10px;
	float: left;
	padding-bottom: 5px;
	margin-top: 13px;
	position: fixed;
	height: 80%;
}
.help_side {
	border: 1px solid #b9e8f9;
}
#sortlist .current h4 {
	border-bottom: 0;
}
#sortlist h4 {
	cursor: pointer;
}
.help_side h4 {
	background: #eff9fe;
	height: 32px;
	line-height: 32px;
	padding-left: 25px;
	color: #4a4a4a;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.help_side div{
	margin: 0;
	padding: 0;
}
h4 {
	display: block;
	-webkit-margin-before: 1.33em;
	-webkit-margin-after: 1.33em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}