<div class="row banner-box product-show-banner">
  <div class="product-show">
    <div class="product-show-icon">
      <img ng-src="assets/images/icon-bacteria.png">
    </div>
    <div class="product-show-content">
      <div class="row">
        <p class="product-show-content-title">百菌探<span>Bactive</span><sup>TM</sup></p>
        <p class="product-show-condition">血流感染细菌检测</p>
      </div>
      <div class="row product-show-btn">
        <div class="btn btn-default" style="margin-right: 10px"><a href="https://www.celloud.cn/login" target="_blank" style="color: #646464">了解详情</a></div>
        <div class="btn btn-primary">报告案例</div>
      </div>
      <div class="row product-show-description">
        <p>应用介绍：针对临床常见的血流感染，对血液样本中细菌16S rDNA进行高通量测序，通过平台自主研发的生物信息分析流程
          与细菌数据库中</p>
        <p>标准核酸序列进行比对分析，从分子水平灵敏、高效鉴定出细菌种属，给临床病原诊断和治疗提供可靠依据。</p>
        <p>售前咨询电话：440-770-1010</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="tab1 tab-project">
    <ul>
      <li ui-sref-active="active"><a ui-sref="app.product.bacteria.list({status: 'background'})">背景介绍</a></li>
      <li ui-sref-active="active"><a ui-sref="app.product.bacteria.list({status: 'technology'})">技术说明</a></li>
      <li ui-sref-active="active"><a ui-sref="app.product.bacteria.list({status: 'process'})">检测流程</a></li>
      <li ui-sref-active="active"><a ui-sref="app.product.bacteria.list({status: 'advantage'})">检测优势</a></li>
      <li ui-sref-active="active" style="border-right: 1px solid #e6e6e6"><a ui-sref="app.product.bacteria.list({status: 'about'})">送检相关</a></li>
    </ul>
  </div>
</div>
<div ui-view=""></div>
