<div class="row ibox-article-box" ng-if="vm.status === 'background'">
  <div class="ibox-article">
    <p class="article-title">1、什么是血流感染</p>
    <p class="article-font">血流感染(Bloodstream Infection, BSI) 是指各种病原微生物侵入循环血液，在血液中繁殖、释放毒素和代谢产物，引起多器官感染、中毒和炎症反应，进一步导致血压下降、凝血和纤溶系统改变，引起全身多器官功能障碍综合征，是一种严重的全身感染性疾病。以菌血症和败血症为主的血流感染具有低发生率高危险性的特点。近年来由于糖尿病、肿瘤病人增多，侵入性操作的广泛使用，激素、化疗、药物的使用选择，及多重耐药菌的流行，血流感染发病率逐年升高，已成为一全球性的问题。</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">2、血流感染的临床特点</p>
    <p class="article-font">发病率高：140万住院感染病人中，11%为血流感染；获得性感染死亡案例中，1/3为血流感染</p>
    <p class="article-font">涉及面广：各组织器官感染均可能继发；临床各科室均有发生</p>
    <p class="article-font">病情严重：发病急，死亡率高，血流感染导致的死亡率占ICU病房死亡率的60.6%</p>
    <p class="article-font">阳性检出率低：由于血流中含菌量低及血培养条件限制，阳性检出率通常低于20%</p>
    <p class="article-font">经济损失惨重：我国ICU血流感染发生率27.76%；增加住院天数14天；增加住院费用6542元/病患；直接损失超过150亿/年</p>
    <p class="article-font">耐药性严重：无法明确病原菌准确用药，我国住院病患使用广谱抗生素或联合使用两种以上抗生素的占58%，导致大量耐药菌的产生。</p>
  </div>
</div>
<div class="row ibox-article-box" ng-if="vm.status === 'technology'">
  <div class="ibox-article">
    <p class="article-title">1、16S rDNA</p>
    <p class="article-font">16S rDNA是存在于所有细菌染色体上编码16S 核糖体RNA的基因。</p>
    <p class="article-font">细菌16S rDNA序列由间隔的保守区和高变区构成。保守区在细菌的进化中保持了高度的保守性，素有“细菌化石”之称。
      高变区在物种间具有高度多样性。高变区的差异可以用来区分不同的细菌。因此，16S rDNA被认为是细菌鉴定的金标准。</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">2、检测技术</p>
    <p class="article-font">V1-V8高变区捕获扩增</p>
    <p class="article-font" style="margin-top: 20px;margin-bottom: 20px"><img ng-src="assets/images/img_bacteria_technology.png"></p>
    <p class="article-font">Illumina平台高通量测序实验流程</p>
    <p class="article-font" style="margin-top: 20px;margin-bottom: 20px"><img ng-src="assets/images/img_bacteria_technology_2.png"></p>
  </div>
</div>
<div class="row ibox-article-box" ng-if="vm.status === 'process'">
  <div class="ibox-article">
    <div class="col-md-4" style="padding: 0">
      <p class="article-title">检测报告获取方式：</p>
      <p class="article-font">用户可通过浏览器登录到www.celloud.cn系统，直接在系统中查看或者打印报告。随着系统的迭代，
        用户还可以通过邮件、微信等方式查看处理检测分析报告。</p>
    </div>
    <div class="col-md-5" style="margin-left: 115px;padding: 0">
      <img ng-src="assets/images/img_bacteria_process.png">
    </div>
  </div>
</div>
<div class="row ibox-article-box" ng-if="vm.status === 'advantage'">
  <div class="ibox-article">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="ibox-advantage-box">
          <div>
            <p>数据库</p>
            <p>全</p>
          </div>
          <div>
          <p>综合国际数据库及中国特有病原菌16S数据236个</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="ibox-advantage-box">
          <div>
            <p>准确性</p>
            <p>高</p>
          </div>
          <div>
            <p>99.1%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="ibox-advantage-box">
          <div>
            <p>研发</p>
            <p>队伍强</p>
          </div>
          <div>
            <p>自2002年开始，参与国内SARS、禽流感N7H9/N5H1等传染病学研究</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="ibox-advantage-box">
          <div>
            <p>灵敏度</p>
            <p>高</p>
          </div>
          <div>
            <p>可以鉴定到血液中低拷贝数细菌</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="ibox-advantage-box">
          <div>
            <p>技术</p>
            <p>先进</p>
          </div>
          <div>
            <p>临床16S meta检测，非单一菌感染、罕见菌感染均能检测</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="ibox-advantage-box">
          <div>
            <p>检测</p>
            <p>效率高</p>
          </div>
          <div>
            <p>筛查、鉴定一步完成</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row ibox-article-box" ng-if="vm.status === 'about'">
  <div class="ibox-article">
    <p class="article-title">样本采集时间：</p>
    <p class="article-font">病人出现高热、寒颤等典型血流感染症状，使用抗生素干预之前；</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">样本采集要求：</p>
    <p class="article-font">使用 EDTA-Na2 抗凝真空采集管，按照标准无菌操作采集静脉血液1ml，不可使用肝素抗凝。</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">样本保存条件：</p>
    <p class="article-font">不可剧烈晃动样本，避免造成溶血；</p>
    <p class="article-font">室温≤2h;  4°C ≤24h;  -80°C ≤2w</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">样本运输条件：</p>
    <p class="article-font">冷链直立运输，避免过度震荡</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">送检联系方式：010-123456789</p>
  </div>
</div>
