#parse("/default/${hbv.appId}/reference.vm")
<div id="printMain">
    #if(${report.printSimple})
        ${report.printSimple}
    #end
    #if(!${report.printSimple})
        <div>
            #parse("/57/${hbv.appId}/title_brief.vm")
            #parse("/57/${hbv.appId}/content_brief.vm")
            #parse("/default/${hbv.appId}/foot.vm")
            </form>
        </div>
    #end
</div>  
#parse("/default/${hbv.appId}/js.vm")