<script type="text/javascript">
var companyId = $("#_companyId").html();
$(function(){
    var url = window.location.href.split("print")[0];
    $("#print").on("click",function(){
        $(".buttons").hide();
        $("#printMain").find("input[class='tdInput']").each(function(){
            var inputVal = $(this).val();
            var width = $(this).width() - 10;
            $(this).parent().html("<span class='tdSpan' style='width:" + width + "px'>" + inputVal + "</span>");
        });
        $("#printMain").find("input[class='tdCenterInput']").each(function(){
            var inputVal = $(this).val();
            $(this).parent().html("<span class='tdCenterSpan'>" + inputVal + "</span>");
        });
        $("#printMain").find("input[class='liInput']").each(function(){
            var inputVal = $(this).val();
            $(this).parent().html("<span class='liSpan'>" + inputVal + "</span>");
        });
        
        window.print();
        
        $("#printMain").find("span[class='liSpan']").each(function(){
            var inputVal = $(this).html();
            $(this).parent().html("<input type='text' class='liInput' value='" + inputVal + "'>");
        });
        $("#printMain").find("span[class='tdCenterSpan']").each(function(){
            var inputVal = $(this).html();
            $(this).parent().html("<input type='text' class='tdCenterInput' value='" + inputVal + "'>");
        });
        $("#printMain").find("span[class='tdSpan']").each(function(){
            var inputVal = $(this).html();
            $(this).parent().html("<input type='text' class='tdInput' value='" + inputVal + "'>");
        });
        $(".buttons").show();
    });
    
    $("#save").on("click",function(){
        $.post(url+"updateHbvBriefFilling",$("#print-form").serialize(),function(result){
            if(result==1){
                $.lAlert("信息保存成功！");
            }else{
                $.lAlert("信息保存失败！");
                $("#isSaved").attr("value","1");
            }
        });
    });

    $("#reset").on("click",function(){
        $.lConfirm('确认重置？', function() {
            $.post(url+"updateHbvBriefFilling",{id:$("#hbvId").val()},function(result){
                if(result==1){
                    location=location ;
                }else{
                    $.lAlert("信息重置失败！");
                }
            });
        });
    });
});

</script>