<table border="0" cellpadding="0" cellspacing="0" width="660" style="margin:20px auto;min-height: 600px;font-family:微软雅黑;">
    <tr>
        <td width="100%" style="background-color:#E4F2D4;height: 60px;">
            <table width="100%">
                <tr>
                    <td align="left" style="padding-left:20px;">
                        <a href="${base}/">
                            <img src="${base}/images/home/logo.png" />
                        </a>
                    </td>
                    <td align="right" style="color: #79BA26;padding-right:20px">问题反馈</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="min-height:600px;background:url(${base}/images/home/login_bg.png) repeat-y;background-size:100% 100%;">
        <td>
            <table width="400" style="min-height:260px;padding: 10px 20px 10px 0px;background: #fff;box-shadow: 0 0 20px rgba(133, 197, 64, .36);border-radius: 8px;margin:20px auto;margin-top:30px;font-size:12px;color:#424141;">
                <tr height="20">
                    <td width="100" align="right">标题：</td>
                    <td style="max-width:200px;">${feedback.title}</td>
                </tr>
                <tr height="20">
                    <td align="right">提问时间：</td>
                    <td>${dateTool.format('yyyy-MM-dd HH:mm',${feedback.createDate})}</td>
                </tr>
                <tr height="20">
                    <td align="right">用户：</td>
                    <td>${feedback.username}( <a style="color:#78BC28" href="mailto:${feedback.email}">${feedback.email}</a>)</td>
                </tr>
                <tr valign="top">
                    <td align="right" >问题描述：</td>
                    <td style="max-width:200px;">
                        <div style="width:80%;min-height:100px;box-shadow: 0 0 5px rgba(133, 197, 64, .36);border-radius: 3px; padding:20px;word-break: break-word;">
                          ${feedback.content}
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" style="background-color:#85C540;height: 40px;color: #fff;font-size: 12px;">
            © ${dateTool.format('yyyy',${rightDate})} CelLoud，Inc. All Rights reserved.
            <a style="color: #fff;text-decoration: none;" href="#">生物信息云平台</a>
            ·
            <a style="color: #fff;text-decoration: none;" href="javascript:void();">沪ICP备14035977号</a>
            ·
            <a style="color: #fff;text-decoration: none;" href="${base}/service.html" target="_blank">服务与支持</a>
            ·
            <a style="color: #fff;text-decoration: none;" href="${base}/feedback.html" target="_blank">意见反馈</a>
        </td>
    </tr>
</table>
