<input type="hidden" name="id" value="$!bsi.id">
<ul>
    <li><lable>姓&emsp;&emsp;名：</lable>
        <span class="print"></span>
        <input class="width-80" type="text" name='baseInfo["name"]' placeholder="患者姓名">
    </li>
    <li><lable>性&emsp;&emsp;别：</lable>
        <span id="sex-text" class="print"></span>
        <span id="sex">
         <input id="sex-radio" type="radio" name='baseInfo["sex"]' value="男">男
         <input type="radio" name='baseInfo["sex"]' value="女">女
         <input type="radio" name='baseInfo["sex"]' value="不详">不详
       </span>
    </li>
    <li><lable>年&emsp;&emsp;龄：</lable>
        <span class="print"></span>
        <input class="width-80" type="text"  name='baseInfo["age"]' placeholder="19">
    </li>
</ul>
<ul>
    <li><lable>科&emsp;&emsp;室：</lable>
       <span id="department-text" class="print"></span>
       <select id="department" class="width-80" name='baseInfo["department"]'>
          <option value="ICU病房">ICU病房</option>
          <option value="呼吸科">呼吸科</option>
          <option value="儿科">儿科</option>
          <option value="感染科">感染科</option>
          <option value="产科">产科</option>
        </select>
    </li>
    <li><lable>住&ensp;院&ensp;号：</lable>
        <span class="print"></span>
        <input class="width-120" type="text" name='baseInfo["inpatientNo"]' placeholder="83947536">
    </li>
    <li><lable>床&emsp;&emsp;号：</lable>
        <span class="print"></span>
        <input class="width-80" type="text" name='baseInfo["bedNo"]' placeholder="ab0302">
    </li>
    <li><lable>ID&emsp;&emsp;号：</lable>
        <span class="print"></span>
        <input class="width-80" type="text" name='baseInfo["idNo"]' placeholder="az00888">
    </li>
</ul>
<ul>
    <li><lable>样本种类：</lable>
        <span id="sample-type-text" class="print"></span>
        <select id="sample-type" class="width-80" name='baseInfo["sampleType"]'>
          <option value="血液">血液</option>
          <option value="尿">尿</option>
          <option value="腹水">腹水</option>
          <option value="阴道拭子">阴道拭子</option>
          <option value="脑脊液">脑脊液</option>
          <option value="分泌物">分泌物</option>
          <option value="大便">大便</option>
          <option value="鼻咽拭子">鼻咽拭子</option>
        </select>
    </li>
    <li><lable>样本编号：</lable>
        <span class="print"></span>
        <input class="width-120" type="text" name='baseInfo["sampleNo"]' placeholder="88484">
    </li>
    <li><lable>送检医生：</lable>
        <span class="print"></span>
        <input class="width-80" type="text" name='baseInfo["doctor"]' placeholder="ab0302">
    </li>
    <li><lable>送检日期：</lable>
        <span class="print"></span>
        <input class="width-80 Wdate" type="text" name='baseInfo["inspectionDate"]' onclick="WdatePicker()" readonly="readonly">
    </li>
</ul>
<script>
$(document).ready(function(){
    $("input[type='radio'][id='sex-radio']:checked").val()
    $("#print-report").on("click",function(){
        $.post("../report/updateBSIFilling",$("#print-form").serialize(),function(result){});
        $(".base-info").find("input[type='text']").each(function(){
           $(this).prev().text($(this).val());
        });
        $("#department-text").text($("#department").val());
        $("#sample-type-text").text($("#sample-type").val());
        $("#sex-text").text($("input[type='radio'][name='baseInfo[\"sex\"]']:checked").val());
        window.print();
    });
    $("#reset-info").on("click",function(){
        $("#print-form")[0].reset();
    });
});
</script>