<link href="$link.getContextPath()/css/print_bsi.css" rel="stylesheet">
<div class="title">
  <span class="title-text">细菌性血流感染检测报告--患者报告</span>
  #if($bsi.companyIcon && !$!bsi.companyIcon.equals(""))
  <img class="title-logo" src="$link.getContextPath()/report/company/icon?file=$!bsi.companyIcon" style="width:60px">
  #else
  <img class="title-logo" src="$link.getContextPath()/images/hospitalIcon/demo-logo.png"></div>
  #end</div>
<form id="print-form">
  <div class="base-info">
    #parse("/default/118/base_info.vm")
  </div>
  <div class="tests-content">
    <h4>检测结果：</h4>
    <div class="tests-info">
       #parse("/default/118/tests_info.vm")
    </div>
  </div>
  <div class="test-description">
    <h4>检测范围(20种)：</h4>
    <p>牛链球菌、葡萄球菌、肺炎链球菌、粪肠球菌、屎肠球菌、难辨梭状芽孢杆菌、溃疡棒状杆菌、结膜干燥杆菌、大肠埃希菌、铜绿假单胞菌、
鲍曼不动杆菌、肺炎克雷伯菌、嗜麦芽窄食单胞菌、粘质沙雷氏菌、阴沟肠杆菌、嗜水气单胞菌、产气肠杆菌、肠炎沙门菌、奇异变形杆菌、洋葱伯克霍尔德菌。
     <br>此20种以外检测为阴性不代表没有
    </p>
    <h4>检测方法：<span>基于16S rDNA高通量测序方法</span></h4>
  </div>
  <div class="tests-footer">
    <ul>
        <li>检测人：<span><input class="width-120" type="text" name='baseInfo["inspector"]' value="$!bsi.baseInfo.inspector"></span></li>
        <li>复核人：<span><input class="width-120" type="text" name='baseInfo["compounder"]' value="$!bsi.baseInfo.compounder"></span></li>
        <li>报告时间：<span><input class="width-120" type="text" name='baseInfo["reportDate"]' value="$!bsi.baseInfo.reportDate"></span></li>
    </ul>
    <div class="statement"><span>声明：1.报告仅对本次送检样品负责;2.检测结果仅供医师参考</span></div>
  </div>
  </form>