#if($bsi.species_20)
  #foreach($species_20 in $!bsi.species_20) 
    <p>
      #if($species_20.species_zh.equals("未知") || !$species_20.species_zh)
        $!species_20.species
      #else
        $!species_20.species_zh
        #if($havestrain)
            #set ($havestrain=[$!havestrain,$!species_20.species_zh])
        #else
            #set ($havestrain=[$!species_20.species_zh])
        #end
      #end
    </p>
  #end
#end
   <table class="table table-bordered table-condensed gray-table">
     <tr>
       <td rowspan="2">G+</td>
       <td #if($havestrain.contains('牛链球菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end牛链球菌</td>
       <td #if($havestrain.contains('葡萄球菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end葡萄球菌</td>
       <td #if($havestrain.contains('肺炎链球菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end肺炎链球菌</td>
       <td #if($havestrain.contains('粪肠球菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end粪肠球菌</td>
     </tr>
     <tr>
       <td #if($havestrain.contains('屎肠球菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end屎肠球菌</td>
       <td #if($havestrain.contains('难辨梭状芽孢杆菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end难辨梭状芽孢杆菌</td>
       <td #if($havestrain.contains('溃疡棒状杆菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end溃疡棒状杆菌</td>
       <td #if($havestrain.contains('结膜干燥杆菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end结膜干燥杆菌</td>
     </tr>
     <tr>
       <td rowspan="3">G-</td>
       <td #if($havestrain.contains('大肠埃希菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end大肠埃希菌</td>
       <td #if($havestrain.contains('铜绿假单胞菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end铜绿假单胞菌</td>
       <td #if($havestrain.contains('鲍曼不动杆菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end鲍曼不动杆菌</td>
       <td #if($havestrain.contains('肺炎克雷伯菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end肺炎克雷伯菌</td>
     </tr>
     <tr>
       <td #if($havestrain.contains('嗜麦芽窄食单胞菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end嗜麦芽窄食单胞菌</td>
       <td #if($havestrain.contains('粘质沙雷氏菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end粘质沙雷氏菌</td>
       <td #if($havestrain.contains('阴沟肠杆菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end阴沟肠杆菌</td>
       <td #if($havestrain.contains('嗜水气单胞菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end嗜水气单胞菌</td>
     </tr>
     <tr>
       <td #if($havestrain.contains('产气肠杆菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end产气肠杆菌</td>
       <td #if($havestrain.contains('肠炎沙门菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end肠炎沙门菌</td>
       <td #if($havestrain.contains('奇异变形杆菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end奇异变形杆菌</td>
       <td #if($havestrain.contains('洋葱伯克霍尔德菌'))class="positive"><span>[✔]</span>#else<td><span>[✘]</span>#end洋葱伯克霍尔德菌</td>
     </tr>
   </table>