* {
  box-sizing: content-box;
}

a {
  text-decoration: none !important;
}

.ibox {
  height: 70px;
}

.ibox-content {
  width: 1200px;
  margin: 0 auto;
}

.nav-top .nav-top-content {
  width: 1200px;
  min-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.logo-box {
  width: 140px;
  height: 44px;
  margin-top: 13px;
}

.logo-box img {
  width: 100%;
}

.nav-top-box {
  margin-left: 155px;
}

.nav-top-box ul li {
  float: left;
  padding: 0 25px;
  height: 70px;
  line-height: 70px;
}

.nav-top-box ul li a {
  color: #323232;
  font-size: 16px;
  cursor: pointer;
}

.nav-active a {
  color: #1dd2af !important;
}

.nav-top-btn {
  margin-left: 150px;
  height: 70px;
  line-height: 70px;
}

.banner-box {
  width: 100%;
  position: relative;
}

.tab1, .tab2 {
  width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.tab2 {
  height: 100px;
}

.tab1 ul, .tab2 ul {
  width: 800px;
  margin: 0 auto;
}

.tab1 ul li, .tab2 ul li {
  width: 198px;
  height: 39px;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  line-height: 39px;
  font-size: 16px;
  color: #323232;
  float: left;
}

.tab2 ul li {
  height: 99px;
  line-height: inherit;
}

.tab1 ul li a {
  color: #323232;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.tab1 ul li.active {
  border-bottom: 1px solid #FFF;
  height: 36px;
  border-top: 4px solid #1dd2af;
  line-height: 36px;
}

.tab2 ul li.active {
  border-bottom: 1px solid #FFF;
  height: 96px;
  color: #1dd2af;
  border-top: 4px solid #1dd2af;
}

.tab2 ul li div:last-child{
  margin-top: 14px
}
.tab2-img {
  margin-top: 24px;
  height: 33px
}

.tab1 ul li.active a {
  color: #1dd2af;
}

.worker {
  width: 1035px;
  margin: 0 auto;
  margin-top: 10px;
}

.worker ul {
  overflow: auto;
}

.worker ul li {
  width: 158px;
  height: 28px;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
  text-align: center;
  line-height: 28px;
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

.worker ul li:hover {
  background-color: #323232;
  width: 160px;
  height: 30px;
  line-height: 30px;
  border: none;
}

.worker ul li:hover a {
  color: #FFF;
}

.worker ul li:last-child {
  margin-right: 0;
}

.worker ul li a {
  font-size: 14px;
  color: #666;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.ibox-article {
  width: 1035px;
  margin: 0 auto;
  margin-top: 30px;
}

.article-title {
  border-left: 2px solid #2c3e50;
  margin-left: -22px;
  padding-left: 20px;
  color: #2c3e50;
  font-size: 16px;
  font-weight: 600;
  font-family: "SourceHanSansCN";
  margin-bottom: 15px;
}

.article-font {
  font-size: 14px;
  line-height: 2;
}

.footer {
  height: 300px;
  margin-top: 50px;
  background-color: #2c3e50;
  padding-top: 68px;
  position: relative;
}

.ibox-footer {
  width: 680px;
  margin: 0 auto;
}

.ibox-footer-title {
  font-size: 15px;
  margin-bottom: 34px;
  height: 15px;
}

.ibox-footer-font {
  font-size: 13px;
}

.footer .ibox-footer-title ul li:nth-child(1) {
  width: 39px;
}

.footer .ibox-footer-title ul li:nth-child(2) {
  width: 52px;
}

.footer .ibox-footer-title ul li:nth-child(3) {
  width: 91px;
}

.footer .ibox-footer-title ul li:nth-child(4) {
  width: 118px;
}

.ibox-footer ul li {
  float: left;
  color: #fefefe;
  margin-right: 60px;
}

.footer .ibox-footer-font ul li p {
  margin-bottom: 10px;
}

.ibox-footer ul li:last-child {
  margin-right: 0;
}

.footer-company {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #FFF;
  font-size: 15px;
  color: #969696;
  height: 70px;
  width: 100%;
  line-height: 70px;
}

.about-content {
  margin: 50px auto;
  width: 64%;
  font-size: 14px;
  font-weight: 400;
  color: #323232;
  text-indent: 25px;
  line-height: 2;
}

.about-connect {
  width: 73.25%;
  margin: 0 auto;
  padding-top: 50px;
  border-top: 1px solid #e6e6e6;
}

.about-connect-box {
  margin-bottom: 50px;
  margin-left: 35px;
  margin-right: 35px;
  float: left;
}

.about-connect-img {
  width: 33px;
  float: left;
  min-height: 1px;
}

.about-connect-img img {
  width: 100%;
}

.about-connect-description {
  float: left;
}

.about-connect-description p {
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #323232;
}

.about-connect-description p:first-child {
  font-size: 16px;
  color: #2c3e50;
  font-weight: 600;
}
