<script type="text/javascript">
function attrTransfer(obj,name){
	inputVal = $(obj).val();
	inputClass = $(obj).attr("class");
	$(obj).parent().html("<span name='"+name+"' _hideClass='"+inputClass+"'>"+inputVal+"</span>");
}
$(function(){
	if($(".end").html()){
		$("#mainDiv").css("min-height","760px");
	}else{
		$("#mainDiv").css("min-height","850px");
	}
	$("#print").on("click",function(){
		var inputVal;
		$("#audit").css("margin-left","10px");
		$(".miniTable_").find("input").each(function(){
			attrTransfer(this,'miniPrint');
		});
		$("#mainDiv").find("input").each(function(){
			attrTransfer(this,'print');
		});
		$(".opinion").find("input").each(function(){
			attrTransfer(this,'print');
		});
		$("#jzkp").find("input").each(function(){
			inputVal = $(this).val();
			inputClass = $(this).attr("class");
			if(inputVal){
				$(this).parent().html("<span name='print' _hideClass='"+inputClass+"'>"+inputVal+"</span>");
			}else{
				$(this).parent().html("<span style='padding-left:100px' name='print' _hideClass='"+inputClass+"'></span>");
			}
		});
		inputVal = $("#des").children().val();
		if(inputVal){
			inputVal = inputVal.replace(/\n/g,"<br>");
			$("#des").html(inputVal);
			var desHeight = $("#des").height();
			var resultHeight = $("#checkResult").height();
			var totalHeight = desHeight + resultHeight;
			if(totalHeight>=420 && totalHeight<=480){
				$(".notes").css("margin-top","10px");
			}
		}
		var des1 = $("#des1").children().val();
		if (des1){
			inputVal = des1.replace(/\n/g,"<br>");
		}else{
			inputVal = "";
		}
		$("#des1").html(inputVal);
		var des2 = $("#des2").children().val();
		if (des2){
			inputVal = des2.replace(/\n/g,"<br>");
		}else{
			inputVal = "";
		}
		$("#des2").html(inputVal);
		var des3 = $("#des3").children().val();
		if (des3){
			inputVal = des3.replace(/\n/g,"<br>");
		}else{
			inputVal = "";
		}
		$("#des3").html(inputVal);
		$(".buttons").hide();
		window.print();
		$(".buttons").show();
		$("body").find("span[name='print']").each(function(){
			inputVal = $(this).html();
			inputClass = $(this).attr('_hideClass');
			if($(this).parent().attr("id")=="jzkp"){
				$(this).parent().html("<input type=\"text\" class=\""+inputClass+"\" value=\""+inputVal+"\" id=\"jzkh\" />");
			}else{
				$(this).parent().html("<input type=\"text\" class=\""+inputClass+"\" value=\""+inputVal+"\" />");
			}
		});
		$("body").find("span[name='miniPrint']").each(function(){
			inputVal = $(this).html();
			inputClass = $(this).attr('_hideClass');
			$(this).parent().html("<input type=\"text\" class=\""+inputClass+"\" style=\"height:12px;padding:0px;margin:0px;font-size:10px;line-height:12px\" value=\""+inputVal+"\"/>");
		});
		inputVal = $("#des").html();
		if(inputVal){
			inputVal = inputVal.replace(/<br>/g,"\n");
			$("#des").html("<textarea rows=\"3\">"+inputVal+"</textarea>");
		}
		if (des1){
			inputVal = $("#des1").html().replace(/<br>/g,"\n");
		}else{
			inputVal = "";
		}
		$("#des1").html("<textarea rows=\"3\">"+inputVal+"</textarea>");
		if (des2){
			inputVal = $("#des2").html().replace(/<br>/g,"\n");
		}else{
			inputVal = "";
		}
		$("#des2").html("<textarea rows=\"3\">"+inputVal+"</textarea>");
		if (des3){
			inputVal = $("#des3").html().replace(/<br>/g,"\n");
		}else{
			inputVal = "";
		}
		$("#des3").html("<textarea rows=\"8\">"+inputVal+"</textarea>");
		$("#audit").css("margin-left","99px");
	});
	$("#save").on("click",function(){
		$("body").find("input").each(function(){
			$(this).attr("value",$(this).val());
		});
		$("#des").children().html($("#des").children().val());
		$("#des1").children().html($("#des1").children().val());
		$("#des2").children().html($("#des2").children().val());
		$("#des3").children().html($("#des3").children().val());
		var url = window.location.href.split("printPGS")[0];
		$.post(url+"updateContext",{"appId":$("#_appId").html(),"fileId":$("#_fileId").html(),"projectId":$("#_projectId").html(),"printContext":$("#pgsSave").prop("outerHTML")},function(result){
			if(result==1){
				$.lAlert("信息保存成功！");
			}else{
				$.lAlert("信息保存失败！");
			}
		});
	});
	$("#reset").on("click",function(){
	  $.lConfirm('确定重置？', function() {
			var url = window.location.href.split("printPGS")[0];
			$.post(url+"updateContext",{"appId":$("#_appId").html(),"fileId":$("#_fileId").html(),"projectId":$("#_projectId").html(),"printContext":""},function(result){
				if(result==1){
					location=location ;
				}else{
					$.lAlert("信息重置失败！");
				}
			});
		});
	});
});
</script>