<link href="${base}/css/print_pgs.css?version=3.1.15" rel="stylesheet" type="text/css"/>
<!--[if IE]>
<style>
@media Print {
	body{
	    font-size:12px;
	}
	.shotH3{
		font-size:20px;
	}
}
</style>
<![endif]-->
