<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="$link.getContextPath()/plugins/jquery_alert_dialogs/jquery.ui.draggable.js" type="text/javascript"></script>
<script src="$link.getContextPath()/plugins/jquery_alert_dialogs/jquery.alerts.js" type="text/javascript"></script>
<link href="$link.getContextPath()/plugins/jquery_alert_dialogs/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />
<link href="$link.getContextPath()/css/print_pgs.css" rel="stylesheet" type="text/css" media="screen" />
<!--[if IE]>
<style>
@media Print {
	body{
	    font-size:12px;
	}
	.shotH3{
		font-size:20px;
	}
}
</style>
<![endif]-->
