<div align="center" class="clearfix">
    <img src="<%=request.getContextPath() %>/report/company/icon?file=${pgs.companyIcon}" style="width:60px">
	<h2 class="shotH3 smallTitle" style="line-height: 20px;margin-top:0px">
		${pgs.companyName}
		<br />染色体拷贝数变异检测报告
		<br />
		<span class="subtitle">${pgs.companyAddr}，
		电话：${pgs.companyTel}</span>
	</h2>
</div>