@CHARSET "UTF-8";
.bgContainer{
	background: #F3F5F8;
}

.navbar{
	background: #fff;
	padding: 30px 0;
	position: relative;
}
.navbar-brand {
	padding:0 0;
}
.accounts-form{
	padding-top: 40px;
}