.xe-widget {
  position: relative;
}
.xe-widget.xe-counter,
.xe-widget.xe-counter-block .xe-upper,
.xe-widget.xe-progress-counter .xe-upper {
  background: #fff;
  padding: 0px; //28px
  line-height: 1;
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
.xe-widget.xe-counter .xe-icon,
.xe-widget.xe-counter .xe-label,
.xe-widget.xe-counter-block .xe-upper .xe-icon,
.xe-widget.xe-counter-block .xe-upper .xe-label,
.xe-widget.xe-progress-counter .xe-upper .xe-icon,
.xe-widget.xe-progress-counter .xe-upper .xe-label {
  display: table-cell;
  vertical-align: middle;
  padding: 18px;
}
.xe-widget.xe-counter .xe-icon,
.xe-widget.xe-counter-block .xe-upper .xe-icon,
.xe-widget.xe-progress-counter .xe-upper .xe-icon {
  width: 1%;
}
.xe-widget.xe-counter .xe-icon i,
.xe-widget.xe-counter-block .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper .xe-icon i {
  display: block;
  background: #68b828;
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
.xe-widget.xe-counter .xe-icon + .xe-label,
.xe-widget.xe-counter-block .xe-upper .xe-icon + .xe-label,
.xe-widget.xe-progress-counter .xe-upper .xe-icon + .xe-label {
  padding-left: 0;
}
.xe-widget.xe-counter .xe-label .num,
.xe-widget.xe-counter-block .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter .xe-upper .xe-label .num {
  display: block;
  font-size: 28px;
  font-weight: normal;
  color: #3e3f3f;
}
.xe-widget.xe-counter .xe-label span,
.xe-widget.xe-counter-block .xe-upper .xe-label span,
.xe-widget.xe-progress-counter .xe-upper .xe-label span {
  display: block;
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
  color: #979898;
  margin-top: 5px;
}
.xe-widget.xe-counter .xe-label + .xe-icon,
.xe-widget.xe-counter-block .xe-upper .xe-label + .xe-icon,
.xe-widget.xe-progress-counter .xe-upper .xe-label + .xe-icon {
  padding-left: 0;
}
.xe-widget.xe-counter.xe-counter-primary .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-primary .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-primary .xe-icon i {
  background-color: #2c2e2f;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-success .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-success .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-success .xe-icon i {
  background-color: #8dc63f;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-warning .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-warning .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-warning .xe-icon i {
  background-color: #ffba00;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-info .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-info .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-info .xe-icon i {
  background-color: #40bbea;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-danger .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-danger .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-danger .xe-icon i {
  background-color: #cc3f44;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-blue .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-blue .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-blue .xe-icon i {
  background-color: #0e62c7;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-red .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-red .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-red .xe-icon i {
  background-color: #d5080f;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-purple .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-purple .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-purple .xe-icon i {
  background-color: #7c38bc;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-orange .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-orange .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-orange .xe-icon i {
  background-color: #f7aa47;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-yellow .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-yellow .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-yellow .xe-icon i {
  background-color: #fcd036;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-turquoise .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-turquoise .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-turquoise .xe-icon i {
  background-color: #00b19d;
  color: #ffffff;
}
.xe-widget.xe-counter.xe-counter-white .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-white .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-white .xe-icon i {
  background-color: #ffffff;
  color: #4b4b4b;
}
.xe-widget.xe-counter.xe-counter-white .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-white .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-white .xe-icon i {
  border: 1px solid #dddddd;
}
.xe-widget.xe-counter.xe-counter-gray .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-gray .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-gray .xe-icon i {
  background-color: #eeeeee;
  color: #555555;
}
.xe-widget.xe-counter.xe-counter-pink .xe-icon i,
.xe-widget.xe-counter-block .xe-upper.xe-counter-pink .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper.xe-counter-pink .xe-icon i {
  background-color: #ff6264;
  color: #ffffff;
}
.xe-widget.xe-counter-block,
.xe-widget.xe-progress-counter {
  color: #fff;
  background: #68b828;
  margin-bottom: 0px;
}
.xe-widget.xe-counter-block .xe-upper,
.xe-widget.xe-progress-counter .xe-upper {
  margin: 0;
  border-spacing: 0;
  border: 0;
  background: #68b828;
}
.xe-widget.xe-counter-block .xe-upper .xe-icon,
.xe-widget.xe-counter-block .xe-upper .xe-label,
.xe-widget.xe-progress-counter .xe-upper .xe-icon,
.xe-widget.xe-progress-counter .xe-upper .xe-label {
  padding-bottom: 0;
}
.xe-widget.xe-counter-block .xe-upper .xe-icon,
.xe-widget.xe-progress-counter .xe-upper .xe-icon {
  text-align: center;
}
.xe-widget.xe-counter-block .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter .xe-upper .xe-icon i {
  background: #68b828;
  font-size: 32px;
}
.xe-widget.xe-counter-block .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter .xe-upper .xe-label .num {
  color: #fff;
}
.xe-widget.xe-counter-block .xe-upper .xe-label span,
.xe-widget.xe-progress-counter .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block .xe-lower,
.xe-widget.xe-progress-counter .xe-lower {
  padding: 15px 30px;
}
.xe-widget.xe-counter-block .xe-lower .border,
.xe-widget.xe-progress-counter .xe-lower .border {
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
.xe-widget.xe-counter-block .xe-lower span,
.xe-widget.xe-counter-block .xe-lower strong,
.xe-widget.xe-progress-counter .xe-lower span,
.xe-widget.xe-progress-counter .xe-lower strong {
  font-size: 10px;
  text-transform: uppercase;
  display: block;
}
.xe-widget.xe-counter-block .xe-lower span,
.xe-widget.xe-progress-counter .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block .xe-lower strong,
.xe-widget.xe-progress-counter .xe-lower strong {
  font-weight: normal;
}
.xe-widget.xe-counter-block.xe-counter-block-primary,
.xe-widget.xe-progress-counter.xe-counter-block-primary {
  background: #2c2e2f;
}
.xe-widget.xe-counter-block.xe-counter-block-primary .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-primary .xe-upper {
  background: #2c2e2f;
}
.xe-widget.xe-counter-block.xe-counter-block-primary .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-primary .xe-upper .xe-icon i {
  background-color: #2c2e2f;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-primary .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-primary .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-primary .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-primary .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-primary .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-primary .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-primary .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-primary .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-primary .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-primary .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-success,
.xe-widget.xe-progress-counter.xe-counter-block-success {
  background: #8dc63f;
}
.xe-widget.xe-counter-block.xe-counter-block-success .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-success .xe-upper {
  background: #8dc63f;
}
.xe-widget.xe-counter-block.xe-counter-block-success .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-success .xe-upper .xe-icon i {
  background-color: #8dc63f;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-success .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-success .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-success .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-success .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-success .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-success .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-success .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-success .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-success .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-success .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-warning,
.xe-widget.xe-progress-counter.xe-counter-block-warning {
  background: #ffba00;
}
.xe-widget.xe-counter-block.xe-counter-block-warning .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-warning .xe-upper {
  background: #ffba00;
}
.xe-widget.xe-counter-block.xe-counter-block-warning .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-warning .xe-upper .xe-icon i {
  background-color: #ffba00;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-warning .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-warning .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-warning .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-warning .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-warning .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-warning .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-warning .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-warning .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-warning .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-warning .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-danger,
.xe-widget.xe-progress-counter.xe-counter-block-danger {
  background: #cc3f44;
}
.xe-widget.xe-counter-block.xe-counter-block-danger .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-danger .xe-upper {
  background: #cc3f44;
}
.xe-widget.xe-counter-block.xe-counter-block-danger .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-danger .xe-upper .xe-icon i {
  background-color: #cc3f44;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-danger .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-danger .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-danger .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-danger .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-danger .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-danger .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-danger .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-danger .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-danger .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-danger .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-info,
.xe-widget.xe-progress-counter.xe-counter-block-info {
  background: #40bbea;
}
.xe-widget.xe-counter-block.xe-counter-block-info .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-info .xe-upper {
  background: #40bbea;
}
.xe-widget.xe-counter-block.xe-counter-block-info .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-info .xe-upper .xe-icon i {
  background-color: #40bbea;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-info .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-info .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-info .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-info .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-info .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-info .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-info .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-info .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-info .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-info .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-purple,
.xe-widget.xe-progress-counter.xe-counter-block-purple {
  background: #7c38bc;
}
.xe-widget.xe-counter-block.xe-counter-block-purple .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-purple .xe-upper {
  background: #7c38bc;
}
.xe-widget.xe-counter-block.xe-counter-block-purple .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-purple .xe-upper .xe-icon i {
  background-color: #7c38bc;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-purple .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-purple .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-purple .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-purple .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-purple .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-purple .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-purple .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-purple .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-purple .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-purple .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-blue,
.xe-widget.xe-progress-counter.xe-counter-block-blue {
  background: #0e62c7;
}
.xe-widget.xe-counter-block.xe-counter-block-blue .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-blue .xe-upper {
  background: #0e62c7;
}
.xe-widget.xe-counter-block.xe-counter-block-blue .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-blue .xe-upper .xe-icon i {
  background-color: #0e62c7;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-blue .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-blue .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-blue .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-blue .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-blue .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-blue .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-blue .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-blue .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-blue .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-blue .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-red,
.xe-widget.xe-progress-counter.xe-counter-block-red {
  background: #d5080f;
}
.xe-widget.xe-counter-block.xe-counter-block-red .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-red .xe-upper {
  background: #d5080f;
}
.xe-widget.xe-counter-block.xe-counter-block-red .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-red .xe-upper .xe-icon i {
  background-color: #d5080f;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-red .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-red .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-red .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-red .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-red .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-red .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-red .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-red .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-red .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-red .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-orange,
.xe-widget.xe-progress-counter.xe-counter-block-orange {
  background: #f7aa47;
}
.xe-widget.xe-counter-block.xe-counter-block-orange .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-orange .xe-upper {
  background: #f7aa47;
}
.xe-widget.xe-counter-block.xe-counter-block-orange .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-orange .xe-upper .xe-icon i {
  background-color: #f7aa47;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-orange .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-orange .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-orange .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-orange .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-orange .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-orange .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-orange .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-orange .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-orange .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-orange .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-turquoise,
.xe-widget.xe-progress-counter.xe-counter-block-turquoise {
  background: #00b19d;
}
.xe-widget.xe-counter-block.xe-counter-block-turquoise .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-turquoise .xe-upper {
  background: #00b19d;
}
.xe-widget.xe-counter-block.xe-counter-block-turquoise .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-turquoise .xe-upper .xe-icon i {
  background-color: #00b19d;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-turquoise .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-turquoise .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-turquoise .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-turquoise .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-turquoise .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-turquoise .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-turquoise .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-turquoise .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-turquoise .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-turquoise .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-pink,
.xe-widget.xe-progress-counter.xe-counter-block-pink {
  background: #ff6264;
}
.xe-widget.xe-counter-block.xe-counter-block-pink .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-pink .xe-upper {
  background: #ff6264;
}
.xe-widget.xe-counter-block.xe-counter-block-pink .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-pink .xe-upper .xe-icon i {
  background-color: #ff6264;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-pink .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-pink .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-pink .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-pink .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-pink .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-pink .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-pink .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-pink .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-pink .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-pink .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-yellow,
.xe-widget.xe-progress-counter.xe-counter-block-yellow {
  background: #fcd036;
}
.xe-widget.xe-counter-block.xe-counter-block-yellow .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-yellow .xe-upper {
  background: #fcd036;
}
.xe-widget.xe-counter-block.xe-counter-block-yellow .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-yellow .xe-upper .xe-icon i {
  background-color: #fcd036;
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-yellow .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-yellow .xe-upper .xe-label .num {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-yellow .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-yellow .xe-upper .xe-label span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-yellow .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-yellow .xe-lower .border {
  background: rgba(255, 255, 255, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-yellow .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-yellow .xe-lower span {
  color: rgba(255, 255, 255, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-yellow .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-yellow .xe-lower strong {
  color: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-gray,
.xe-widget.xe-progress-counter.xe-counter-block-gray {
  background: #d5d5d5;
}
.xe-widget.xe-counter-block.xe-counter-block-gray .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-gray .xe-upper {
  background: #d5d5d5;
}
.xe-widget.xe-counter-block.xe-counter-block-gray .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-gray .xe-upper .xe-icon i {
  background-color: #d5d5d5;
  color: #666666;
}
.xe-widget.xe-counter-block.xe-counter-block-gray .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-gray .xe-upper .xe-label .num {
  color: #666666;
}
.xe-widget.xe-counter-block.xe-counter-block-gray .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-gray .xe-upper .xe-label span {
  color: rgba(102, 102, 102, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-gray .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-gray .xe-lower .border {
  background: rgba(102, 102, 102, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-gray .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-gray .xe-lower span {
  color: rgba(102, 102, 102, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-gray .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-gray .xe-lower strong {
  color: #666666;
}
.xe-widget.xe-counter-block.xe-counter-block-white,
.xe-widget.xe-progress-counter.xe-counter-block-white {
  background: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-white .xe-upper,
.xe-widget.xe-progress-counter.xe-counter-block-white .xe-upper {
  background: #ffffff;
}
.xe-widget.xe-counter-block.xe-counter-block-white .xe-upper .xe-icon i,
.xe-widget.xe-progress-counter.xe-counter-block-white .xe-upper .xe-icon i {
  background-color: #ffffff;
  color: #4b4b4b;
}
.xe-widget.xe-counter-block.xe-counter-block-white .xe-upper .xe-label .num,
.xe-widget.xe-progress-counter.xe-counter-block-white .xe-upper .xe-label .num {
  color: #4b4b4b;
}
.xe-widget.xe-counter-block.xe-counter-block-white .xe-upper .xe-label span,
.xe-widget.xe-progress-counter.xe-counter-block-white .xe-upper .xe-label span {
  color: rgba(75, 75, 75, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-white .xe-lower .border,
.xe-widget.xe-progress-counter.xe-counter-block-white .xe-lower .border {
  background: rgba(75, 75, 75, 0.5);
}
.xe-widget.xe-counter-block.xe-counter-block-white .xe-lower span,
.xe-widget.xe-progress-counter.xe-counter-block-white .xe-lower span {
  color: rgba(75, 75, 75, 0.7);
}
.xe-widget.xe-counter-block.xe-counter-block-white .xe-lower strong,
.xe-widget.xe-progress-counter.xe-counter-block-white .xe-lower strong {
  color: #4b4b4b;
}
.xe-widget.xe-progress-counter {
  position: relative;
  color: #fff;
  background: #68b828;
  margin-bottom: 20px;
  overflow: hidden;
}
.xe-widget.xe-progress-counter .xe-background {
  position: absolute;
  left: -40%;
  bottom: -10%;
  color: #fff;
  font-size: 150px;
  zoom: 1;
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  filter: alpha(opacity=10);
}
.xe-widget.xe-progress-counter .xe-background i {
  line-height: 1;
  display: block;
}
.xe-widget.xe-progress-counter .xe-upper .xe-icon i {
  font-size: 28px;
  background: none;
}
.xe-widget.xe-progress-counter .xe-upper .xe-label span {
  padding: 0;
  padding-bottom: 5px;
}
.xe-widget.xe-progress-counter .xe-upper .xe-label .num {
  font-size: 20px;
}
.xe-widget.xe-progress-counter .xe-progress {
  height: 2px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 30px;
  margin-top: 10px;
}
.xe-widget.xe-progress-counter .xe-progress .xe-progress-fill {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
}
.xe-widget.xe-progress-counter.xe-progress-counter-primary {
  background-color: #2c2e2f;
}
.xe-widget.xe-progress-counter.xe-progress-counter-primary .xe-background {
  color: #ffffff;
}
.xe-widget.xe-progress-counter.xe-progress-counter-primary .xe-upper {
  background-color: transparent;
}
.xe-widget.xe-progress-counter.xe-progress-counter-success {
  background-color: #8dc63f;
}
.xe-widget.xe-progress-counter.xe-progress-counter-success .xe-background {
  color: #ffffff;
}
.xe-widget.xe-progress-counter.xe-progress-counter-success .xe-upper {
  background-color: transparent;
}
.xe-widget.xe-progress-counter.xe-progress-counter-info {
  background-color: #40bbea;
}
