#parse("templates/report/layout.vm")
#parse("templates/report/default/PGS/reference.vm")
#parse("templates/report/6/PGS/project/input.vm")
#parse("templates/report/6/PGS/project/js.vm")
<style type="text/css">
td, th {
    min-width: 40px;
}
</style>
