#parse("templates/report/layout.vm")
#parse("templates/report/default/${egfr.appId}/reference.vm")
<div id="printMain">
    <div>
        #parse("templates/report/57/${egfr.appId}/title.vm")
        #parse("templates/report/default/${egfr.appId}/content.vm")
        #parse("templates/report/default/${egfr.appId}/foot.vm")
        </form>
    </div>
</div>  
#parse("templates/report/default/${egfr.appId}/js.vm")