<form id="print-form">
    <input type="hidden" name="id" value="${tbrifampicin.id}" id="tbRifampicinId" />
    <input type="hidden" value="${tbrifampicin.projectId}" id="_projectId">
    <div style="display: none;" id="_userId">${tbrifampicin.userId}</div>
    <div style="display: none;" id="_appId">${tbrifampicin.appId}</div>
    <div style="display: none;" id="_fileId">${report.fileId}</div>
    
    <div class="wrapper">
        <ul class="info mt5">
            <li>姓名：<span><input name="baseInfo['name']" value="$!{tbrifampicin.baseInfo.name}" type="text"></span></li>
            <li>ID号：<span><input name="baseInfo['id']" value="$!{tbrifampicin.baseInfo.id}" type="text"></span></li>
            <li>样本编号：<span><input name="baseInfo['sampleNumber']" value="$!{tbrifampicin.baseInfo.sampleNumber}" type="text"></span></li>
            <li>样本种类：<span><input name="baseInfo['sampleType']" value="$!{tbrifampicin.baseInfo.sampleType}" type="text"></span></li>
            <li>性别：<span id="_sex"><input type="radio" name="baseInfo['sex']" value="男" #if(${tbrifampicin.baseInfo.sex}!='女')checked="checked"#end onclick="radioClick(0)" id="men">男<input type="radio" name="baseInfo['sex']" #if(${tbrifampicin.baseInfo.sex}=='女')checked="checked"#end value="女" onclick="radioClick(1)" id="women">女</span></li>
            <li>科室：<span><input name="baseInfo['dept']" value="$!{tbrifampicin.baseInfo.dept}" type="text"></span></li>
            <li>送检日期：<span><input name="baseInfo['submissionDate']" value="$!{tbrifampicin.baseInfo.submissionDate}" type="text"></span></li>
            <li>送检医生：<span><input name="baseInfo['doctor']" value="$!{tbrifampicin.baseInfo.doctor}" type="text"></span></li>
            <li>年龄：<span><input name="baseInfo['age']" value="$!{tbrifampicin.baseInfo.age}" type="text"></span>岁</li>
            <li>床号：<span><input name="baseInfo['bedNo']" value="$!{tbrifampicin.baseInfo.bedNo}" type="text"></span></li>
            <li>住院号：<span><input name="baseInfo['inpatientNumber']" value="$!{tbrifampicin.baseInfo.inpatientNumber}" type="text"></span></li>
        </ul>
    </div>
    <hr class="hr-bold mt5" />
    <div class="wrapper" style="min-height:800px;" id="mainDIv">
        #if(${tbrifampicin.report})
            <h2 class="mt20">报告：</h2>
            <p>${tbrifampicin.report}</p>
        #end
        <div class="w3cbbs"></div>
        <h2 class="mt20">原始峰图：</h2>
        <p style="width:750px;">
            #if(${tbrifampicin.original})
                #foreach(${original} in ${tbrifampicin.original})
                    <img src="${uploadPath}${tbrifampicin.userId}/${tbrifampicin.appId}/${tbrifampicin.dataKey}/SVG/${original}" style="width: 100%;">
                    <br/><br/>
                #end
            #else
                      样本异常，无法检测
            #end
        </p>
    </div>
