<script type="text/javascript" src="$link.getContextPath()/js/browser.js"></script>
<script src="$link.getContextPath()/plugins/jquery_alert_dialogs/jquery.ui.draggable.js" type="text/javascript"></script>
<script src="$link.getContextPath()/plugins/jquery_alert_dialogs/jquery.alerts.js" type="text/javascript"></script>
<link href="$link.getContextPath()/plugins/jquery_alert_dialogs/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="$link.getContextPath()/css/print_hbv.css?version=1.16">