@charset "utf-8";
/* reset */
body, div {
	margin: 0;
	padding: 0;
}

input, button, select, textarea {
	outline: none
}

textarea {
	resize: none
}

a {
	text-decoration: none
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	height: 50px !important;
	line-height: 50px !important;
	color: #a0a0a0;
}
/*清除浮动*/
.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	display: block;
	clear: both;
	content: '.';
	height: 0;
	visibility: hidden;
	font-size: 0;
}

.clearfix {
	zoom: 1;
}
/* bgContainer */
.bgContainer {
	position: relative;
}

@media ( max-width : 1280px) {
	.bgContainer {
		background: url(../images/home/login_bg_1280.png) no-repeat;
		background-size: cover;
	}
}

@media ( max-width : 1920px) {
	.bgContainer {
		background: url(../images/home/login_bg_1920.png) no-repeat;
		background-size: cover;
	}
}

#bg {
	display: block;
}

body {
	font-family: "微软雅黑";
}

.login {
	width: 320px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-moz-transform: translate(-50%, -50%); /* Firefox */
	-webkit-transform: translate(-50%, -50%); /* Safari 和 Chrome */
	-o-transform: translate(-50%, -50%); /* Opera */
}

.login-icon a {
	display: block;
	height: 74px;
}

.logo-name {
	margin: 8px 0px 30px 0px;
	font-size: 18px;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	color: #323232;
	letter-spacing: 8px;
	padding-left: 20px;
}

.login-main {
	width: 320px;
}

input[type=text], input[type=password] {
	width: 298px !important;
	height: 46px !important;
	padding-left: 20px !important;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #a0a0a0 !important;
	line-height: 40px;
	border: 1px solid #ddf3c2 !important;
}

.input-top {
	border-radius: 6px 6px 0 0;
}

.input-bottom {
	border-radius: 0 0 6px 6px;
}

.btn-login {
	background: url(../images/icon/global_icon.png) no-repeat;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-indent: -9999em; *+
	text-indent: 0; *+
	font-size: 0; *+
	overflow: hidden;
}

.sign-in {
	width: 320px;
	height: 40px;
	margin: 20px auto;
	background-position: -418px -330px;
}

.checkbox-un, .checkbox-ed {
	display: inline-block;
	width: 16px;
	height: 18px;
	float: left;
	margin-right: 5px;
}

.checkbox-un {
	background-position: -418px -388px;
}

.checkbox-ed {
	background-position: -453px -388px;
}

.register {
	position: absolute;
	left: 50%;
	top: 45%;
	width: 560px;
	height: 508px;
	margin: -300px 0 0 -280px;
	text-align: center;
}

.register-logo {
	margin-bottom: 20px;
}

.register-font {
	font-size: 24px;
}

input:focus {
	outline: none
}

.btn-email {
	width: 150px;
	height: 40px;
	margin-top: 20px;
	float: right;
	background-position: -172px -330px;
}

.btn-email:hover, .btn-email:active {
	background-position: -172px -404px;
}

.find-email {
	width: 150px;
	height: 40px;
	margin-top: 20px;
	float: right;
	background-position: -170px -469px;
}

.find-email:hover, .find-email:active {
	background-position: 0px -469px;
}

.btn-return {
	width: 150px;
	height: 40px;
	margin-top: 20px;
	float: left;
	background-position: 0px -330px;
}

.btn-return:hover {
	background-position: 0px -404px;
}

.btn-confirm, .btn-cancle {
	width: 138px;
	height: 38px;
	background: url(../images/icon/btn-confirm-cancle.png) no-repeat;
}

.btn-confirm {
	background-position: -203px -44px;
	float: left;
	margin-left: 100px;
}

.btn-confirm:hover, .btn-confirm:active {
	background-position: -203px -122px;
}

.btn-cancle {
	background-position: -425px -44px;
	float: right;
	margin-right: 100px;
}

.btn-cancle:hover, .btn-cancle:active {
	background-position: -425px -120px;
}

.btn-update-pwd {
	width: 150px;
	height: 40px;
	margin-top: 20px;
	background-position: -170px -531px;
	float: right;
}

.btn-update-pwd:hover, .btn-update-pwd:active {
	background-position: 0px -531px;
}

.yzm {
	position: relative
}

.yzm img {
	position: absolute;
	left: 220px;
	top: 10px
}

.autolog {
	font-size: 14px;
	color: #a0a0a0;
	text-align: left;
	line-height: 16px;
}

.forget {
	font-size: 14px;
	color: #a0a0a0;
	float: right;
	display: inline;
}

.forget:hover {
	color: #78BC28;
}

.download {
	font-size: 12px;
	color: #78BC28;
	float: right;
	display: inline;
	margin-right: 120px;
}

.download:hover {
	color: #4CBA42
}

.footer {
	position: fixed;
	bottom: 20px;
	width: 100%;
	color: #9abf9f;
	text-align: center;
	font-size: 12px;
}

.footer a {
	color: #9abf9f;
}
/* 设置提示文字颜色 */
::-webkit-input-placeholder {
	color: #a0a0a0;
}

:-moz-placeholder {
	color: #a0a0a0;
}

#pwdPlaceholder, .placeholder {
	color: #a0a0a0;
}

.error {
	color: #ff587d;
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
	height: 20px;
	padding-left: 5px;
}
/*错误页面*/
.error_return {
	font-size: 12px;
	color: #959595;
	display: inline;
	margin-left: 10px;
	margin-top: 10px;
}

.error_return:hover {
	color: #78BC28;
}