@charset "utf-8";
body{
  font-family: Arial,'Hiragino Sans GB','Microsoft YaHei',微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  font-weight: 400;
}

.panel-heading a {
    color: #979898;
    font-size: 13px;
}

#index-main-div{
    position:static;
    z-index:auto;
}
a{
    color: #337ab7;
    text-decoration: none;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
}

.home-numbers {
    background: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    overflow: hidden
}

::selection {
    color: #fff;
    background: #57b382
}

.viewport-inner {
    width: 1100px;
    margin: 0 auto
}

.home-numbers ul {
    margin: 0;
    padding: 0
}

.home-numbers li {
    padding: 30px 0;
    width: 120px;
    margin: 0 5px;
    float: left;
    list-style-type: none;
    background: #4fae7b;
    height: 120px;
    position: relative;
    border-radius: 200px
}

.home-numbers .number {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    font-weight: 400;
    vertical-align: middle;
    font-family: Arial
}

.home-numbers .unit {
    font-size: 10px;
    font-weight: 120;
    padding: 0px 0;
}

.home-numbers .info {
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #353644;
    color: #fff;
    line-height: 15px;
    height: 100px;
    vertical-align: middle;
    width: 100%;
    font-weight: 100;
    padding: 60px 0;
    font-size: 16px;
    border-radius: 60px;
    transition: all .4s ease-in-out;
    transform: scale(0);
}

.home-numbers .info b {
    display: block;
    font-size: 23px
}

.home-numbers li:hover .info {
    transform: scale(1);
    opacity: .9
}

.min-w-50{
	min-width: 50px;
}

.min-w-100{
    min-width: 100px;
}

.min-w-170{
    min-width: 170px;
}

.min-w-200{
    min-width: 200px;
}

.mt5{
	margin-top: 5px;
}

.mt7{
    margin-top: 7px;
}

.mt10{
    margin-top: 10px;
}