<form id="print-form">
    <input type="hidden" name="id" value="${kras.id}" id="krasId" />
    <input type="hidden" value="${kras.projectId}" id="_projectId">
    <div style="display: none;" id="_userId">${kras.userId}</div>
    <div style="display: none;" id="_appId">${kras.appId}</div>
    <div style="display: none;" id="_fileId">${report.fileId}</div>
    <div class="wrapper">
        <ul class="info mt5">
            <li>姓名：<span><input name="baseInfo['name']" value="$!{kras.baseInfo.name}" type="text"></span></li>
            <li>ID号：<span><input name="baseInfo['id']" value="$!{kras.baseInfo.id}" type="text"></span></li>
            <li>样本编号：<span><input name="baseInfo['sampleNumber']" value="$!{kras.baseInfo.sampleNumber}" type="text"></span></li>
            <li>样本种类：<span><input name="baseInfo['sampleType']" value="$!{kras.baseInfo.sampleType}" type="text"></span></li>
            <li>性别：<span id="_sex"><input type="radio" name="baseInfo['sex']" value="男" #if(${kras.baseInfo.sex}!='女')checked="checked"#end onclick="radioClick(0)" id="men">男<input type="radio" name="baseInfo['sex']" #if(${kras.baseInfo.sex}=='女')checked="checked"#end value="女" onclick="radioClick(1)" id="women">女</span></li>
            <li>科室：<span><input name="baseInfo['dept']" value="$!{kras.baseInfo.dept}" type="text"></span></li>
            <li>送检日期：<span><input name="baseInfo['submissionDate']" value="$!{kras.baseInfo.submissionDate}" type="text"></span></li>
            <li>送检医生：<span><input name="baseInfo['doctor']" value="$!{kras.baseInfo.doctor}" type="text"></span></li>
            <li>年龄：<span><input name="baseInfo['age']" value="$!{kras.baseInfo.age}" type="text"></span>岁</li>
            <li>床号：<span><input name="baseInfo['bedNo']" value="$!{kras.baseInfo.bedNo}" type="text"></span></li>
            <li>住院号：<span><input name="baseInfo['inpatientNumber']" value="$!{kras.baseInfo.inpatientNumber}" type="text"></span></li>
        </ul>
    </div>
    <hr class="hr-bold mt5" />
    <div class="wrapper" style="min-height:800px;" id="mainDIv">
        <h2 class="mt20">已知位点：</h2>
        <p>
            #if(${kras.position})
                ${kras.position}
            #else
                未检测到突变
            #end
        </p>
        #if(${kras.knowMutationBig.size()}>0)
            #foreach(${kmb} in ${kras.knowMutationBig})
                <p>
                    <br/>
                    <img src="${uploadPath}${kras.userId}/${kras.appId}/${kras.dataKey}/SVG/${kmb}" style="width: 900px;height: 136px;">
                </p>
            #end
        #end
        #if(${kras.conclusion})
            <h2 class="mt20">结论：</h2>
            <p>${kras.conclusion}</p>
        #end
        #if(${kras.seq})
            <h2 class="mt20">原始序列：</h2>
            <p style="word-break: break-all;">${kras.seq}</p>
        #end
        <div class="w3cbbs"></div>
        <h2 class="mt20">原始峰图：</h2>
        <p style="width:750px;">
            #if(${kras.original.size()}>0)
                #foreach(${original} in ${kras.original})
                    <img src="${uploadPath}${kras.userId}/${kras.appId}/${kras.dataKey}/SVG/${original}" style="width: 100%;">
                    <br/><br/>
                #end
            #else
                样本异常，无法检测
            #end
        </p>
    </div>
