    <h4>1.&nbsp;&nbsp; 基本信息</h3>
    <div class="section1">
    <form id="split-form">
        <input type="hidden" name="id" id="id" value="$!{split.id}">
        <ul style="margin-bottom: 10px;">
            <li>编号：<span><input type="text" name='baseInfo["number"]' value="$!{split.baseInfo.number}"></span></li>
            <li>样本类型：<span><input type="text" name='baseInfo["sampleType"]' value="$!{split.baseInfo.sampleType}"></span></li>
            <li>姓名：<span><input type="text" name='baseInfo["name"]' value="$!{split.baseInfo.name}"></span></li>
            <li>申请日期：<span><input type="text" name='baseInfo["applicationDate"]' value="$!{split.baseInfo.applicationDate}"></span></li>
            <li>性别： <span id="_sex"><input type="radio" name='baseInfo["sex"]' value="男" #if(${split.baseInfo.sex}!='女')checked="checked"#end>男<input type="radio" name='baseInfo["sex"]' value="女" #if(${split.baseInfo.sex}=='女')checked="checked"#end>女</span></li>
            <li>接收日期：<span><input type="text" name='baseInfo["receivedDate"]' value="$!{split.baseInfo.receivedDate}"></span></li>
            <li>年龄：<span><input type="text" id="patientAge" name='baseInfo["age"]' value="$!{split.baseInfo.age}"></span>岁</li>
            <li>样本状态：<span><input type="text" name='baseInfo["status"]' value="$!{split.baseInfo.status}"></span></li>
        </ul>
    </form>
    </div>
    <h4>2.&nbsp;&nbsp; 检测文件（$!{split.dataKey}）</h4>
    <div class="info">
        #foreach($data in ${split.data})
            $!{data.fileName}&nbsp;&nbsp;
        #end
    </div>
    <h4>3.&nbsp;&nbsp;源数据统计</h4>
    <div class="info">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr><th>平均质量</th><th>平均GC含量</th><th>序列总数</th><th>有效序列</th><th>未知序列</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>$!{split.avgQuality}</td>
                    <td>$!{split.avgGCContent}</td>
                    <td>$!{split.totalReads}</td>
                    <td>$!{split.usefulReads}</td>
                    <td>$!{split.unknownReads}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4>4.&nbsp;&nbsp;结果样本统计</h4>
    <div class="info">
        <table class="table table-bordered table-condensed">
            <tbody>
              <tr>
                <td style="width:200px">样本数量</td>
                <td>$!{split.sampleNum}</td>
              </tr>
              <tr>
                <td>&lt;5000条序列的样本数量</td>
                <td>$!{split.less5000}</td>
              </tr>
              <tr>
                <td>&gt;20000条序列的样本数量</td>
                <td>$!{split.more2000}</td>
             </tr>
              <tr>
                <td>样本序列数平均值</td>
                <td>$!{split.avgSampleSeq}</td>
              </tr>
              <tr>
                <td>样本序列数最小值</td>
                <td>$!{split.minSampleSeq}</td>
              </tr>
              <tr>
                <td>样本序列数最大值</td>
                <td>$!{split.maxSampleSeq}</td>
              </tr>
              <tr>
                <td>方差</td>
                <td>$!{split.variance}</td>
              </tr>
              <tr>
                <td>标准差</td>
                <td>$!{split.stdev}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <h4>5.&nbsp;&nbsp;结果样本详细</h4>
    <div class="info">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>数据名称</th>   
            <th>序列数量</th>
            <th>平均质量</th>
            <th>平均GC含量</th>
          </tr> 
        </thead>
        <tbody>
            #if(${split.resultList}==[])
                <tr><td colspan="4">未分析出结果</td></tr>
            #else
                #foreach($data in ${split.resultList})
                    #if(!($!{data.name}=='total'||$!{data.name}=='useful'||$!{data.name}=='unknown'))
                        <tr>
                            <td>$!{data.name}</td>
                            <td>$!{data.number}</td>
                            <td>$!{data.avgQuality}</td>
                            <td>$!{data.avgGCContent}</td>
                        </tr>
                    #end
                #end
            #end
        </tbody>
      </table>
    </div>
</section>
<section class="section8 border1 w3cbbs">
    <h3>序列质量分析（见QC结果）</h3>
    <div class="h2">Basic Statistics</div>
    <table class="table table-green table-striped-blue table-text-center">
        <thead>
            <tr>
                <th>#Measure</th>
                <th colspan="2">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Filename</td>
                <td>$!{split.basicStatistics1.Filename}</td>
                <td>$!{split.basicStatistics2.Filename}</td>
            </tr>
            <tr>
                <td>File type</td>
                <td>$!{split.basicStatistics1.FileType}</td>
                <td>$!{split.basicStatistics2.FileType}</td>
            </tr>
            <tr>
                <td>Encoding</td>
                <td>$!{split.basicStatistics1.Encoding}</td>
                <td>$!{split.basicStatistics2.Encoding}</td>
            </tr>
            <tr>
                <td>Total Sequences</td>
                <td>$!{split.basicStatistics1.TotalSeq}</td>
                <td>$!{split.basicStatistics2.TotalSeq}</td>
            </tr>
            <tr>
                <td>Filtered Sequences</td>
                <td>$!{split.basicStatistics1.FilteredSeq}</td>
                <td>$!{split.basicStatistics2.FilteredSeq}</td>
            </tr>
            <tr>
                <td>Sequence length</td>
                <td>$!{split.basicStatistics1.SeqLength}</td>
                <td>$!{split.basicStatistics2.SeqLength}</td>
            </tr>
            <tr>
                <td>%GC</td>
                <td>$!{split.basicStatistics1.gc}</td>
                <td>$!{split.basicStatistics2.gc}</td>
            </tr>
        </tbody>
    </table>
    <table style="width:100%;">
      <tr>
        <td style="width:50%;"><img style="width: 100%;" src="#if(!${split.qualityPath1.contains('Tools')})${splitUploadPath}/${split.userId}/${split.appId}/${split.dataKey}#end${split.qualityPath1}"></td>
        <td><img style="width: 100%;" src="#if(!${split.qualityPath2.contains('Tools')})${splitUploadPath}/${split.userId}/${split.appId}/${split.dataKey}/#end${split.qualityPath2}"></td>
      </tr>
      <tr>
        <td><img style="width: 100%;" alt="" src="#if(!${split.seqContentPath1.contains('Tools')})${splitUploadPath}/${split.userId}/${split.appId}/${split.dataKey}#end${split.seqContentPath1}"></td>
        <td><img style="width: 100%;" alt="" src="#if(!${split.seqContentPath2.contains('Tools')})${splitUploadPath}/${split.userId}/${split.appId}/${split.dataKey}#end${split.seqContentPath2}"></td>
      </tr>
    </table>
</section>
