@CHARSET "UTF-8";
/* html { */
/*     color: #333; */
/*     background: #fff; */
/*     -webkit-text-size-adjust: 100%; */
/*     -ms-text-size-adjust: 100%; */
/* } */
/* body, div, form, html, li, ol, span, ul, a  */
/* body, div, dl, dt, dd, ul, ol, li,  */
/* h1, h2, h3, h4, h5, h6, pre, code,  */
/* form, fieldset, legend, input, textarea, p, blockquote,  */
/* th, td, hr, button, article, footer, header, hgroup, menu, nav, section{ */
/*     margin: 0; */
/*     padding: 0; */
/*     border: 0; */
/*     vertical-align: baseline; */
/* } */
body, button, input, select, textarea {
    font: 14px/1.5 "Microsoft Yahei","Hiragino Sans GB",tahoma,arial;
    outline: none;
}
ul, ol {
    list-style: none;
}
a, a:link, a:hover, a:active, a:visited {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.disabled{
    opacity: 0.3;
}
.page-layout{
	background-color: rgb(240,240,240);
/* 	min-width: 980px; */
}
.topbar-menu{
	
}
.global-topbar{
    position: relative;
    height: 40px;
    font-size: 12px;
    zoom: 1;
    background-color: rgb(44,62,80);
    z-index: 1030;
    color: #fff;
    padding-top:10px;
    border-bottom: 1px solid rgb(222,222,221);
}
.global-topbar a,
.global-topbar hr{
	display: inline-block;
	height: 20px;
	color: #fff;
}
.global-topbar hr{
    margin: 0px 20px;
}
.global-topbar .y-topbar-span3 a,
.global-topbar .y-topbar-span3 hr{
	float: left;
}
.global-topbar .y-topbar-span9 a,
.global-topbar .y-topbar-span9 hr{
    float: right;
}
.global-topbar a i{
    float: right;
}
.global-topbar a span{
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
    display: inline-block;
    webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.global-topbar hr{
	border-left:1px solid rgb(37,53,70);
	border-right:1px solid rgb(53,74,95);
}
.global-topbar .y-topbar-row {
    zoom: 1;	
}
.global-topbar .y-topbar-row .y-topbar-span3{
    width: 34.5%;
}
.global-topbar .y-topbar-row .y-topbar-span9 {
    width: 63.5%;
    margin-right: 0!important;
}
.global-topbar .y-topbar-row .y-topbar-span3 {
    float: left;
    display: inline;
    margin-right: 2%;
}
.global-topbar .y-topbar-row .y-topbar-span9{
	float: right;
	text-align:right;
}
.global-topbar .y-last .dropdown{
	float: right;
	height: 28px;
	width: 100px;
}
.global-topbar .y-last .dropdown .dropdown-menu{
    left: 2px;
    min-width: 100px;
    width: 100px;
    background: none;
    padding: 0px;
    margin: 0px;
}
.global-topbar .y-last .dropdown .dropdown-menu>li{
	height: 30px;
}
.global-topbar .y-last .dropdown .dropdown-menu>li>a,
.global-topbar .y-last .dropdown .dropdown-menu>li>a:hover{
	background-color: rgb(44,62,80);
	border:1px solid rgb(160,160,160);
	color: #fff;
	padding: 0;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
}
.global-topbar .y-last .dropdown .dropdown-menu>li>a>i{
	float:none;
	font-size:14px;
	margin-right: 4px;
}
.global-topbar .y-last .dropdown .dropdown-menu>li>a:hover{
	color: #26aa38;
}
.celicon{
	background-image: url(../images/icon/global_icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 18px;
    height: 18px;
    text-indent: -9999em; *+
    text-indent: 0; *+
    font-size: 0; *+
    line-height: 18px; *+
    overflow: hidden;
}
.home-icon{
    background-position: 0 -1px;
}
.home-icon:hover {
    background-position: -170px -1px
}
.print-btn .celicon{
	float: left;
    margin-right: 5px;
}
.my-report-icon{
	background-position: 0 -58px;
}
.my-upload-icon{
    background-position: -43px -58px;
}
.my-sample-icon{
    background-position: -392px -58px;
    width: 24px;
}
.grey-upload-icon{
    background-position: -303px -58px;
    height: 20px;
    float: left;
}
.my-data-icon{
    background-position: -92px -58px;
}
.run-error-icon{
	height: 45px;
	width: 50px;
	background-position: -475px -200px;
}
.common-menu-btn .item-btn:hover .my-report-icon,
.common-menu-btn .active .my-report-icon{
    background-position: -170px -58px;
}
.common-menu-btn .item-btn:hover .my-upload-icon,
.common-menu-btn .active .my-upload-icon{
    background-position: -214px -58px;
}
.common-menu-btn .item-btn:hover .my-data-icon,
.common-menu-btn .active .my-data-icon{
    background-position: -262px -58px;
}
.common-menu-btn .item-btn:hover .my-sample-icon,
.common-menu-btn .active .my-sample-icon{
    background-position: -351px -58px;
}
.rerun-icon{
    background-position: -185px -257px;
}
.show-icon{
	background-position: -232px -257px;
}
.minus-icon{
    background-position: -332px -193px;
}
.close-icon{
    background-position: -364px -193px;
}
.common-menu{
	position: relative;
    width: 100%;
    height: 90px;
    background-color: #f8f8f8;
}
.common-menu > .common-menu-logo {
    width: 178px;
    padding: 10px 0px;
    float: left;
}
.common-menu > .common-menu-logo img{
    height: 70px;
    display: block;
    margin: auto auto;
}
.common-menu hr{
    height: 80px;
    width: 0px;
    margin: 5px 0px;
    display: inline-block;
    border-left:1px solid #fff;
    border-right:1px solid #f2f2f2;
}
.common-menu hr.-left{
    float: left;
}
.common-menu hr.-right{
    float: right;
}
.common-menu > .info{
	position: absolute;
	width: 100%;
	min-width: 440px;
    height: 90px;
    padding: 10px 240px 0px 170px;
    float: left;
}
.common-menu > .info .info-form {
    float: left;
}
.common-menu > .info .errortip{
    height: 26px;
    margin: 14px 0px 0px 20px;
    padding: 0px 20px;
    display: inline-block;
    line-height: 26px;
    color: #323232;
    font-size: 12px;
    float: left;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background-color:rgba(255,88,125,0.5);
}
.common-menu > .info .errortip a {
    padding-left: 20px;
    color: #323232;
}
.common-menu > .searchs{
    width: 240px;
    height: 80px;
    display: block;
    float: right;
    padding: 50px 40px 10px 0px;
}
.common-menu > .searchs >.btns{
    margin-top: 10px;
}
.common-menu > .searchs .data-search{
    float: right;
    position: relative;
    padding-bottom: 10px;
}
.common-menu > .searchs .data-search input{
    width: 180px;
    border: 1px solid rgb(220,220,220);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    float: right;
    padding-left: 35px;
    font-size:14px;
}
.common-menu > .searchs .data-search .input-group-btn{
    left: 1px;
    top: 1px;
    float: left;
    position: absolute;
    color: #fff;
    background: rgb(29,210,175);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    height: 28px;
    width: 28px;
    font-size:14px;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
}
.common-menu-inner{
    width: 980px;
    margin: 0 auto;
    position: relative;
    padding-top:10px;
}
.common-menu-inner hr{
	display: inline-block;
	height: 70px;
	width: 0px;
    float: left;
    border-left:1px solid rgb(242,242,242);
    border-right:1px solid rgb(255,255,255);
}
.common-menu-btn,
.common-menu-search{
    text-align: center;
}
.common-menu-logo{
    width: 140px;
    text-align: left;
}
.common-container{
    position: relative;
    padding: 20px 0px;
}
.bio-logo{
    width: 50px;
    height: 62px;
    display: inline-block;
    float: left
}
.bio-logo img{
	width: 50px;
}
.common-menu-logo .bio-name{
	width: 90px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
}
.common-menu-logo .bio-name>a{
	color: rgb(29,210,175);
	display: block;
	text-decoration:underline;
    -webkit-transform:scale(0.83);
    -moz-transform:scale(0.83);
    -o-transform:scale(0.83);
}
.common-menu-btn{
    width: 100%;
}
.common-menu-btn .item-btn{
    display: inline-block;
    *display: inline;
    text-align: center;
    width: 70px;
    height: 70px;
    margin-right: 40px;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    -o-border-radius: 99em;
    border-radius: 99em;
    background-color: rgb(220,220,220);
    color: rgb(44,62,80);
    border: 3px solid #fff;
    text-align: center;
    vertical-align: middle;
}
.common-menu-btn .item-btn:hover,
.common-menu-btn .active{
    border-color: rgb(29,210,175);
    background-color: rgb(44,62,80);
    color: #fff;
    
}
.common-menu-btn .upload-btn{
	position: relative;
	overflow: hidden;
}
.common-menu-btn .upload-btn .upload-progress{
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    display: block;
}
.common-menu-btn .item-btn:hover span{
	color: #fff;
}
.item-btn .celicon{
    margin-top: 15px;
}
.common-menu-search{
    width: 190px;
    text-align: right;
    margin-top: 40px;
}
.print-btn{
	width: 70px;
    height: 30px;
    display: inline-block;
    *display: inline;
    text-align: center;
    color: #dcdcdc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    padding: 5px 10px;
    margin-bottom: 2px;
}
.print-btn,
.print-btn:link,
.print-btn:hover,
.print-btn:active,
.print-btn:visited {
    background-color: #26aa38;
    color:#fff;
}
.print-btn{
    margin :0px;
}
.print-icon{
    background-position: -216px -115px;
}
.table-main{
    *border-collapse: separate; /* IE7 and lower */
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgb(220,220,220);
    margin-bottom: 10px;
}
.table-main>thead>tr>th{
	height: 40px;
	background: rgb(220,220,220);
	padding-left: 20px;
	color: rgb(50,50,50);
	text-align: left;
}
.table-main>thead>tr>th>a{
	color: #323232;
}
.table-main>thead>tr>th>input[type="text"]{
	width: 140px;
	height: 28px;
	margin: 0;
	font-size: 14px;
	color: #a0a0a0;
	padding: 0px 10px;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.table-main>tbody>tr:nth-of-type(even) {
    background: rgb(248,248,248);
}
.table-main>tbody>tr:nth-of-type(odd) {
    background: rgb(255,255,255);
}
.table-main>tbody>tr>td {
    font-size:12px;
    color:#646464;
    text-align: left;
    height: 30px;
    border: none;
    padding: 0px;
    padding-left: 20px;
    line-height:30px;
    color: rgb(50,50,50);
    max-width: 240px;
    -webkit-text-overflow: ellipsis;/*兼容opera*/
    -moz-text-overflow: ellipsis;/*兼容opera*/
    -o-text-overflow: ellipsis;/*兼容opera*/
    text-overflow: ellipsis;/*这就是省略号喽*/       
    overflow: hidden;/*设置超过的隐藏*/
    white-space: nowrap;/*设置不折行*/
}
.table-main>tbody>tr>td .wrong {
    color:#ff0000;
}
.table-main>tbody>tr>td>a {
    margin-right: 5px;
    color: rgb(50,50,50);
}
.table-main>tbody>tr>td>a>i{
	font-size: 16px;
	color: rgb(160,160,160);
}
.table-main>tbody>tr:hover>td,
.table-main>tbody>tr:hover>td>a,
.table-main>tbody>tr:hover>td>a>i{
	background-color: rgb(29,210,175);
	color: #ffffff;
}
.table-main>tbody>tr:hover .rerun-icon{
    background-position: -469px -257px;
}
.table-main>tbody>tr:hover .show-icon{
    background-position: -516px -257px;
}
.table-main .active a{
	color: rgb(29,210,175);
}
.table-main .checkbox{
	margin: 6px 0px;
}
.table-main .date-td{
	text-align: center
}
/*-----------翻页---------------*/
.pagination{
	width: 100%;
	margin: 0;
	
}
.pagination ul{
	display: inline-block;
    *display: inline;
    *zoom: 1;
}
.pages{
    margin-right: 20px;
}
.pagination ul > li {
	display: inline;
    float: left;
    font-size: 12px; 
}
.pagination ul > li > a {
    float: left;
    padding: 0;
    color: rgb(150,150,150);
    width: 40px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgb(220,220,220);
    border-left: none;
}
.pagination ul > li > span{
    float: left;
    padding: 0;
    height: 20px;
    line-height: 20px;
}
.pagination ul > li:first-child > a{
	border-left: 1px solid rgb(220,220,220);
	-webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
.pagination ul > li:last-child > a{
	-webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}

.pagination ul > li > a:hover,
.pagination ul > .active > a{
	color: #fff;
    background-color: rgb(220,220,220);
    border: 1px solid rgb(220,220,220);
}

.pagination ul > li>.ends{
	color: rgb(220,220,220);
	letter-spacing: -3px;
}
.pagination-data> li,
.pagination-check> li{
	color: rgb(150,150,150);
	display: inline-block;
}
.pagination-data> li+li:before{
    padding: 0 6px 0px 5px;
    color: rgb(150,150,150);
    content: "|";
}
.pagination-data select{
	height: 20px;
	width: 65px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border:1px solid rgb(150,150,150);
    font-size: 12px;
}
.pagination-check li{
	line-height: 24px;
	padding: 0px 10px;
}
.pagination-check .checkbox-li{
	padding-left: 20px;
	padding-top: 4px;
}
.pagination-check .checkbox{
	margin: 0
}
.pagination-check select{
    height: 24px;
    width: 90px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    border:1px solid rgb(150,150,150);
    font-size: 12px;
}
/*-----------------------*/
.bsi .modal{
	margin-top: 130px;
}
.bsi .modal .modal-dialog{
    margin: 60px auto;
}
.bsi .modal .modal-content{
	width: 500px;
    border: none;
	background-color: #f8f8f8;
}
.bsi .modal .modal-content .modal-header{
	height: 40px;
	background-color: #2c3e5c;
	webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    color: #dcdcdc;
    padding: 15px 15px;
}
.bsi .modal .modal-content .modal-header h4{
    line-height: 0.5;
    font-size: 14px;
}
.bsi .modal-header .close{
	margin-top: -10px;
    width:20px;
    height: 20px;
    color: #dcdcdc;
    opacity: 1;
}
/* .bsi .upload-modal .modal-content{
	height: 348px;
} */
.bsi .upload-modal .modal-body{
    text-align: center;
    padding: 20px 50px;
    width: 500px;
    margin: 0px;
}
.bsi .upload-modal .step-item{
	height: 42px;
}
.bsi .upload-modal .step-item>div{
    display: inline-block;
    text-align: center;
    width: 42px;
    height: 42px;
    line-height: 33px;
    color: rgb(44,62,80);
    font-size: 14px;
    color: #adadad;
    float: left;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    -o-border-radius: 99em;
    border-radius: 99em;
    background-color: #fff;
    border: 6px solid #dcdcdc;
}
.bsi .upload-modal .step-item>hr{
	width: 135px;
	float: left;
	margin-top: 21px;
    border-top: 1px solid;
    border-color: #dcdcdc;
}
.bsi .upload-modal .step-item .active{
	color: #2c3e50;
	border-color: rgb(29,210,175);
}
.bsi .upload-modal .step-one-content{
	margin-top: 60px;
	width: 100%;
}
.bsi .upload-modal .step-one-content input{
    width: 100%;
    height: 30px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: 14px;
    color: #969696;
    margin-bottom: 5px;
}
.bsi .upload-modal p{
	text-align: left;
    margin-bottom: 0;
}
.bsi .upload-modal p span{
    font-size:12px;
    color:#c8c8c8;
    -webkit-transform:scale(0.85);
    -moz-transform:scale(0.85);
    -ms-transform:scale(0.85);
    -o-transform:scale(0.85);
    display: block;
    margin: -3px -50px 0px -37px;
}
.bsi .upload-modal .step-one-content .btn{
	margin-top: 60px;
}
.bsi .upload-modal .upload-container{
    margin: 10px 0px 5px 0px;
    background-color: #fff;
    height:120px;
    width: 100%;
    border: 1px solid #dcdcdc;
}
.bsi .upload-container .plupload-content {
    text-align: center;
    width: 100%;
    height: 120px;
    cursor: pointer;
}
.bsi .upload-container .plupload-content .upload-text{
    color: #c8c8c8;
    font-size: 14px;
    position: absolute;
    top: 50px;
    left: 70px;
}
.bsi .upload-container .plupload-filelist {
	border: none;
    height: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
}
.bsi .upload-container .plupload-filelist li {
	font-size: 12px;
	color: #323232;
	height: 20px;
	width: 100%;
}
.bsi .upload-container .plupload-filelist>li:nth-of-type(even) {
    background: rgb(248,248,248);
}
.bsi .upload-container .plupload-filelist>li:nth-of-type(odd) {
    background: rgb(255,255,255);
}
.bsi .upload-container .plupload-filelist>li>div{
	 float: left;
	 text-align: left;
	 padding-left: 5px;
}
.bsi .upload-container .plupload-filelist>li .plupload-file-name{
	width: 190px;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;
}
.bsi .upload-container .plupload-filelist>li .plupload-file-surplus,
.bsi .upload-container .plupload-filelist>li .plupload-file-size{
	width: 60px;
	text-align: center;
}
.bsi .upload-container .plupload-filelist>li .plupload-file-status{
	width: 40px;
	text-align: center;
}
.bsi .upload-container .plupload-filelist>li .plupload-file-action{
	width: 30px;
	float: right;
	text-align: center;
}
.bsi .plupload-file-action a,
.bsi .plupload-file-action a:hover,
.bsi .plupload-file-action a:active{
	color: #323232;
}
.step-three-content .upload-container .plupload-filelist{
	height: 120px;
}
.step-three-content .plupload-filelist>li:first-child{
    background: #dddddd;
    color:#323232;
    font-weight: bold;
}
.step-three-content .plupload-filelist>li:first-child div{
    text-align: center;
}
.step-three-content .upload-status{
	font-size: 14px;
	color: #2c3e50;
	text-align: left;
}
.step-three-content .btn{
    margin-top: 26px;
}

.running-modal .modal-body,
.running-error-modal .modal-body{
	padding: 30px 0px;
	margin: 0px;
	text-align: center;
}
.running-modal .modal-body img{
	margin-bottom: 15px;
	height: 54px;
}
.running-modal .modal-body h4,
.running-error-modal .modal-body h4{
	color: #323232;
	font-size: 14px;
	padding: 5px 0px;
}
.running-modal .modal-body div,
.running-error-modal .modal-body div{
	font-size: 12px;
	color: #969696;
	padding: 5px 0px 20px 0px;
}
.running-modal .modal-body .highlight-text,
.running-error-modal .modal-body .highlight-text{
	color: #2c3e50
}
.running-error-modal .modal-content .modal-header{
	background-color: #e60012;
}
.modal .btn,
.print-btn{
    width: 100px;
    height: 30px;
    line-height: 28px;
    background-color: rgb(29,210,175);
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.nav-tabs{
	border: none;
	margin-bottom: -2px;
}
.nav-tabs>li{
	width: 120px;
	height: 40px;
}
.nav-tabs>li>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover{
	text-align: center;
    color: #323232;
    border: none;
    background: rgb(220,220,220);
    margin: 0px;
    padding: 10px 15px;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
	-webkit-border-radius: 6px 30px 0 0;
    -moz-border-radius: 6px 30px 0 0;
    -o-border-radius: 6px 30px 0 0;
    border-radius: 6px 30px 0 0;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    border: none;
    padding-bottom: -2px;
}
.report-opera{
	position: relative;
    width: 160px;
}

.report-opera .nav-pub{
	width: 160px;
	height: 40px;
	padding-top:4px;
	position: absolute;
}
.nav-pub .prev-btn,
.nav-pub .next-btn{
    width: 75px;
    height: 26px;
    color: #a0a0a0;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    padding: 2px 0px;
    text-align: center;
    font-size: 12px;
}
.nav-pub .prev-btn i{
	font-size: 14px;
	margin-right: 2px;
}
.nav-pub .next-btn i{
	font-size: 14px;
	margin-left: 2px;
}
.nav-pub a:hover,
.report-btn-group .btn:hover{
	color: rgb(29,210,175);
	border: 1px solid rgb(29,210,175);
}
.nav-pub a:active,
.nav-pub a:focus{
	background-color: #a0a0a0;
	color: #fff;
}
.report-btn-group{
	width: 70px;
	text-align: right;
    position: fixed;
    right: 63px;
    top: 208px;
}
.report-btn-group .btn{
    width: 70px;
    height: 30px;
    display: inline-block;
    *display: inline;
    text-align: center;
    color: #dcdcdc;
    background-color: #2c3e50;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    padding: 5px 10px;
    margin-bottom: 2px;
}
.report-btn-group .btn:active,
.report-btn-group .btn:focus{
    background-color: #dcdcdc;
    color: #2c3e50;
}
.report-btn-group .btn i{
	margin-right: 2px;
}
.tab-content{
	width: 100%;
	min-width: 780px;
	margin-bottom: 10px;
	background-color: #fff;
	padding: 0px 40px 20px 40px;
	color: #2c3e50;
}
.tab-content .tab-temp{
	height:600px;
	z-index:99999;
	background-color:#fff;
	margin: 0px auto;
}
.tab-content .tab-pane{
	margin: 0px auto;
}
.tab-content .test-info{
/* 	width: 700px; */
	border: 1px solid rgb(29,210,175);
	padding: 15px 20px;
	line-height: 30px;
	margin-top:10px;
	font-size: 14px;
}
.tab-content h4{
	color: #323232;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	margin-left: -10px;
    padding-top: 20px;
}
.tab-content h5{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}
.tab-content h4>span,
.tab-content h5>span{
	font-weight:normal;
}
.tab-content p{
    font-size: 12px;
    word-break: break-all;
    padding-left: 5px;
    margin-top:10px;
}
.tab-content table{
/* 	width: 700px; */
	margin-bottom: 0px;
	margin-top:10px;
	border: none;
}
.tab-content .table,
.tab-content .table>thead>tr>th,
.tab-content .table>tbody>tr>td{
    border-top: 1px solid rgb(29,210,175);
    border-bottom: 1px solid rgb(29,210,175);
    font-size: 14px;
}
.tab-content .table>thead>tr>th:first-child,
.tab-content .table>tbody>tr>td:first-child{
    border-left: 1px solid rgb(29,210,175);
}
.tab-content .table>thead>tr>th:last-child,
.tab-content .table>tbody>tr>td:last-child{
	border-right: 1px solid rgb(29,210,175);
}
.tab-content .table>thead>tr>th{
	height: 40px;
	font-weight: normal;
	font-size: 16px;
}
.tab-content .table>tbody>tr>td{
    height: 29px;
    word-break: break-word;
    word-wrap: break-word;
    padding: 0 10px;
    line-height: 29px;
}
.tab-content .seq-table>thead>tr>th{
	height: 30px;
	font-weight: normal;
    font-size: 14px;
    padding: 4px 4px;
    text-align: center;
    vertical-align: middle;
}
.tab-content .seq-table>tbody>tr>td{
    padding: 4px 10px;
    vertical-align: middle;
    padding: 4px 4px;
    word-break: break-all;
    text-align: center;
}
.tab-content .seq-table .seq{
    margin-left: -120px;
    margin-right: -120px;
    margin-top: -12px;
    margin-bottom: -12px;
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -o-transform:scale(0.6);
    cursor: pointer;
    text-align: left;
}
.tab-content .seq-table> tbody + tbody{
    border-top: none;
}
.tab-content .seq-table .no{
	width: 10px;
	
}
.tab-content p{
    font-size: 12px;
    word-break: break-all;
    padding-left: 5px;
    margin-top:10px;
}
.test-description{
	width: 100%;
	font-size: 12px;
	margin-top: -20px;
}
.test-description a{
	color:#323232;
}
.tab-content .second-title{
    padding-left:14px;
    margin-top: -20px;
}
.tab-content .data-analy-table>thead>tr>th,
.tab-content .data-analy-table>tbody>tr>td{
	padding:5px 5px;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}
.tab-content .data-analy-table>tbody>tr>td:first-child{
	width: 200px;
}
.char-table{
	margin-bottom: 20px;
	
}
.char-table>tbody>tr>td:first-child{
	border-right:20px solid #e0f7f9;
}
.char-table>tbody>tr>td:last-child{
    border-left:20px solid #e0f7f9;
}
.char-td{
	background-color: #fff;
}
.img-table>tbody>tr{
    border-bottom: 10px solid #e0f7f9;
}
.img-table>tbody>tr>td:first-child{
    border-right:10px solid #e0f7f9;
}
.tab-content .analy-tab .table-20species{
    color: #979797;
}
.tab-content .table-20species>tbody>tr>td{
    font-size: 12px;
}
.tab-content .table-20species .hasit{
    color: #323232;
}
.tab-content .analy-tab .title{
    border-right: 1px solid rgb(29,210,175);
    vertical-align: middle;
    text-align: center;
    color: #323232;
    font-size: 14px;
}
.tab-content .analy-tab .sub-title{
    border-right: 1px solid rgb(29,210,175);
    vertical-align: middle;
    text-align: center;
}
.tab-content .seq-table .title{
	font-weight: bold;
}
.tab-content .seq-table>tr>td{
	height: 70px;
}
.tab-content .seq-table svg{
    margin: 0px -15px;
	font-weight: normal;
	font-size: 11px;
	-webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    transform:scale(0.8);
}
.tab-content .table-count>tbody>tr>td{
	text-align: center;
}
.content .data-content-footer{
	width: 100%;
	min-width: 780px;
	height: 30px;
	background-color: #fff;
	color: #2c3e50;
	font-size: 14px;
	padding: 0px 30px;
}
.content .data-content-footer ul>li{
	display: inline-block;
	height: 30px;
	padding: 0px 12px 0px 0px;
}
.content .data-content-footer ul>li>label{
	font-weight: normal;
	float: left;
    line-height: 30px;
}
.content .data-content-footer ul>li>h4{
	margin: 0;
	display: inline-block;
    float: left;
    line-height: 30px;
	color: #323232;
	font-size: 14px;
	font-weight: bold;
}
.rdata-content{
	margin-top: 20px;
	margin-right: 90px;
}
.content .data-content-footer ul>li>span{
	display: inline-block;
	line-height: 30px;
	max-width: 75px;
	float: left;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content .data-content-footer ul>li>a{
    line-height: 30px;
    float: left;
}
.content .report-pagination{
	width: 160px;
	margin-top:40px;
}
.content .report-pagination table{
    margin-bottom: 0px;
}
.content .report-pagination .table>tbody>tr>td{
    height: 20px;
    border-bottom: 1px solid rgb(220,220,220);
}
.content .report-pagination .pagination{
	border: 1px solid rgb(220,220,220);
	border-top: none;
	webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
	border-radius: 0;
    background: #fff;
    height: 20px;
}
.content .report-pagination .pagination ul > li > a {
    padding: 0;
    color: #a0a0a0;
    width: 30px;
    height: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0;
    border: none;
}

.content .report-pagination .pagination ul > li > a:hover,
.content .report-pagination .pagination ul > .active > a{
    color: #1dd2af;
    background-color: #fff;
    border: none;
}
.content .report-pagination .pagination .pages{
    margin-right: 0px;
}
.report-statistics{
	font-size: 12px;
	color: #323232;
	margin-top: 10px;
}
.report-statistics span{
    margin-left: 20px;
}
.selector{
	position: relative;
	width: 100%;
	background-color: rgb(248,248,248);
	margin-bottom: 10px;
	font-size: 12px;
}
.selector .selector-line{
	position: relative;
    width: 100%;
    min-height: 34px;
    line-height: 34px;
    padding: 0px 10px;
    border-top: 1px solid #dcdcdc;
}
.selector .selector-line:first-child{
	border-top: none;
}
.selector .select-more{
    border: 1px solid rgb(29,210,175); 
    border-top: 1px solid rgb(29,210,175) !important; 
}
.selector .sl-key{
	float: left;
	line-height: 34px;
    width: 100px;
    color: #323232;
}
.selector .sl-val{
    margin-left: 100px;
    margin-right: 100px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
.selector .show-more{
	height: auto;
}
.selector .sl-val-content{
	display: inline-block;
    padding-right: 35px;
    line-height: 34px;
    position: relative;
}
.selector .sl-val-content .sl-val span{
	float: left;
}
.selector .sl-val-content .sl-val a{
    color: #025e9e;
    float: left;
}
.selector .sl-val input[type='text']{
	display: inline;
	webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	color: #a0a0a0;
	font-size: 12px;
	height: 24px;
	width: 110px;
	padding: 0px 10px;
}
.selector .sl-val .sl-btn{
	display: inline-block;
    color: #323232;
    text-align: center;
    background-color: #e6e6e6; 
    border: 1px solid #dcdcdc;
    webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    width: 50px;
    height: 24px;
    line-height: 22px;
    margin-left: 12px;
}
.selector .selected-val{
	display: inline-block; 
	border: 1px solid rgb(29,210,175);
	min-width: 100px;
	padding: 5px 20px;
	margin: 2px 0px;
	height: 30px;
	line-height: 20px;
	float: left;
}
.selector .selected-val a{
	color:rgb(29,210,175);
	font-size: 16px;
	cursor: pointer;
	float: right;
    margin-left: 20px;
}
.selector .multisl-btns{
	width: 100%;
	padding: 20px;
	text-align: center;
}
.selector .sl-judge{
	position: relative;
	display: inline-block;
	width: 70px;
	height: 24px;
	background-color: #e6e6e6; 
	border: 1px solid #dcdcdc;
	webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    margin: 5px 0px;
}
.selector .sl-judge span{
	width: 35px;
    height: 24px;
    line-height: 22px;
    color:#fff;
    border: 1px solid #dcdcdc;
    webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    padding: 0px;
}
.selector .sl-judge .sl-judge-yes{ 
	margin: -1px 0px 0px -1px;
	background-color: rgb(29,210,175); 
	float: left;
}
.selector .sl-judge .sl-judge-no{ 
	margin: -1px -1px 0px 0px;
	background-color: #ff587d; 
	float: right;
}
.selector .sl-ext{
	position: absolute;
    top: 5px;
    right: 10px;
    width: 140px;
}
.selector .sl-ext button{
	position: relative;
	display: inline-block;
	color: #969696;
    background-color: #fff;	
	border: 1px solid #dcdcdc;
	webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
	border-radius: 10px;
	width: 60px;
	height: 24px;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	float: left;
}
.selector .sl-ext button i{
	color: #a0a0a0;
	padding-left: 5px;
	font-weight: lighter;
}
.selector .sl-ext button:last-child{
	float: right;
}
.checkbox {
	background-position: 0 0;
	display: inline-block;
    width: 16px;
    height: 18px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}
.checkbox-un{
    background-position: -418px -429px;
}
.checkbox-ed{
    background-position: -453px -429px;
}
.checkbox-body {
	opacity: 0;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

.sample-left{
	width: 260px;
	float: left;
	margin-right: 20px;
}
.sample-left .data-search{
    position: relative;
    height: 40px;
    display: block;
}
.sample-left .data-search input{
    width: 260px;
    height: 40px;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: right;
    padding-left: 10px;
    font-size:14px;
    color: #969696;
}
.sample-left .data-search .input-group-btn{
    left: 200px;
    top: 1px;
    float: right;
    position: absolute;
    color: #fff;
    background: rgb(29,210,175);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    line-height: 38px;
    height: 38px;
    width: 60px;
    font-size:14px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
.sample-left .sample-instructions{
	display: block;
	width: 100%;
	height: 260px;
	padding: 20px;
	margin-top: 10px;
	background-color: #f8f8f8;
}
.sample-left .sample-instructions p{
    font-size: 12px;
    color: #969696;
}
.sample-left .sample-instructions img{
	margin: 10px 0px 20px 0px;
	width:100%;
}
.sample-right{
    position: absolute;
    width: 100%;
    padding-left: 280px;
    float: right;
}
.sample-right .sample-opera{
	width: 100%;
	height: 40px;
	position: relative;
}
.sample-right .error-tips{
	display: inline-block;
	float: left;
	line-height: 30px;
	background-color:rgba(255, 88, 125, 0.2);
    webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
	padding: 0px 10px;
    margin-top: 10px;
    color: #323232;
    font-size: 12px;
}
.sample-right .error-tips a{
	color: #323232;
    font-size: 12px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}
.sample-right .btns{
	float: right;
}
.sample-right .btn{
	display: inline-block;
	height: 40px;
	line-height: 28px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
    text-align: center;
	webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    margin-left: 20px;
}
.sample-right .btn-cancel{
	width: 60px;
	background-color: #dcdcdc;
}
.sample-right .btn-confirm{
    width: 120px;
    background-color: rgb(29,210,175);
}
.sample-list{
	margin-top: 10px;
}
.sample-list .sample-table>thead>tr>th:first-child,
.sample-list .sample-table>tbody>tr>td:first-child{
	padding-left: 70px;
}
.sample-list .sample-table>thead>tr>th:last-child,
.sample-list .sample-table>tbody>tr>td:last-child{
    padding-right: 70px;
    text-align: center;
    width: 140px;
}
.sample-list .sample-table>tbody>tr:first-child>td,
.sample-list .sample-table>tbody>tr:first-child>td>a,
.sample-list .sample-table>tbody>tr:first-child>td>a>i{
	color: rgb(29,210,175);
}
.sample-list .sample-table>tbody>tr:first-child>.table-null{
	color: rgb(160,160,160);
}
.sample-list .sample-table>tbody>tr:first-child:hover>td,
.sample-list .sample-table>tbody>tr:first-child:hover>td>a,
.sample-list .sample-table>tbody>tr:first-child:hover>td>a>i{
    color: #ffffff;
}