@CHARSET "UTF-8";
@font-face
{/*方正正中黑简体*/
font-family: 方正正中黑简体;
src: url('FZZhengheiS-DB-GB.TTF'),
     url('FZZhengheiS-DB-GB.eot'); /* IE9+ */
}
/* reset */
body, div, ul, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, button, textarea, select, p, table, th, td,a {margin:0;padding:0;}
header, footer {display:block;margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset, img {border:0;}
li {list-style:none;}
caption, th {text-align:left;font-weight:normal;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
a{ text-decoration:none;}
.center{ text-align:center}
.fs16{ font-size:16px;}
/*清除浮动*/
.fl{float: left;}
.fr{float: right;}
.clearfix:after{display:block;clear:both;content:'.';height:0;visibility:hidden;font-size:0;}
.clearfix {zoom:1;}

/* base */
ul{ margin:0;}
html{ min-height:100%;}
body{ font-family:Arial,"微软雅黑"; font-size:14px;}
.wrap {width: 100%; min-width: 960px;z-index: 10;position: relative;margin: 0 auto;padding: 0;}
.container{ position:relative;background:url(../images/home/body_bg.png) repeat-y;background:url(../images/home/body_bg_1920.png) repeat-y\9\0;*+background:url(../images/home/body_bg_1920.png) repeat-y;background-size:100% 100%;}
.wrapper{ width:1060px; margin:0 auto;}
.header{height: 60px;z-index: 1000;background-color:#E4F2D4; width:100%;}
h1 a{ background-image:url(../images/home/bg.png); background-repeat:no-repeat}
h1 a{ display:inline-block;*display:inline;*zoom:1;width:116px; height:46px; background-position:0 -240px; text-indent:-9999em; *+text-indent:0; *+font-size:0; *+line-height:300px; *+overflow:hidden; margin: 7px 90px 7px 0;}
.nav a {display: inline-block;*display:inline;*zoom:1;height: 35px; font-family:"微软雅黑";font-size: 14px; line-height:60px; padding:0 20px;text-align: center;color:#595959;}
.nav a:hover, .nav .active{ color:#78BC28; font-weight:bold}
.nav a:active{ background-color: transparent;}
.main{ color:#999; font-size:14px;}
.download .wrapper{ background:url(../images/home/bg_downloadApp.png) 520px 60px no-repeat; }
.main h2{ color:#79BA26; font-size:26px; margin-bottom:20px; margin-top:60px; font-family:"方正正中黑简体";}
.main h3{ color:#666; font-weight:bold; margin-bottom:10px;}
.main p{ margin-bottom:10px; line-height:1.5em; font-family:"微软雅黑";}
.downloadApp{ display:block; width:216px; height:56px; background-color:#79BA26; text-align:center; line-height:56px; margin-top:40px; margin-bottom:60px; color:#fff; font-size:24px; border-radius:3px; font-family:"微软雅黑";}
.downloadApp:hover{ background-color:#4cba42;}
.downloadApp img{ vertical-align:middle; margin-right:5px;}
/*加入我们*/
.wrapper{ width:900px; margin:0 auto;}
.subInner {width: 100%;margin: 0 auto;position: relative;min-height: 50px;padding:1px 0;font-size: 18px;font-weight: 300;}
.subInner:after {content: "";display: table;clear: both;}
.subMenu {height: 60px;z-index: 1000;background-color:#E4F2D4; width:100%;}
.subMenu .subInner {padding:0;font-weight: 400;margin: 0 auto;}
.subNavBtn {display: block;height: 35px;width: 8%;float: left;margin: 0px 0px 0 0;text-decoration: none;font-size: 14px; font-family:"微软雅黑"; line-height:60px;padding: 0 1% 0 1%;text-align: center;color:#595959;}
.active,.subNavBtn:hover { color:#78BC28; font-weight:bold}
.end {margin: 0;}
.subMenu .wrapper{ position:relative; padding-left:160px;}
.subMenu h1{ position:absolute; left:0;}
h1 a{ display:inline-block;*display:inline;*zoom:1;width:116px; height:46px; background-position:0 -240px; text-indent:-9999em; *+text-indent:0; *+font-size:0; *+line-height:300px; *+overflow:hidden; margin: 7px 90px 7px 0;}
.login{ position:absolute; right:10px; line-height:60px; letter-spacing:4px}
.btn-login{ font-size:16px; color:#fff; background-color:#5DCA57; padding:8px 26px 7px 30px; border-radius:4px; margin-left:30px;}
.btn-login:hover{background-color:#4CBA42;}

.join .wrapper{ background:url(../images/home/bg_join.png) 0 200px no-repeat; margin-bottom:-60px; padding-bottom:60px;}
.join h2{ font-family:"方正正中黑简体","微软雅黑"; font-size:26px; color:#79BA26; margin-bottom:60px;}
.join h2 span{ font-family:"微软雅黑"; font-size:14px; color:#999; margin-left:23px;}
.join h2 span a{ color:#79B826; font-weight:bold}
.join h2 span a:hover{ text-decoration:underline}
.join .p-box{ margin-bottom:50px;}
.join .p-box p{text-indent: 2em;}
.join dl{ display:block;}
.join dt{ width:100px; font-family:"微软雅黑"; text-align:right; font-weight:bold; color:#666;}
.join dd{ margin-left:100px; font-family:"微软雅黑"; color:#999;}
.join .p-title{ font-weight:bold; color:#666}
.join .p-count{ float:left; margin-left:0; display:inline-block;*display:inline;*zoom:1;}
/*footer*/
.footer{ width:100%; height:60px; line-height:60px; background-color:#85C540; font-family:"微软雅黑"; text-align:center; color:#fff; margin-top:60px;}
.footer a{ color:#fff;}

/*for retina*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
h1 a{background:url(../images/home/logo@2x.png) no-repeat; background-size:116px 46px; }
.download .wrapper{ background:url(../images/home/bg_downloadApp@2x.png) 520px 60px no-repeat;background-size:345px 200px; }
}

/*服务与支持 */
.longbackground{background:url(../images/home/body_bg.png) repeat-y;}
.title{color:#000;font-size: 18px;font-family: '微软雅黑';margin: 20px auto 20px auto}
.bold_{font-weight: bold;}
li{ list-style:disc; margin-left:1em; line-height:1.5em}
.longmargin{margin-top: 30px;}
.textCenter{text-align: center}
/*意见反馈*/
.msgBox{background-color: #FFFFFF;margin:10px 0px 20px 0px;padding:20px 30px 30px 20px; border-radius:15px;border:1px solid #e4f2d4;}
.msgCnt, .talkDetail {font-size: 14px;overflow: hidden;word-wrap: break-word;}
.msgCnt {display: inline;overflow: hidden;word-wrap: break-word;color: #666161;}
.msgCnt:after {content: '.';visibility: hidden;}
.pubInfo{margin-left: 20px;margin-right: 20px;clear: both;margin-top: 6px;line-height: 19px;	color: #999;}
.left{	float: left;}
.c_tx5 {color: #999;}
input{border:1px solid #e4f2d4;}
.input-normal{height:25px; width:280px;}
.txt-span{width:80px;}
.error{color: #CC6633;}
.success{color:#79BA26}
.submitBtn{ display:block; width:200px; height:50px; background-color:#79BA26; text-align:center; line-height:56px; color:#fff; font-size:24px; border-radius:3px;}
.submitFoot{margin-top:20px; margin-bottom:20px; }
/*分页*/
.pagination {margin-top:10px; width:100%; font-size:14px;font-family:"微软雅黑";margin-left:70%;}
.pagination>p{ display:inline-block;*display:inline;*zoom:1; position:absolute;margin-left:-100px; margin-top:3px;}
.pagination ul {display:inline-block;*display:inline;*zoom:1;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*zoom:1;}
.pagination ul>li {display:inline; float:left; margin-right:10px; line-height:25px;}
.pagination ul>li>a, .pagination ul>li>span {float:left;padding:0; color: #546C90; width:25px; height:25px;line-height:25px; text-align:center;text-decoration:none;background-color: #E4F2D4;border: 1px solid #d9e3f1;}
.pagination ul>li>a:hover, .pagination ul>.active>a, .pagination ul>.active>span {background-color:#F9FBFF}
.pagination ul>.active>a, .pagination ul>.active>span {color:#fff;cursor:default;background-color: #85C540;border: 1px solid #d9e3f1;}
.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover {color:#fff;cursor:default;background-color:#999}
.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}
