.inline {
  display: inline;
  width: auto;
}
.hide {
  display: none !important;
}
.no-border {
  border: 0px !important;
}
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.no-shadow {
  box-shadow: none!important;
}
.flat {
  border-radius: 0 !important;
}
.text-center{
  text-align:center
}