@charset "utf-8";
/* reset */
body, div, ul, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, button, textarea, select, p, table, th, td,a {margin:0;padding:0}
header, footer {display:block;margin:0;padding:0;}
fieldset, img {border:0;}
li {list-style:none;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
a{ text-decoration:none;}
.center{ text-align:center}

/*清除浮动*/
.fl{float: left;}
.fr{float: right;}
.clearfix:after{display:block;clear:both;content:'.';height:0;visibility:hidden;font-size:0;}
.clearfix {zoom:1;}
/* base */
.panel {min-height:300px;background:url(../images/home/body_bg.png) no-repeat; background-size:100% 100%;}
ul{ margin:0;}
body{ font-family:Arial,"微软雅黑"; font-size:14px;}
.container{ position:relative}
.wrapper{ width:100%; margin:0 auto;}

.wrap {width: 100%;z-index: 10;position: relative;margin: 0 auto;padding: 0; }
.section {width: 100%;z-index: 10;position: relative;margin: 0 auto;padding: 0 0 0 0;}
.subInner {width: 100%;margin: 0 auto;position: relative;min-height: 50px;padding:1px 0;font-size: 18px;font-weight: 300;}
.subInner:after {content: "";display: table;clear: both;}
.subMenu {height: 60px;z-index: 1000;background-color:#E4F2D4; width:100%; position: relatived; top:0}
.subMenu .subInner {padding:0;font-weight: 400;margin: 0 auto;}
.subNavBtn {display: block;height: 35px;float: left;margin: 0px 0px 0 0;text-decoration: none;font-size: 14px; line-height:60px;padding: 0 0 0 150px;text-align: center;color:#595959;}
.active,.subNavBtn:hover { color:#78BC28; font-weight:bold}
.end {margin: 0;}
/* .subMenu .wrapper{ position:relative; padding-left:160px;} */
h1{ position:absolute; left:0;}
h1 a{ display:inline-block;*display:inline;*zoom:1;width:116px; height:46px; background-position:0 -239px; text-indent:-9999em; *+text-indent:0; *+font-size:0; *+line-height:300px; *+overflow:hidden; margin: 7px 20px 7px 7px;}
h3{ font-size:24px; color:#595959; text-align:center; font-family: "方正正中黑简体"; margin:20px auto 40px auto}
.login{}
.login{ line-height:60px; letter-spacing:4px}
.btn-login{ font-size:16px; color:#5A5A5A;}
.btn-login:hover{ color:#78BC28; font-weight:bold}
.btn-register{ font-size:16px; color:#fff; background-color:#5DCA57; padding:8px 26px 7px 30px; border-radius:4px; margin-left:10px;}
.btn-register:hover{background-color:#4CBA42;}
/* SECTIONS */
.sTop {color:#3d3d3d;padding: 30px 0;max-height:100%}
.sTop .wrapper{ width:100%; text-align:center}
.sTop img{width:90%;max-height:95%}
.s1 img{width:99%}

/*s1*/
.s1 .content{ position:relative; margin-bottom:80px}
.simple{ color:#4CB2BF;}
.powerful{ color:#8A9E2B;}
.friendly{ color:#E9662C;}
/*s2*/
.s2 .content{height:280px; position:relative; font-size:16px; color:#5A5A5A; line-height:1.5em; margin-bottom:40px;}
.s1 h3{color:#79BB26;}
.s1 h4,.s2 h4{ font-size:20px; color:#79BB26; font-family: "方正正中黑简体";margin-left:-20px;}
.s1 h4{color:#8A9E2B;}
.updata{padding-left:40px; margin-bottom:20px;}
/*s3*/
.s3 .content{height:700px; margin:40px auto;}
.s3 .content ul{ padding:0px auto 0px auto;}
.s3 .content ul li{ display:block;*display:block;*zoom:1; width:300px; height:220px; background-color:#fff;border:1px solid #eee; text-align:center; position:relative; margin:10px auto 10px auto;}
.s3 h4{ font-size: 18px;font-family: "方正正中黑简体";color: #AACC04;margin-top: 60px;margin-bottom: 10px;}
.s3 p{ font-size:13px; color:#5B5B5B; line-height:2em}

.hex {width:36px;height:62px;background-color: #ccc;background-repeat: no-repeat;background-position: 50% 50%;background-size: auto 173px;position: relative;float:left;margin:25px 5px;text-align:center;zoom:1; z-index:2; transform: rotate(30deg); position:absolute; top:-39px; left:126px;}
.hex.hex-gap {margin-left: 86px;}
.hex-box {display:block;width: 100%;height:100%;position:absolute;top:0;left:0; transform: rotate(-30deg);}
.hex .corner-1,
.hex .corner-2 {position: absolute;top:0;left:0;width:100%;height:100%;background: inherit;z-index:-2;overflow:hidden;backface-visibility: hidden;}
.hex .corner-1 {z-index:-1;transform: rotate(60deg);}
.hex .corner-2 {transform: rotate(-60deg);}
.hex .corner-1:before,
.hex .corner-2:before {width:173px;height:173px;content:'';position: absolute;background: inherit;top:0;left:0;z-index:1;background:inherit;background-repeat:no-repeat;backface-visibility: hidden;}            
.hex .corner-1:before {transform: rotate(-60deg) translate(-87px, 0px);transform-origin: 0 0;}            
.hex .corner-2:before {transform: rotate(60deg) translate(-48px, -11px);bottom:0;}        
/* Custom styles*/    
.hex.hex-1 {background: #aacc04;}
.hex.hex-2 {background: #79bc27;}
.hex.hex-3 {background: #20a938;}
.hex-box i{display: inline-block;*display:inline;*zoom:1;width: 30px;height:30px;background-image:url(../images/home/bg.png); background-repeat:no-repeat; margin-top:15px;}
.hex-1 .hex-box i{  background-position:-150px -240px;}
.hex-2 .hex-box i{  background-position:-190px -240px;}
.hex-3 .hex-box i{  background-position:-229px -240px;}
/*s4*/
.s4 .content{ padding-bottom:60px;text-align: center}
.s4 h3{ font-size:24px; color:#79BC27; font-family: "方正正中黑简体"; margin:40px 0;}
.s4 img{ margin:0px auto 0px auto;width:300px;}

/*s5*/
.s5 h2{ width:100%; height:26px; background-position:0 -120px; margin:20px auto; text-indent:-9999em}
.s5 .content ul{}
.s5 .content li{ display:inline-block;*display:inline;*zoom:1; width:31%; text-align:center}
.s5 h4{ font-family: "方正正中黑简体"; color:#5A5A5A; white-space:nowrap; text-align:center; margin-bottom:20px;}
.s5 h4 i{ display:block;width:64px; height:64px; border:1px solid #90CD59; border-radius:32px; background-color:#90CD59; margin:0 auto; margin-bottom:20px;}
.hospital h4 i{ background-position:-286px -236px;}
.institution h4 i{ background-position:-364px -236px;}
.company h4 i{ background-position:-440px -236px;}
.s5 p{ font-size:16px; color:#5A5A5A; line-height:1.5em; margin-bottom:60px}
.feedback{ margin-bottom:30px;}
.feedback .fl{ width:25%; font-size:12px; color:#6F6F6F; text-align:center}
.feedback .fl img{ border:1px solid #fff; border-radius:30px; margin-bottom:10px;}
.feedback .fr{ width:70%; font-size:18px; color:#444; font-family: "Times New Roman", "楷体"; line-height:1.5em;}

/*s6*/
.s6 .content{ margin:100px auto}
.s6 .content {text-align: center;}
.s6 .content h3{text-align: center; font-size:24px; color:#79BB26; font-family: "方正正中黑简体"; margin:50px 0;}
.s6 .content h3 span{font-family: "微软雅黑"; font-weight: bold;}
.s6 .content p{ font-size:16px; color:#5C5C5C; line-height:1.5em;}
/*s7*/
.s7{ position:relative; height:70vh}
.s7 h2{ width:100%; height:26px; background-position:0 -180px; margin:20px auto; text-indent:-9999em}
.s7 .content img{ margin:80px auto;width:100%;}

.footer{ bottom:60px; width:100%; height:80px; line-height:25px; background-color:#85C540; text-align:center; color:#fff}
.footer a{ color:#fff; margin:0 10px}
.inner{ height:100%;}
/*for IE8*/
.h2{ margin-top:200px\9\0}
.inner{ height:786px\9\0; background:url(../images/home/body_bg_1920.png) center top no-repeat\9\0; position:relative\9\0;}
.s7{ height:100%\9\0;}
.footer{bottom:0\9\0;}
.hex{ width:62px\9\0;}
:root .hex{ width:36px;}
/*for IE7*/
.h2{ *+margin-top:200px}
.inner{ *+height:786px; *+background:url(../images/home/body_bg_1920.png) center top no-repeat; *+position:relative;}
.s7{ *+height:100%;}
.footer{*+bottom:0;}
.hex{ *+width:62px;}

/*for retina*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
h1 a{background:url(../images/home/logo@2x.png) no-repeat; background-size:116px 46px; }
.s1 h2{background:url(../images/home/s1@2x.png) no-repeat; background-size:100% 100%;}
.s3 h2{background:url(../images/home/s3@2x.png) no-repeat; background-size:100% 100%;}
.s5 h2{background:url(../images/home/s5@2x.png) no-repeat; background-size:100% 100%;}
.s7 h2{background:url(../images/home/s7@2x.png) no-repeat; background-size:100% 100%;}
/* .simple{background:url(../images/home/simple@2x.png) no-repeat; background-size:100% 100%;} */
/* .powerful{ background:url(../images/home/powerful@2x.png) no-repeat; background-size:100% 100%;} */
/* .friendly{ background:url(../images/home/friendly@2x.png) no-repeat; background-size:100% 100%;} */
.hex-1 .hex-box i{background:url(../images/home/hex_1@2x.png) no-repeat; background-size:30px 30px;}
.hex-2 .hex-box i{background:url(../images/home/hex_2@2x.png) no-repeat; background-size:30px 30px;}
.hex-3 .hex-box i{background:url(../images/home/hex_3@2x.png) no-repeat; background-size:30px 30px;}
.hospital h4 i{ background:#90CD59 url(../images/home/i_hospital@2x.png) no-repeat; background-size:64px 64px;}
.institution h4 i{ background:#90CD59 url(../images/home/i_institution@2x.png) no-repeat; background-size:64px 64px;}
.company h4 i{ background:#90CD59 url(../images/home/i_company@2x.png) no-repeat; background-size:64px 64px;}
/* .s6 .fr li{ backgroud-position:10000px 100000px;} */
.s6 .fr li.userhex-1{ background:url(../images/home/userhex_1@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-2{ background:url(../images/home/userhex_2@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-3{ background:url(../images/home/userhex_3@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-4{ background:url(../images/home/userhex_4@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-5{ background:url(../images/home/userhex_5@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-6{ background:url(../images/home/userhex_6@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-1:hover{ background:url(../images/home/userhex_1_h@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-2:hover{ background:url(../images/home/userhex_2_h@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-3:hover{ background:url(../images/home/userhex_3_h@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-4:hover{ background:url(../images/home/userhex_4_h@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-5:hover{ background:url(../images/home/userhex_5_h@2x.png) no-repeat; background-size:128px 148px;}
.s6 .fr li.userhex-6:hover{ background:url(../images/home/userhex_6_h@2x.png) no-repeat; background-size:128px 148px;}
}

.none{display:none}
.animateDiv{ width:1104px;height:379px;position:relative}
.animateDiv div{position:absolute; background:url(../images/home/animate.png) no-repeat;}
.pro{ background:url(../images/home/animate.png) no-repeat;background-position: -8px -561px;width:784px;height:122px;margin:0px auto}
.talker{ border: 1px solid #fff;border-radius: 30px;margin-left:25px;background:url(../images/home/tx.png) no-repeat; width:60px; height:60px;}
.doctor{ background:url(../images/home/doctor.png) no-repeat; width:60px; height:60px; background-position:-9px -10px}
.programmer{ background-position:-102px -49px}