@CHARSET "UTF-8";

/*
 * Component: modal
 * ----------------
 */
.modal {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
	background: rgba(0, 0, 0, 0.3);
}

.modal-open {
    overflow: hidden
}

.modal-content {
	border-radius: 0;
	position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;
    background-clip: padding-box;
    border: 0;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;
}

@media ( min-width : 768px) {
	.modal-content {
		-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;
	}
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity = 0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity = 50);
    opacity: .5
}

.modal-header {
	border-bottom-color: #f4f4f4;
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    border-top-color: #f4f4f4;
    padding: 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media ( min-width :768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width: 300px
    }
}

@media ( min-width :992px) {
    .modal-lg {
        width: 900px
    }
}



/*
 * General: Miscellaneous
 * ----------------------
 */
.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green,
	.bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia,
	.bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active,
	.bg-aqua-active, .bg-blue-active, .bg-light-blue-active,
	.bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active,
	.bg-lime-active, .bg-orange-active, .bg-fuchsia-active,
	.bg-purple-active, .bg-maroon-active, .bg-black-active,
	.modal-celloud-green .modal-body, .modal-celloud-green .modal-header,
	.modal-celloud-green .modal-footer, .modal-green-header .modal-header {
	color: #fff !important;
	word-break: break-all;
	word-wrap: break-word;
}

.bg-gray {
	color: #000;
	background-color: #d2d6de !important;
}

.bg-black {
	background-color: #111111 !important;
}

.bg-red, .alert-danger, .alert-error, .label-danger {
	background-color: #dd4b39 !important;
}

.bg-yellow, .alert-warning, .label-waring {
	background-color: #f39c12 !important;
}

.bg-aqua, .alert-info, .label-info {
	background-color: #00c0ef !important;
}

.bg-blue {
	background-color: #0073b7 !important;
}

.bg-light-blue, .label-primary, .modal-primary .modal-body {
	background-color: #3c8dbc !important;
}

.bg-green, .alert-success, .label-success {
	background-color: #00a65a !important;
}

.bg-navy {
	background-color: #001f3f !important;
}

.bg-teal {
	background-color: #39cccc !important;
}

.bg-olive {
	background-color: #3d9970 !important;
}

.bg-lime {
	background-color: #01ff70 !important;
}

.bg-orange {
	background-color: #ff851b !important;
}

.bg-fuchsia {
	background-color: #f012be !important;
}

.bg-purple {
	background-color: #605ca8 !important;
}

.bg-maroon {
	background-color: #d81b60 !important;
}

.bg-gray-active {
	color: #000;
	background-color: #b5bbc8 !important;
}

.bg-black-active {
	background-color: #000000 !important;
}

.bg-red-active, .modal-danger .modal-header, .modal-danger .modal-footer
	{
	background-color: #d33724 !important;
}

.bg-yellow-active, .modal-warning .modal-header, .modal-warning .modal-footer
	{
	background-color: #db8b0b !important;
}

.bg-aqua-active, .modal-info .modal-header, .modal-info .modal-footer {
	background-color: #00a7d0 !important;
}

.bg-blue-active {
	background-color: #005384 !important;
}

.bg-light-blue-active, .modal-primary .modal-header, .modal-primary .modal-footer
	{
	background-color: #357ca5 !important;
}

.bg-green-active, .modal-success .modal-header, .modal-success .modal-footer
	{
	background-color: #008d4c !important;
}

.modal-celloud-green .modal-body {
	background-color: #f8f8f8 !important;
}

.modal-celloud-green .modal-header, .modal-celloud-green .modal-footer {
	background-color: #2c3e5c !important;
}

.modal-green-header .modal-header {
	background-color: #4cba42 !important;
}

.modal-green-header .modal-header>h4>span {
	font-size: 12px;
	font-weight: normal
}

.bg-navy-active {
	background-color: #001a35 !important;
}

.bg-teal-active {
	background-color: #30bbbb !important;
}

.bg-olive-active {
	background-color: #368763 !important;
}

.bg-lime-active {
	background-color: #00e765 !important;
}

.bg-orange-active {
	background-color: #ff7701 !important;
}

.bg-fuchsia-active {
	background-color: #db0ead !important;
}

.bg-purple-active {
	background-color: #555299 !important;
}

.bg-maroon-active {
	background-color: #ca195a !important;
}

.bg-teal-gradient {
	background: #39cccc !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc),
		color-stop(1, #7adddd)) !important;
	background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important;
	background: -moz-linear-gradient(center bottom, #39cccc 0%, #7adddd 100%)
		!important;
	background: -o-linear-gradient(#7adddd, #39cccc) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7adddd',
		endColorstr='#39cccc', GradientType=0) !important;
	color: #fff;
}

.bg-light-blue-gradient {
	background: #3c8dbc !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc),
		color-stop(1, #67a8ce)) !important;
	background: -ms-linear-gradient(bottom, #3c8dbc, #67a8ce) !important;
	background: -moz-linear-gradient(center bottom, #3c8dbc 0%, #67a8ce 100%)
		!important;
	background: -o-linear-gradient(#67a8ce, #3c8dbc) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a8ce',
		endColorstr='#3c8dbc', GradientType=0) !important;
	color: #fff;
}

.bg-blue-gradient {
	background: #0073b7 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7),
		color-stop(1, #0089db)) !important;
	background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
	background: -moz-linear-gradient(center bottom, #0073b7 0%, #0089db 100%)
		!important;
	background: -o-linear-gradient(#0089db, #0073b7) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db',
		endColorstr='#0073b7', GradientType=0) !important;
	color: #fff;
}

.bg-aqua-gradient {
	background: #00c0ef !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00c0ef),
		color-stop(1, #14d1ff)) !important;
	background: -ms-linear-gradient(bottom, #00c0ef, #14d1ff) !important;
	background: -moz-linear-gradient(center bottom, #00c0ef 0%, #14d1ff 100%)
		!important;
	background: -o-linear-gradient(#14d1ff, #00c0ef) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14d1ff',
		endColorstr='#00c0ef', GradientType=0) !important;
	color: #fff;
}

.bg-yellow-gradient {
	background: #f39c12 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12),
		color-stop(1, #f7bc60)) !important;
	background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important;
	background: -moz-linear-gradient(center bottom, #f39c12 0%, #f7bc60 100%)
		!important;
	background: -o-linear-gradient(#f7bc60, #f39c12) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60',
		endColorstr='#f39c12', GradientType=0) !important;
	color: #fff;
}

.bg-purple-gradient {
	background: #605ca8 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #605ca8),
		color-stop(1, #9491c4)) !important;
	background: -ms-linear-gradient(bottom, #605ca8, #9491c4) !important;
	background: -moz-linear-gradient(center bottom, #605ca8 0%, #9491c4 100%)
		!important;
	background: -o-linear-gradient(#9491c4, #605ca8) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9491c4',
		endColorstr='#605ca8', GradientType=0) !important;
	color: #fff;
}

.bg-green-gradient {
	background: #00a65a !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a),
		color-stop(1, #00ca6d)) !important;
	background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important;
	background: -moz-linear-gradient(center bottom, #00a65a 0%, #00ca6d 100%)
		!important;
	background: -o-linear-gradient(#00ca6d, #00a65a) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d',
		endColorstr='#00a65a', GradientType=0) !important;
	color: #fff;
}

.bg-red-gradient {
	background: #dd4b39 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dd4b39),
		color-stop(1, #e47365)) !important;
	background: -ms-linear-gradient(bottom, #dd4b39, #e47365) !important;
	background: -moz-linear-gradient(center bottom, #dd4b39 0%, #e47365 100%)
		!important;
	background: -o-linear-gradient(#e47365, #dd4b39) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e47365',
		endColorstr='#dd4b39', GradientType=0) !important;
	color: #fff;
}

.bg-black-gradient {
	background: #111111 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111),
		color-stop(1, #2b2b2b)) !important;
	background: -ms-linear-gradient(bottom, #111111, #2b2b2b) !important;
	background: -moz-linear-gradient(center bottom, #111111 0%, #2b2b2b 100%)
		!important;
	background: -o-linear-gradient(#2b2b2b, #111111) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b',
		endColorstr='#111111', GradientType=0) !important;
	color: #fff;
}

.bg-maroon-gradient {
	background: #d81b60 !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d81b60),
		color-stop(1, #e73f7c)) !important;
	background: -ms-linear-gradient(bottom, #d81b60, #e73f7c) !important;
	background: -moz-linear-gradient(center bottom, #d81b60 0%, #e73f7c 100%)
		!important;
	background: -o-linear-gradient(#e73f7c, #d81b60) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73f7c',
		endColorstr='#d81b60', GradientType=0) !important;
	color: #fff;
}

[class^="bg-"].disabled {
	opacity: 0.65;
	filter: alpha(opacity = 65);
}

.text-red {
	color: #dd4b39 !important;
}

.text-yellow {
	color: #f39c12 !important;
}

.text-aqua {
	color: #00c0ef !important;
}

.tipModal {
	width: 300px;
	margin: 30% auto
}

.tipModal .modal-header {
	cursor: move;
}

/*
 * Component: Button
 * -----------------
 */
#check-true{
	margin-right:41%;
} 

.btn {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
}
.btn.uppercase {
  text-transform: uppercase;
}
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:focus {
  outline: none;
}
.btn.btn-file {
  position: relative;
  overflow: hidden;
}
.btn.btn-file > input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  filter: alpha(opacity=0);
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn-default {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}
.btn-default:hover,
.btn-default:active,
.btn-default.hover {
  background-color: #e7e7e7 !important;
}
.btn-primary {
  background-color: #3c8dbc;
  border-color: #367fa9;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: #367fa9;
}
.btn-success {
  background-color: #00a65a;
  border-color: #008d4c;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
  background-color: #008d4c;
}
.btn-celloud-success,
.btn-celloud-success:visited{
  background-color: #4cba42;
  border-color: #4cba42;
  color: #fff;
}
.btn-celloud-success:hover,
.btn-celloud-success:active,
.btn-celloud-success.hover {
  color: #fbfcfe;
  background-color: #20a938;
}
.btn-celloud-close{
  background: transparent;
  border-color: #4cba42;
  color: #4cba42;
}
.btn-celloud-close:hover,
.btn-celloud-close:active,
.btn-celloud-close.hover {
  border-color: #20a938;
  color: #20a938;
}
.btn-info {
  background-color: #00c0ef;
  border-color: #00acd6;
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
  background-color: #00acd6;
}
.btn-danger {
  background-color: #dd4b39;
  border-color: #d73925;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
  background-color: #d73925;
}
.btn-warning {
  background-color: #f39c12;
  border-color: #e08e0b;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
  background-color: #e08e0b;
}
.btn-outline {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}
.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn[class*='bg-']:hover {
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}
.btn-app {
  border-radius: 3px;
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 12px;
}
.btn-app > .fa,
.btn-app > .glyphicon,
.btn-app > .ion {
  font-size: 20px;
  display: block;
}
.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
.btn-app:active,
.btn-app:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}
.btn-app > .fa,
.btn-app > .glyphicon,
.btn-app > .ion {
  font-size: 20px;
  display: block;
}
.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
.btn-app:active,
.btn-app:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}