body, div {
	margin: 0;
	padding: 0;
}

input, button, select, textarea {
	outline: none
}

textarea {
	resize: none
}

a {
	text-decoration: none
}

fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	display: block;
	clear: both;
	content: '.';
	height: 0;
	visibility: hidden;
	font-size: 0;
}

.clearfix {
	zoom: 1;
}

bgContainer {
	position: relative;
}

.bgContainer img {
	max-width: 100%;
	max-height: 100%;
}

#bg {
	display: block;
	width: 100%;
}

body {
	font-family: "微软雅黑";
}

/* .wrapper{position:absolute;left:0;top:0;} */
.login {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 560px;
	height: 508px;
	margin: -300px 0 0 -280px;
	text-align: center;
}

.logo {
	margin-bottom: 60px;
}

.register {
	position: absolute;
	left: 50%;
	top: 45%;
	width: 560px;
	height: 508px;
	margin: -300px 0 0 -280px;
	text-align: center;
}

.register-logo {
	margin-bottom: 20px;
}

.register-font {
	font-size: 24px;
}

.main_regist {
	width: 560px;
	height: 550px;
	padding-top: 10px;
	background: #fff;
	box-shadow: 0 0 20px rgba(133, 197, 64, .36);
	border-radius: 8px;
}

.main {
	width: 560px;
	height: 340px;
	padding-top: 10px;
	background: #fff;
	box-shadow: 0 0 20px rgba(133, 197, 64, .36);
	border-radius: 8px;
}

.main_f {
	width: 560px;
	height: 180px;
	padding-top: 120px;
	background: #fff;
	box-shadow: 0 0 20px rgba(133, 197, 64, .36);
	border-radius: 8px;
}

.main_r {
	width: 560px;
	height: 280px;
	padding-top: 20px;
	background: #fff;
	box-shadow: 0 0 20px rgba(133, 197, 64, .36);
	border-radius: 8px;
}

input[type=text], input[type=password] {
	width: 350px;
	height: 40px;
	background: url(../images/icon/input_bg.png) no-repeat;
	padding-left: 10px;
	border: 0;
	margin-top: 25px;
	color: #BABABA;
	line-height: 40px;
}

input:focus {
	outline: none
}

.btn-login {
	display: block;
	width: 362px;
	height: 42px;
	margin: 0 auto;
	background: url(../images/icon/login_btn.png) no-repeat;
	text-indent: -9999em;
	margin-bottom: 10px;
}

.btn-login:hover, .btn-login:active {
	background: url(../images/icon/login_btn_h.png) no-repeat;
}

.btn-email {
	font-size: 14px;
	color: #fff;
	background-color: #5DCA57;
	padding: 8px 26px 7px 30px;
	border-radius: 4px;
	float: right;
	margin-right: 100px;
}

.btn-email:hover, .btn-email:active {
	background-color: #4CBA42;
}

.btn-confirm, .btn-cancle {
	width: 138px;
	height: 38px;
	background: url(../images/icon/btn-confirm-cancle.png) no-repeat;
}

.btn-confirm {
	background-position: -203px -44px;
	float: left;
	margin-left: 100px;
}

.btn-confirm:hover, .btn-confirm:active {
	background-position: -203px -122px;
}

.btn-cancle {
	background-position: -425px -44px;
	float: right;
	margin-right: 100px;
}

.btn-cancle:hover, .btn-cancle:active {
	background-position: -425px -120px;
}

.yzm {
	position: relative
}

.yzm img {
	position: absolute;
	left: 375px;
	top: 29px
}

.autolog {
	margin: 10px 0;
	font-size: 12px;
	color: #959595;
	text-align: left;
	padding-left: 100px;
}

.autolog img {
	vertical-align: middle
}

.forget {
	font-size: 12px;
	color: #959595;
	float: left;
	display: inline;
	margin-left: 120px;
}

.forget:hover {
	color: #78BC28;
}

.download {
	font-size: 12px;
	color: #78BC28;
	float: right;
	display: inline;
	margin-right: 120px;
}

.download:hover {
	color: #4CBA42
}

.return {
	font-size: 12px;
	color: #959595;
	float: left;
	display: inline;
	margin-left: 110px;
	margin-top: 10px;
}

.return:hover {
	color: #78BC28;
}

.view-tips {
	font-size: 12px;
	color: #959595;
	margin-top: 10px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #85C540;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-size: 12px;
}

.footer a {
	color: #fff;
}

::-webkit-input-placeholder {
	color: #BABABA;
}

:-moz-placeholder {
	color: #BABABA;
}

#pwdPlaceholder, .placeholder {
	color: #BABABA;
}

.error {
	padding-left: 30px;
	color: #CC6600
}
/*错误页面*/
.error_return {
	font-size: 14px;
	color: #85c540;
	display: inline;
	margin-left: 125px;
}

.error_return:hover {
	color: #78BC28;
}