.pay-logo {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	width: 150px;
	height: 60px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(203, 202, 216);
	border-radius: 10px;
}

.pay-logo.disabled {
	cursor: not-allowed;
}

.pay-banks {
	
}

.pay-banks .pay-item {
	display: inline-block;
	margin-right: 10px;
	line-height: 50px;
}
.pay-banks .pay-item.alone{
	display:block;
}
.pay-banks .pay-item img {
	width: 150px;
	height: 60px;
}

.disabled {
	cursor: not-allowed
}