@charset "utf-8";
/* reset */
* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

.mt5 {
	margin-top: 5px;
}

p {
	color: #535353;
	line-height: 1.5em;
}
/* base */
body {
	font-family: "黑体", "宋体";
	font-size: 14px;
	color: #353535;
	max-width: 900px;
}

.wrapper {
	margin: auto 10px;
	padding-bottom: 25px;
}

h1 {
	text-align: center;
	font-family: "华文新魏";
	font-size: 28px;
	padding: 10px 0 5px 0;
}

table {
	max-width: 100%;
	min-width: 900px;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 13px;
	background-color: transparent;
}

table td {
	text-align: center;
	height: 30px;
	padding: 3px;
}

td.label{
	white-space: nowrap;
}

.info li {
	width: 27%;
	list-style: none;
	float: left;
	display: inline-block;
	*display: inline-block;
	line-height: 1.8em;
	text-align: left;
	padding-left: 45px;
}

input.tdInput {
	width: 100%;
	line-height: 2em;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #D4D4D4;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

span.tdSpan {
	text-align: left;
	display: block;
	line-height: 2em;
	margin-left: 3px;
}

input.liInput {
	width: 70%;
	line-height: 2em;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #D4D4D4;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
	margin-left: 12px;
}

span.liSpan {
	width: 75%;
	line-height: 2em;
	margin-left: 12px;
}

input.tdCenterInput {
	width: 100%;
	line-height: 2em;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #D4D4D4;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
	text-align: center;
}

span.tdCenterSpan {
	line-height: 2em;
	display: block;
	width: 100%;
	height: 100%;
}

#print-form {
	margin: 0 auto;
}

@media print {
	body {
		font-family: "黑体", "宋体";
		font-size: 12px;
	}
	@page {
		margin-left: 1.5cm;
		margin-right: 1.5cm;
		margin-top: 0.5cm;
		margin-bottom: 0cm;
	}
	.table tr td {
		padding: 0px 3px
	}
	.clearCss_3 img {
		width: 100px;
		height: 110px
	}
	.clearCss_6 img {
		width: 550px;
	}
	.container {
		margin-bottom: 10px;
	}
}