@CHARSET "UTF-8";
input,select{
    font-size: 12px;
    color: #5A5A5A;
}
section h3{
    padding: 10px;
    font-size: 16px;
    font-weight: 600; 
}
.title {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 60px;
}
.title .title-text {
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color: #333333;
    text-align: left;
    line-height: normal;
    position: absolute;
    bottom: 0;
}
.title .title-logo {
    height: 60px;
    position: relative;
    float: right;
    text-align: center;
}

.base-info{
    border-top: 2px solid #79bb26;
    margin-top: 10px;
    padding-top: 5px;
}
.base-info ul{
    padding-left: 10px;
}
.base-info ul>li{
    display: inline-block;
    *display: inline-block; 
    width:24%; 
    line-height:2em;
}
.base-info lable{
    display: inline-block;
    width: 70px;
}
section h2,
.tests-content h4{
    font-size: 18px;
    font-weight: 600; 
    padding: 16px 0px;
}
.tests-content{
    border-top: 3px solid #79bb26;
    margin: 10px 0px;
    min-height:580px;
}
.tests-info{
    border: 2px solid #dfdfdf;
    padding: 10px;
    font-size: 16px;
}
.tests-info table{
    margin:20px 0px 10px 0px;
}
.tests-info table td,
.tests-info table thead th{
    vertical-align: middle;
    font-size: 12px;
    font-weight: normal;
    padding:2px;
}
.tests-info table thead th{
	text-align: center;
}
.tests-info .gray-table{
	color: #999999;
}
.tests-info table td span{
    display: inline-block;
    padding: 0px 10px;
}
.tests-info table .positive{
    color: #232323;
}
.tests-info .seq{
	margin-left: -120px;
	margin-right: -120px;
	margin-top: -12px;
	margin-bottom: -12px;
	-webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -o-transform:scale(0.6);
    cursor: pointer;
}
.test-description{
    font-size: 12px;
}
.test-description h4{
    font-weight: bold;
}
.test-description span{
    font-weight: normal;
}
.test-description p{
    padding: 8px 0px;
    padding-left:2em;
}
.tests-footer{
    border-top: 3px solid #79bb26;
    margin-top: 10px;
}
.tests-footer  ul>li{
    display:inline-block;
    *display: inline-block; 
    width:30%; 
    line-height:2.5em;
}
.tests-footer input[type="text"]{
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #D4D4D4;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    background-color: #d4f3f7;
}
.statement span{
     display: inline-block;
    *display: inline-block; 
    margin-left: -36px;
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(1);
}
.other-info{
	border: none;
	padding: 0px;
}
.other-info table{
	margin: 0px 0px;
}

@media print{
.tests-info{
    
}
.title{
    margin-top:0px;
}
}