@charset "utf-8";
/* reset */
* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    width: 96%;
}

/* base */
body {
    font-family: "黑体", "宋体";
    font-size: 16px;
    color: #353535;
}

#print-form {
    margin: 0 auto;
    min-width: 900px;
}

.title{
	width: 100%;
	min-width: 900px;
}

.title h1{
	text-align: center;
    font-family: "黑体", "宋体";
    font-size: 28px;
    padding: 10px 0 5px 0;
}

.content{
	width: 100%;
}

table {
    min-width: 900px;
    background-color: transparent;
    font-size: 16px;
    margin: 0 auto;
}

table td{
	padding-left: 1px;
}

.contentTable tr{
    height: 30px;
}

.contentTable .hr{
	height: 20px;
	font-size: 20px;
}

.footTable tr{
	height: 25px;
}


input{
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #D4D4D4;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    font-size: 14px;
}

.tdCenter{
    text-align: center;
}

input.tdInput {
    width: 55%;
}

input.tdCenterInput{
	width: 99%;
	text-align: center;
}

.focus{
	font-weight: bold;
	font-size: 16px;
}

.bt1{
	border-top: 1px solid;
}

p{
	color: #535353;
    line-height: 1.5em;
}

hr{
	margin-top: 5px;
}

.title hr {
    border: solid 2px #000;
}

.content hr{
	border: solid 1px #888;
}

.lh25{
	line-height: 25px;
}

.look_hide{
	display: none;
}

/* 强制分页 */
.w3cbbs { page-break-after:always;}

@media print {
    body {
        font-family: "黑体", "宋体";
        font-size: 16px;
    }
    table td{
        font-size: 16px;
    }
    @page {
        margin-left: 1.5cm;
        margin-right: 1.5cm;
        margin-top: 0.5cm;
        margin-bottom: 0cm;
    }
}