@charset "utf-8";
body, div, ul, li, h1, h2, p {margin:0;padding:0;} 
img {border:0;}
li {list-style:none;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
.right{ text-align:right}
.mt20{ margin-top:20px;}
.mt10{ margin-top:10px;}
.mt5{ margin-top:5px;}
/* base */
body{ font-family:"黑体","宋体"; font-size:16px; color:#353535;max-width: 900px;margin:auto;}
.container{ border-top:4px solid #00a88c;}
.wrapper{margin:auto 10px;}
hr{ border:solid 2px #d7d7d7; background-color:#d7d7d7; width:100%;margin:0px}
.hr-bold{border:solid 3px #d7d7d7;}
h1{ text-align:center; font-family: "华文新魏"; font-size:28px; padding:10px 0 5px 0;}
h2{ font-weight:bold; line-height:1.5em}
.info li{ display:inline-block;*display: inline-block; width:30%; line-height:1.8em}
.info .liWidth{width: 90%;}
.info .inputWidth{width:80%;}

.result li{ display:inline-block; width:18%; padding:14px 0;}
.result li img{ width:150px;height:150px;}
.footer li{ display:inline-block; width:30%; padding-left: 15%;padding-bottom:5px;padding-top:10px;}
.gray{ color:#757575; font-size:12px;}
p{ color:#535353; line-height:1.5em;}
input[type="text"]{width:100px;line-height:2em;border-radius:0px;border:0px;border-bottom:1px solid #D4D4D4;box-shadow:inset 0 0px 0px rgba(0, 0, 0, 0.075);}
.force_break{word-break:break-all;word-wrap:break-word;}

.button {display: inline-block; zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */  *display: inline;  vertical-align: baseline;  margin: 0 2px;  outline: none;  cursor: pointer;  text-align: center;  text-decoration: none;  font: 14px/100% Arial, Helvetica, sans-serif;  padding: .5em 2em .55em;  text-shadow: 0 1px 1px rgba(0,0,0,.3);  -webkit-border-radius: .5em; -moz-border-radius: .5em; border-radius: .5em;  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);  box-shadow: 0 1px 2px rgba(0,0,0,.2);  }  
.button:hover {  text-decoration: none;  }  
.button:active {  position: relative;top: 1px;  }  
.btn-info {color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);background-color: #49afcd;*background-color: #2f96b4;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);background-repeat: repeat-x;border-color: #2f96b4 #2f96b4 #1f6377;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled] {  color: #ffffff;  background-color: #2f96b4;  *background-color: #2a85a0;}
.btn-info:active,.btn-info.active {  background-color: #24748c \9;}

.r_img_body{padding:5px 10px 10px 5px;}
.r_seq{word-wrap: break-word; word-break: normal;max-width: 1000px;}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 5px;
}

.table th,
.table td {
  padding: 3px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
  text-align: center;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table-condensed th,
.table-condensed td {
  padding: 3px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f5f5f5;
}

table [class*=span],
.row-fluid table [class*=span] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table .span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table .span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table .span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table .span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table .span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table .span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table .span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table .span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table .span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table .span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table .span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table .span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table .span13 {
  float: none;
  width: 1004px;
  margin-left: 0;
}

.table .span14 {
  float: none;
  width: 1084px;
  margin-left: 0;
}

.table .span15 {
  float: none;
  width: 1164px;
  margin-left: 0;
}

.table .span16 {
  float: none;
  width: 1244px;
  margin-left: 0;
}

.table .span17 {
  float: none;
  width: 1324px;
  margin-left: 0;
}

.table .span18 {
  float: none;
  width: 1404px;
  margin-left: 0;
}

.table .span19 {
  float: none;
  width: 1484px;
  margin-left: 0;
}

.table .span20 {
  float: none;
  width: 1564px;
  margin-left: 0;
}

.table .span21 {
  float: none;
  width: 1644px;
  margin-left: 0;
}

.table .span22 {
  float: none;
  width: 1724px;
  margin-left: 0;
}

.table .span23 {
  float: none;
  width: 1804px;
  margin-left: 0;
}

.table .span24 {
  float: none;
  width: 1884px;
  margin-left: 0;
}

.table tbody tr.success td {
  background-color: #dff0d8;
}

.table tbody tr.error td {
  background-color: #f2dede;
}

.table tbody tr.warning td {
  background-color: #fcf8e3;
}

.table tbody tr.info td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover td {
  background-color: #c4e3f3;
}
.new{
	position: absolute;
	width: 32px;
	height: 20px;
	background: url(../images/icon/delete_red.png) no-repeat;
	background-size:20px 20px;
}
textarea {width: 800px;	}
.imgtop{padding-top: 10px;}
/*._hard{	background-color: #99FF66;}*/
/*._light{background-color: #CCFFCC;}*/
._red{color:red;}
.small,.table{font-size: 12px;}
.table{	margin-top:5px;}
.left{margin-left: 70px;}
.totop{	padding-top: 20px;}
.w3cbbs { page-break-after:always;}
.imgmiss{font-size: 12px; width: 98px; border: 1px solid; padding: 20px 10px 20px 10px; margin-top: 13px; margin-right: 15px; height: 70px; border-color: black; color: #CC0000;display: inline-block;vertical-align: top;}
.imgmissprint{width: 90px;padding: 20px 0px 0px 10px;height: 65px;}
.annotation{text-indent: -2em; padding-left: 1.9em;font-size:12px;line-height:1.3em;padding-top:3px}
.clearCss_3 h2{font-weight: normal;font-size:12px;}
.clearCss_3{}
.clearCss_3 img{width:120px;height:140px;margin-right:10px}
.clearCss_6{padding-bottom:70px;}
.clearCss_6 img{width:550px;}
.colorspan{border:1px solid #ccc;display:inline-block;line-height: 0.9;width:15px}
.m-box_1{padding-left: 2em;}
.m-box_1 .table tr:first-child td{width:130px}
.m-box{padding-left: 1em;}
.m-box .m-boxCon{padding-left: 0.8em;}
@media print{
	body{ font-family:"黑体","宋体"; font-size:12px;}
	@page {
	  margin-left: 1.5cm;
	  margin-right: 1.5cm;
	  margin-top: 0.5cm;
	  margin-bottom:0cm;
	}
	.table tr td{padding:0px 3px}
	.clearCss_3 img{width:100px;height:110px}
	.clearCss_6 img{width:550px;}
	.container{ margin-bottom:10px;}
}
.a-green-normal{
  text-decoration:none;
  color: #00a65a !important;
}
.a-green-normal:hover{
  color: #4cba42 !important;
}
.hide{display:none;}
input[type="text"][class="long_input"]{width:160px;}
input[type="text"][class="super_long_input"]{width:380px;}
.fa-star,.fa-star-o{
	display: inline;
}
