@CHARSET "UTF-8";
.buttons{display:none;}
body{
	background-color: #dcdcdc;
	max-width: none;
}
input,select{
    font-size: 12px;
    color: #5A5A5A;
}
section h3{
    padding: 10px;
    font-size: 16px;
    font-weight: 600; 
}
form{
	margin: 0;
}
a, a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}
.print-button{
	position: fixed;
    margin-left: 950px;
    margin-top: 80px;
}
.print-button a{
	display: block;
    width: 29px;
    color: #dcdcdc;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    padding: 10px 0px;
    background-color: #2c3e50;
}
.print-button a>svg{
	fill: #dcdcdc;
}
.print-button a:first-child{
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -o-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
}
.print-button a:last-child{
    -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    -o-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
}
.print-button>a:active,
.print-button>a:focus,
.print-button>a:hover{
    color: rgb(29,210,175);
}
.print-button>a:active>svg,
.print-button>a:focus>svg,
.print-button>a:hover>svg{
    fill: rgb(29,210,175);
}
.content{
	margin: 10px auto;
	width: 900px;
	min-height: 700px; 
	background-color: #fff;
	padding: 40px 50px;
}
.title-content{
	text-align: center;
	margin-bottom: 20px;
	color: #323232;
}
.title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}
.sub-title {
    font-size: 22px;
}
.base-info{
    border-top: 1px solid #323232;
    padding: 20px 28px 5px 28px;
    font-size: 14px;
    color: #323232;
    text-align: justify;
}
.base-info ul{
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.base-info ul>li{
    display: inline-block;
    *display: inline-block; 
    margin-right: 30px;
    margin-bottom: 15px;
    position: relative;
    float: left;
    min-width: 170px;
}
.base-info ul>li:last-child{
	margin-right: 0px;
}
.base-info lable{
    display: inline-block;
}
.base-info input[type='text'],
.base-info select{
	width: 100px;
	height: 26px;
	border-radius: 4px;
	border: 1px solid #c8c8c8;
	padding: 0px 4px;
}
section h2,
.tests-content h4,
.test-description h4{
    font-size: 14px;
    font-weight: bold; 
}
.tests-content{
    border-top: 2px solid #a0a0a0;
    padding: 10px 28px 0px 28px;
}
.tests-info{
    border: 1px solid #c8c8c8;
    padding: 10px;
    font-size: 14px;
    line-height: 30px;
    margin: 10px 0px;
}
.tests-content .table,
.tests-content .table>thead>tr>th,
.tests-content .table>tbody>tr>td{
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    font-size: 14px;
}
.tests-content .table>thead>tr>th:first-child,
.tests-content .table>tbody>tr>td:first-child{
    border-left: 1px solid #c8c8c8;
}
.tests-content .table>thead>tr>th:last-child,
.tests-content .table>tbody>tr>td:last-child{
    border-right: 1px solid #c8c8c8;
}
.tests-content .table>thead>tr>th{
	text-align: center;
}
.tests-content .table>thead>tr>th,
.tests-content .table>tbody>tr>td{
	font-weight: normal;
    height: 29px;
    padding: 8px 15px;
    word-break: break-word;
    word-wrap: break-word;
    padding: 0 10px;
    line-height: 29px;
}
.tests-content .table .title {
    border-right: 1px solid #c8c8c8;
    vertical-align: middle;
    text-align: center;
    color: #323232;
}
.tests-content .table-20species{
    color: #979797;
}
.tests-content .table-20species .hasit{
    color: #323232;
}
.tests-content .table-20species>tr>td{
	font-size: 12px;
}
.tests-content .table-20species .title{
    font-size: 14px; 
}
.tests-content .seq-table{
    margin-top: 10px;
}
.tests-content .seq-table .title{
    font-weight: bold;
}
.tests-content .seq-table>tr>td{
    height: 70px;
    font-size: 12px;
}
.tests-content .seq-table svg{
    margin: 0px -15px;
    font-weight: normal;
    font-size: 11px;
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    transform:scale(0.8);
}
.tests-content .seq-table .seq{
    margin-left: -120px;
    margin-right: -120px;
    margin-top: -12px;
    margin-bottom: -12px;
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -o-transform:scale(0.6);
    cursor: pointer;
}
.tests-content .seq-table  .sub-title{
    border-right: 1px solid #c8c8c8;
    vertical-align: middle;
    text-align: center;
}
.tests-content .table-count{
	margin-top: 10px;
}
.tests-content .table-count>tbody>tr>td{
    text-align: center;
}
.tests-content p{
    font-size: 14px;
    word-break: break-all;
    padding-left: 5px;
    margin-top:10px;
    margin-bottom: 20px;
}
.test-description{
	padding: 10px 28px;
	font-size: 12px;
}
.test-description a{
    color:#323232;
}
.test-description span{
    font-weight: normal;
    font-size: 12px;
}
.test-description p{
    padding-bottom: 10px;
}
.tests-footer{
    border-top: 2px solid #a0a0a0;
    margin-top: 10px;
    padding: 20px 28px 0px 28px;
}
.tests-footer  ul>li{
    display:inline-block;
    *display: inline-block; 
    width:30%; 
    line-height:2.5em;
    margin-bottom: 20px;
}
.tests-footer input[type="text"]{
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #D4D4D4;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}
.statement span{
     display: inline-block;
    *display: inline-block; 
    font-size: 12px;
}
.other-info{
	border: none;
	padding: 0px;
}
.other-info table{
	margin: 0px 0px;
}
.print{
	display: none;
}


/*----------for yanda----------*/
.yanda .tests-content {
    margin-top: 20px;
}
.detail-info{
    width: 220px;
    border-bottom: 1px solid #c8c8c8;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}
.yanda .tests-content >.tests-info{
	margin: 20px 0px;
    padding: 0;
}
.yanda .tests-content >.tests-info .width-220{
	float: left;
	width: 217px;
	border-right: 1px solid #c8c8c8;
}
.yanda .tests-content >.tests-info .width-260{
	float: left;
    width: 260px;
}
.yanda .tests-content >.tests-info .width-260 .detail-info{
	text-align: left;
}
.yanda .tests-content >.tests-info .width-140{
	float: left;
    width: 140px;
}
.yanda .tests-content >.tests-info .width-280{
	float: left;
    width: 280px;
}
.yanda .tests-content >.tests-info ul{
	padding: 20px;
}
.yanda .tests-content >.tests-info ul li{
	margin: 0;
}
.yanda .tests-content >.tests-info ul li input{
	width: 97px;
}
.yanda .tests-content >.tests-info ul li select{
    width: 100px;
}
.yanda .tests-content .result-species{
	padding-left: 42px;
}
.yanda .test-description{
	padding: 0;
}
.yanda .test-description p{
    padding: 0;
}
.yanda .tests-footer{
	margin-top: 20px;
    padding: 20px 200px 0px 0px;
}
.yanda .tests-footer .sample_qr{
	position: absolute;
	right: 0;
	top: 20px;
}
@media print{
	body{
	   margin: 0px;
	   padding: 0px;
	   background: none;
	}
	input,select,.btn,.button,#sex{
	  display: none;
	}
	.print{
      display: inline-block;
    }
    .tests-content{
      min-height: 870px;
    }
}