body{
	font-family: '微软雅黑';
}
.navbar-fixed-top{
	position:static;
}
.navbar {
	margin-bottom: 20px
}
.dataForm {
	border:1px solid #cfcfcf;
	background-color: #f5f5f5;
	padding-bottom:40px;
	margin-bottom:8px;
	overflow:hidden;
}
.pull_day{
	margin-top:-59px;
}

.sel_data_btn{
	padding-top:9px;
}
.pagination-new,.operate{
	display: none;
}
.run_success{
	color:#009900;
	font-family: '微软雅黑';
	font-size:14px;
}
.run_error{
	color:#CC6600;
	font-family: '微软雅黑';
	font-size:14px;
}
.openUpload{
	cursor: pointer;
}
.dataForm ul {
    width:100%;
/*     position:absolute; */
}
.dataForm ul li {
/* 	position:relative; */
    float:left;
    width: 390px;  
/*     display: block;  */
    display:inline-block
}
.div-left{
	float:left;
	width:49%;
}
.div-right{
	float:right;
	width:49%;
}

.font-big{
	font-size:16px;
	font-weight: bolder;
}

.hr0{ height:1px;border:none;border-top:1px dashed #0066CC;}

.openReport {
	color: #fff;
}
