@import "param.less";
/*搜索框 */
.search-form { position: relative;
    > .field {
        width: 200px;
        height: 40px;
        padding-left: 45px;
        border: 1px solid #dcdcdc;
        .border-radius(20px);
        font-size:14px;
    }
    > .action {
        position: absolute;
        left: 1px;
        top: 1px;
        display: block;
        width: 38px;
        height: 38px;
        padding-top: 3px;
        .border-radius(20px);
        float: left;
        font-size: 20px;
        text-align: center;
        background: @bg-black;
        color: #fff;
    }
    &.-bactive{
         > .field {
            width: 180px;
            height: 30px;
            padding-left: 35px;
        }
        > .action{
            left: 11px;
            width: 28px;
            height: 28px;
            font-size: 14px;
            background: @bactive-color;
        }
    }
}
/*信息框*/
.info-form {
    position: relative;
    width: 270px;
    display: block;
    > .field {
        width: 270px;
        height: 40px;
        font-size:14px;
        padding-left: 10px;
        padding-right: 65px;
        border: 1px solid @bg-gray;
        .border-radius(4px);
        color: @font-gray;
    }
    > .action {
        position: absolute;
        left: 210px;
        top: 1px;
        width: 60px;
        height: 38px;
        display: block;
        float: left;
        line-height: 38px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        .border-radius(4px);
        background: @bg-black;
    }
}

/*上传页面步骤*/
.step{
    position: relative;
    height: 42px;
    > .item {
        width: 42px;
        height: 42px;
        float: left;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        border: 6px solid @bg-gray;
        .border-radius(99em);
        background-color: #fff;
    }
    > .info{
        height: 42px;
        padding-left: 10px;
        line-height: 42px;
        font-size: 14px;
        color: @font-gray;
        float:left;
    }
}
/*主列表表格*/
.table-main{
    width: 100%;
    *border-collapse: separate; /* IE7 and lower */
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid @bg-gray;
    margin-bottom: 10px;
    >thead {
        >tr>th {
            height: 40px;
            padding: 0px;
            padding-left: 20px;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: @font-black;
            background: @bg-gray;
            >a {
                color: @font-black;
                padding-left: 5px;
            }
            >input[type="text"]{
                width: 140px;
                height: 28px;
                margin: 0;
                font-size: 14px;
                font-weight: normal;
                line-height: normal;
                color: @font-gray;
                padding: 0px 10px;
                border: none;
                .border-radius(6px);
            }
        }
    }
    >tbody {
        >tr:nth-of-type(even) {
            background: @main-color;
        }
        >tr:nth-of-type(odd) {
            background: #fff;
        }
        >tr>td {
            height: 30px;
            max-width: 240px;
            text-align: center;
            border: none;
            padding: 0px;
            padding-left: 20px;
            line-height:30px;
            color: @font-black;
            .overflow(ellipsis);
            > .wrong {
                color:#ff0000;
            }
            >a {
                margin: 0px 5px;
                font-size: 16px;
                color: @a-gray;
            }
            >a.disabled {
                color: @bg-gray;
            }
        }
    }
    > .checkbox{
        margin: 6px 0px;
    }
    &.-report >thead {
        >tr>th{
            height: 30px;
            line-height: 30px;
            padding: 0;
            text-align: center;
            font-size: 14px;
            font-weight: normal;
            color: @font-black;
            background: @bg-gray;
        }
    }
    &.-report >tbody{
        >tr {
            background: #fff;
        }
        >tr>td {
            height: 30px;
            padding: 4px 10px;
            line-height: 20px;
            white-space: normal;
            word-break: break-word;
            text-align: left;
            vertical-align: middle;
            border-right: 1px solid @bg-gray;
            border-bottom: 1px solid @bg-gray;
            &:last-child{
                border-right: none;
            }
            &:first-child{
                text-align: center;
            }   
        }
        >tr:last-child>td{
            border-bottom: none;
        }
    }
}
/*数据报告*/
.report-result{
	background-color: #fff;
	padding: 15px;
	border:1px solid #e3e3e3;
	.chapter{
		> p{
		}
		> p.paragraph{
			text-indent:25px;
		}
		> dl{
			margin-left:25px;
			dt{
	    		font-weight: normal;
			}
			dd{
				margin-left:25px;
			}
		}
	}
}

/*翻页*/
.pagination{
    width: 100%;
    margin: 0;
    .pages{
        margin-right: 20px;
    }
    ul{
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
    ul > li {
        display: inline;
        font-size: 12px; 
        float: left;
        > a {
            width: 40px;
            height: 20px;
            padding: 0;
            float: left;
            color: @font-gray;
            text-align: center;
            text-decoration: none;
            .border-1(@bg-gray);
            border-left: none;
            background-color: #fff;
        }
        > span{
            height: 20px;
            line-height: 20px;
            padding: 0;
            float: left;
        }
        &:first-child > a{
            border-left: 1px solid @bg-gray;
            .border-radius(10px 0px 0px 10px);
        }
        &:last-child > a{
            .border-radius(0px 10px 10px 0px);
        }
        &.active > a, >a:hover {
            color: #fff;
            background-color: @bg-gray;
            .border-1(@bg-gray);
        }
        &.ends{
            color: @bg-gray;
            letter-spacing: -3px;
        }
    }
    
    .checkboxul {
        > li {
            line-height: 24px;
            padding: 0px 10px;
            color: @font-black;
            display: inline-block;
        }
        .checkbox-li{
            padding-left: 23px;
        }
        .checkbox{
            margin: 0
        }
        select{
            height: 24px;
            width: 90px;
            font-size: 12px;
            .border-radius(6px);
            .border-1(@font-gray);
        }
    }
    .datanumul {
        > li {
            line-height: 24px;
            padding: 0px 10px;
            color: @font-black;
            display: inline-block;
        }
        > li+li:before{
            padding: 0 6px 0px 5px;
            color: @font-gray;
            content: "|";
        }
        select{
            height: 20px;
            width: 65px;
            .border-radius(10px);
            .border-1(@font-gray);
            font-size: 12px;
        }
    }
}

/*按钮*/
.btn{
    height: 30px;
    line-height: 18px;
    padding: 0px 18px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    .border-radius(6px);
    &:link,&:hover,&:active,&:visited{
       color: #fff; 
       outline: none;
    }
    &.-cancel {
        background-color: @bg-gray;
    }
    &.-confirm {
        background-color: @bg-black;
    }
    &.-lg{
        height: 30px;
        line-height: 28px;
    }
}

/*表单*/
.form-inline{
    >.form-group{
        > label{
            margin: 0px;
            font-size: 14px;
            font-weight: normal;
        } 
        > .form-control {
            margin-left: 10px;
            margin-right: 20px;
            height: 30px;
            border: 1px solid #dcdcdc;
            color: #969696;
        }
    }
}

/*复选框*/
.checkbox-lable{
    position: relative;
    height: 100%;
    min-height: 16px;
    width: 16px;
    margin: 0;
    padding: 0;
    display: inline-block;
    .checkbox{
        display: none;
    }
    .info{
        position: absolute;
        top: 20%;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: #fff;
        display: inline-block;
        color:#fff;
        border: 1px solid rgba(0,0,0,0.15);
        .border-radius(4px);
        vertical-align: middle;
        line-height: 1;
    }
    .checkbox:checked + .info:after{
        width:12px
        height:12px;
        color: @font-gray;
        content: "✔";
        display: inline-block;
    }
}

.celicon {
    width: 18px;
    height: 18px;
    text-indent: -9999em;
    text-indent: 0;
    font-size: 0;
    line-height: 18px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-image: url(../../images/icon/global_icon.png);
    background-repeat: no-repeat;
    overflow: hidden;
    &.-sample{
        width: 24px;
        background-position: -392px -59px;
    }
    &.-upload{
        background-position: -43px -58px;
    }
    &.-data{
        background-position: -91px -57px;
    }
    &.-report{
        background-position: 1px -58px;
    }
    &.-uploadgray{
        width: 36px;
        height: 40px;
        background-position: -519px -100px;
    }
}