<div class="row banner-box">
  <div class="banner">
    <img ng-src="assets/images/banner-join.png" style="width: 100%">
  </div>
</div>
<div class="row">
  <div class="tab1">
    <ul>
      <li ng-class="{'active': $state.includes('app.join.list', {status: 'market'})}"><a
        ui-sref="app.join.list({status: 'market', item: 'market-f1'})">市场-营销岗位</a></li>
      <li ng-class="{'active': $state.includes('app.join.list', {status: 'biology'})}"><a
        ui-sref="app.join.list({status: 'biology', item: 'biology-f1'})">生信-实验岗位</a></li>
      <li ng-class="{'active': $state.includes('app.join.list', {status: 'technology'})}"><a
        ui-sref="app.join.list({status: 'technology', item: 'technology-f1'})">IT-技术岗位</a></li>
      <li ng-class="{'active': $state.includes('app.join.list', {status: 'admin'})}"
          style="border-right: 1px solid #e6e6e6"><a ui-sref="app.join.list({status: 'admin', item: 'admin-f1'})">行政-管理岗位</a>
      </li>
    </ul>
  </div>
</div>

<div ui-view=""></div>
