
<div class="ibox-content" ng-if="vm.status === 'xiaoshou'">
  <div class="worker">
    <ul>
      <li ui-sref="app.join.list({item: 's'})" ui-sref-active="active"><a>生物信息项目总监</a></li>
      <li ui-sref="app.join.list({item: 'm'})" ui-sref-active="active"><a>生物信息项目总监</a></li>
      <li><a>生物信息项目总监</a></li>
      <li><a>生物信息项目总监</a></li>
      <li><a>生物信息项目总监</a></li>
      <li><a>生物信息项目总监</a></li>
    </ul>
  </div>
  <div class="worker">
    <ul>
      <li><a>生物信息项目总监</a></li>
      <li><a>生物信息项目总监</a></li>
    </ul>
  </div>
</div>

<div class="row" ng-if="vm.status === 'xiaoshou'">
  <div class="ibox-article">
    <p class="article-title">工作内容</p>
    <p class="article-font">1、负责在研项目的整体管理工作，对产品研发过程进行有效的监督、控制和协调，与本部门和公司其它职能部门进行沟通和协调；</p>
    <p class="article-font">2、查阅文献，跟进生命科学研究的前沿；</p>
    <p class="article-font">3、独立领导团队完成肿瘤/遗传/科研项目相关的生物信息分析工作；</p>
    <p class="article-font">4、针对具体产品制定详细的项目管理计划，设计合适的方案并实施，按时按质完成，独立负责项目工作总结报告及各项工作的进展；</p>
    <p class="article-font">5、撰写相关的技术类文档，评估和撰写产品和项目的技术资料及市场资料，并论证方案可行性；</p>
    <p class="article-font">6、对研发全过程进行技术指导和把控，处理研发过程中出现的技术问题。</p>
    <p class="article-font">7、为市场和技术支持提供培训，参与产品的商业规划和设计。</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">任职要求</p>
    <p class="article-font">1、负责在研项目的整体管理工作，对产品研发过程进行有效的监督、控制和协调，与本部门和公司其它职能部门进行沟通和协调；</p>
    <p class="article-font">2、查阅文献，跟进生命科学研究的前沿；</p>
    <p class="article-font">3、独立领导团队完成肿瘤/遗传/科研项目相关的生物信息分析工作；</p>
    <p class="article-font">4、针对具体产品制定详细的项目管理计划，设计合适的方案并实施，按时按质完成，独立负责项目工作总结报告及各项工作的进展；</p>
    <p class="article-font">5、撰写相关的技术类文档，评估和撰写产品和项目的技术资料及市场资料，并论证方案可行性；</p>
    <p class="article-font">6、对研发全过程进行技术指导和把控，处理研发过程中出现的技术问题。</p>
    <p class="article-font">7、为市场和技术支持提供培训，参与产品的商业规划和设计。</p>
  </div>
</div>
