<script type="text/javascript">
var companyId = $("#_companyId").html();
$(function(){
    var url = window.location.href.split("print")[0];
    $("#print").on("click",function(){
        $(".buttons").hide();
        $("input").css("border-bottom", "0");
        
        var textareaVal1 = $("#result").children().val();
        if(textareaVal1){
            $("#result").html(textareaVal1.replace(/\n/g,"<br>"));
        }else{
            $("#result").html("");
        }
        
        var textareaVal2 = $("#analyze").children().val();
        if(textareaVal2){
            $("#analyze").html(textareaVal2.replace(/\n/g,"<br>"));
        }else{
            $("#analyze").html("");
        }
        
        window.print();
        
        $("#analyze").html("<textarea style=\"width:99.8%;height:50px;\" name=\"baseInfo['analyze']\">"+textareaVal2.replace(/<br>/g,"\n")+"</textarea>");
        $("#result").html("<textarea style=\"width:99.8%;height:50px;\" name=\"baseInfo['result']\">"+textareaVal1.replace(/<br>/g,"\n")+"</textarea>");
        
        $("input").css("border-bottom", "1px solid #D4D4D4");
        $(".buttons").show();
    });
    
    $("#save").on("click",function(){
        $.post(url+"updatePgsFilling",$("#print-form").serialize(),function(result){
            if(result==1){
                $.lAlert("信息保存成功！");
            }else{
                $.lAlert("信息保存失败！");
                $("#isSaved").attr("value","1");
            }
        });
    });

    $("#reset").on("click",function(){
        $.lConfirm('确认重置？', function() {
            $.post(url+"updatePgsFilling",{id:$("#pgsId").val()},function(result){
                if(result==1){
                    location=location ;
                }else{
                    $.lAlert("信息重置失败！");
                }
            });
        });
    });
});

</script>