<script type="text/javascript">
$(function(){
    var url = window.location.href.split("print")[0];
    $("#print").on("click",function(){
    
        var baseNames = new Array();
        $(".baseTextarea").each(function(){
            inputVal = $(this).children().val();
            baseNames.push($(this).children().attr("name"));
            if(inputVal){
                inputVal = inputVal.replace(/\n/g,"<br>");
            }
            $(this).html(inputVal);             
        });
        $(".womanBaseClinicalTextarea").each(function(){
            inputVal = $(this).children().val();
            if(inputVal){
                inputVal = inputVal.replace(/\n/g,"<br>");
            }
            $(this).html(inputVal);             
        });
        $(".manBaseClinicalTextarea").each(function(){
            inputVal = $(this).children().val();
            if(inputVal){
                inputVal = inputVal.replace(/\n/g,"<br>");
            }
            $(this).html(inputVal);             
        });
        
        $(".result").each(function(){
            inputVal = $(this).children().val();
            if(inputVal){
                inputVal = inputVal.replace(/\n/g,"<br>");
            }
            $(this).html("<br/>" + inputVal);               
        });
        $(".embryoRating").each(function(){
            inputVal = $(this).children().val();
            if(inputVal){
                inputVal = inputVal.replace(/\n/g,"<br>");
            }
            $(this).html("<br/>" + inputVal);               
        });
        $(".advice").each(function(){
            inputVal = $(this).children().val();
            if(inputVal){
                inputVal = inputVal.replace(/\n/g,"<br>");
            }
            $(this).html("<br/>" + inputVal);               
        });
        
    	var explainResult = $("#explainResult").children().val();
		tempExplainResultName = $("#explainResult").children().attr("name");
		tempExplainResultWidth = $("#explainResult").children().css("width");
		if (explainResult){
			explainResult = explainResult.replace(/\n/g,"<br>");
		}else{
			explainResult = "";
		}
		$("#explainResult").html(explainResult);
    	var explainGeneticCounseling = $("#explainGeneticCounseling").children().val();
		tempExplainGeneticCounselingName = $("#explainGeneticCounseling").children().attr("name");
		tempExplainGeneticCounselingWidth = $("#explainGeneticCounseling").children().css("width");
		if (explainGeneticCounseling){
			explainGeneticCounseling = explainGeneticCounseling.replace(/\n/g,"<br>");
		}else{
			explainGeneticCounseling = "";
		}
		$("#explainGeneticCounseling").html(explainGeneticCounseling);
    
        var lookHide = $(".look_hide");
        $(".buttons").hide();
        lookHide.removeClass("look_hide");
        $("input").css("border-bottom", "0");
        window.print();
        $("input").css("border-bottom", "1px solid #D4D4D4");
        lookHide.addClass("look_hide");
        $(".buttons").show();
        
        explainResult = $("#explainResult").html();
		explainResult = explainResult.replace(/<br>/g,"\n");
		$("#explainResult").html("<textarea style=\"width:"+tempExplainResultWidth+"\" name=\""+tempExplainResultName+"\" rows=\"3\">"+explainResult+"</textarea>");
		
        explainGeneticCounseling = $("#explainGeneticCounseling").html();
		explainGeneticCounseling = explainGeneticCounseling.replace(/<br>/g,"\n");
		$("#explainGeneticCounseling").html("<textarea style=\"width:"+tempExplainGeneticCounselingWidth+"\" name=\""+tempExplainGeneticCounselingName+"\" rows=\"3\">"+explainGeneticCounseling+"</textarea>");
		
		$(".baseTextarea").each(function(){
            inputVal = $(this).html();
            $(this).prev().css("width","35%");
            if(inputVal){
                 inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"width:100%\" rows=\"1\" name=" + baseNames.shift() + ">" + inputVal + "</textarea>");               
        });
        $(".womanBaseClinicalTextarea").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                 inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"width:100%\" rows=\"1\" name=\"baseInfo['womanClinical']\">" + inputVal + "</textarea>");               
        });
        $(".manBaseClinicalTextarea").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                 inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"width:100%\" rows=\"1\" name=\"baseInfo['manClinical']\">" + inputVal + "</textarea>");               
        });
        
        $(".advice").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"width:98%;max-height:50px;height:50px;font-size:14px;\" name=\"baseInfo['advice']\">"+inputVal+"</textarea>");
        });
        $(".embryoRating").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"width:98%;max-height:50px;height:50px;font-size:14px;\" name=\"baseInfo['embryoRating']\">"+inputVal+"</textarea>");
        });
        $(".result").each(function(){
            inputVal = $(this).html();
            if(inputVal){
                inputVal = inputVal.replace(/<br>/g,"\n");
            }
            $(this).html("<textarea style=\"width:98%;max-height:50px;height:50px;font-size:14px;\" name=\"baseInfo['result']\">"+inputVal+"</textarea>");
        });
    });
    
    $("#save").on("click",function(){
        $.post(url+"updatePgsFilling",$("#print-form").serialize(),function(result){
            if(result==1){
                $.lAlert("信息保存成功！");
            }else{
                $.lAlert("信息保存失败！");
                $("#isSaved").attr("value","1");
            }
        });
    });

    $("#reset").on("click",function(){
        $.lConfirm('确认重置？', function() {
            $.post(url+"updatePgsFilling",{id:$("#pgsId").val()},function(result){
                if(result==1){
                    location=location ;
                }else{
                    $.lAlert("信息重置失败！");
                }
            });
        });
    });
});

</script>