<div class="content">
    <table class="contentTable">
        <tr class="focus">
            <td style="font-size:20px;"><br/>检测局限性：</td>
        </tr>
        <tr class="focus hr">
            <td><hr/></td>
        </tr>
        <tr>
            <td style="text-align:left;" class="lh25">
1、本检测只能检出全部的染色体非整倍体、大于4Mb的染色体片段缺失和重复。<br/>
2、本检测不能检出染色体平衡易位和超出此检测范围的染色体片段缺失和重复；也不能检测单倍体、三倍体、多倍体
等全部染色体成倍增加或减少的异常。<br/>
3、在少数情况下，鉴于当前医学检测技术水平、活检情况、个体差异以及样本运输等原因，可能导致部分胚胎无法进
行检测。<br/>
4、影响妊娠的因素很多，即使选择正常的胚胎进行移植，也不能确保妊娠成功。且任何检测技术都有可能出现假阴性
结果，导致染色体异常胚胎的植入，因此建议在正常妊娠后通过羊水穿刺或无创产前检测等技术进一步产前诊断确
诊。
            </td>
        </tr>
        <tr class="focus">
            <td style="font-size:20px;"><br/>检测声明：</td>
        </tr>
        <tr class="focus hr">
            <td><hr/></td>
        </tr>
        <tr>
            <td style="text-align:left;" class="lh25">
1、报告结果只对本次受检样本负责，结果仅供参考，不直接作为最终临床诊断依据；对于本次检测结果的解释，请进
一步咨询临床医生。<br/>
2、受检者需提供完整、准确、详细的个人资料。因受检者提供的用户资料不实或其他误导因素而导致检测服务的中
断、结果不准确，应由受检者承担相关责任。<br/>
3、若对检测结果有疑问，请在收到检测报告后15个工作日内与我们联系！<br/>
4、地址：山东省济南市经六路157号。电话：0531-86569866。
            </td>
        </tr>
    </table>
</div>
