<div id="content">
    <input type="hidden" name="id" value="${egfr.id}" id="egfrId" />
    <table class="contentTable" style="border:1px solid">
        <tr>
            <td>姓名:<span><input name="baseInfo['name']" value="$!{egfr.baseInfo.name}" type="text" class="tdInput"></span></td>
            <td>性别:<span><input name="baseInfo['sex']" value="$!{egfr.baseInfo.sex}" type="text" class="tdInput"></span></td>
            <td>年龄:<span><input name="baseInfo['gender']" value="$!{egfr.baseInfo.gender}" type="text" class="tdInput"></span></td>
            <td>住院号/门诊号:<span><input name="baseInfo['inpatientNumber']" value="$!{egfr.baseInfo.inpatientNumber}" type="text" class="tdInput"></span></td>
        </tr>
        <tr>
            <td>科别:<span><input name="baseInfo['dept']" value="$!{egfr.baseInfo.dept}" type="text" class="tdInput"></span></td>
            <td>床号:<span><input name="baseInfo['bedNo']" value="$!{egfr.baseInfo.bedNo}" type="text" class="tdInput"></span></td>
            <td>送检医师:<span><input name="baseInfo['doctor']" value="$!{egfr.baseInfo.doctor}" type="text" class="tdInput"></span></td>
            <td>样本编号:<span><input name="baseInfo['submissionDate']" value="$!{egfr.baseInfo.submissionDate}" type="text" class="tdInput"></span></td>
        </tr>
        <tr>
            <td>病理号:<span><input name="baseInfo['dept']" value="$!{egfr.baseInfo.dept}" type="text" class="tdInput"></span></td>
            <td>样品类型:<span><input name="baseInfo['bedNo']" value="$!{egfr.baseInfo.bedNo}" type="text" class="tdInput"></span></td>
            <td></td>
            <td>临床诊断:<span><input name="baseInfo['submissionDate']" value="$!{egfr.baseInfo.submissionDate}" type="text" class="tdInput"></span></td>
        </tr>
        <tr class="focus bt1">
            <td colspan="4">送检目的：EGFR基因突变检测</td>
        </tr>
        <tr class="focus bt1">
            <td colspan="2" class="tdCenter">项目</td>
            <td colspan="2" class="tdCenter">结果</td>
        </tr>
        <tr class="bt1">
            <td colspan="2" class="tdCenter">表皮生长因子受体（EGFR）基因突变检测</td>
            <td colspan="2" class="tdCenter">
                <input name="baseInfo['conclusion']" type="text" class="tdCenterInput" value="#if($egfr.baseInfo.conclusion)$!egfr.baseInfo.conclusion#else$!{egfr.conclusion}#end" />
            </td>
        </tr>
        <tr class="bt1">
            <td colspan="4" style="text-align:left;">
                #if(${egfr.position})
                    ${egfr.position}
                #else
                    未检测到突变
                #end
                #if(${egfr.knowMutationBig.size()}>0)
                    #foreach(${kmb} in ${egfr.knowMutationBig})
                        <p>
                            <br/>
                            <img src="${uploadPath}${egfr.userId}/${egfr.appId}/${egfr.dataKey}/SVG/${kmb}">
                        </p>
                    #end
                #end
            </td>
        </tr>
        <tr class="bt1">
            <td colspan="4" style="text-align:left;">
备注：<br/>
1. 本方法可检测已知突变：EGFR基因18号外显子G719S/C/A突变；19号外显子序列缺失突变；20号外显子T790M及S768I突变；20号外显子序列插入突变；21号外显子L858R及L861Q。<br/>
2. 检测方法：PCR-Sanger测序法。            检验仪器：ABI 3500 Dx xL基因分析仪。<br/>
3. EGFR基因突变主要集中在酪氨酸激酶区18-21外显子上，这些突变与易瑞沙（Iressa，又称吉非替尼/ Gefitinib）和特罗凯（Tarceva，又称厄罗替尼/ Erlotinib）的药物反应性有关联。EGFR基因外显子18、19、20、21突变的肿瘤患者对易瑞沙和特罗凯治疗敏感，而 EGFR基因外显子20中的T790M及S768I突变、序列插入突变、19中D761Y突变则会导致耐药，因此检测EGFR基因突变对于指导临床患者用药具有重要参考价值。
　　2012年美国临床肿瘤学会（ASCO）发布了新的NSCLC 治疗指导原则建议：“为了使 NSCLC 患者能接受到最好的治疗，EGFR突变的检测应该成为（治疗前）的常规，而TKIs应该成为EGFR 突变患者的首选药物。”
    欧洲药监部门明确要求NSCLC患者使用易瑞沙、特罗凯前必须检测EGFR基因的状态。
2012年《非小细胞肺癌临床实践指南（中国版）》中明确指出：EGFR突变与EGFR-TKIs的敏感性有重要关系。<br/>
4. 本报告仅对本次检测结果负责，如有疑问，请于报告日期三天内提出。
            </td>
        </tr>
    </table>
</div>