#parse("templates/report/layout.vm")
#parse("templates/report/default/${hbv.appId}/reference.vm")
<div id="printMain">
    #if(${printContext})
        ${printContext}
    #end
    #if(!${printContext})
        <div>
            #parse("templates/report/41/${hbv.appId}/title_detail.vm")
            #parse("templates/report/41/${hbv.appId}/content_detail.vm")
            #parse("templates/report/default/${hbv.appId}/foot.vm")
            </form>
        </div>
    #end
</div>  
#parse("templates/report/default/${hbv.appId}/js.vm")