<div class="row" ng-if="vm.status === 'test'">
  <div class="ibox-article">
    <p class="article-title">案例介绍</p>
    <p class="article-font">CelLoud平台是北京嘉宝仁和医疗科技有限公司生殖健康检测生物信息分析应用云平台服务商。通过平台协助，帮助嘉宝快速进行市场推广，
      医院数据达到30家，同时月样本量近2000例，同时平台针对PGS/PGD流程进行加速，从以往单样本分析需要36分钟缩短为7分钟。</p>

  </div>
  <div class="ibox-article">
    <p class="article-title">企业痛点</p>
    <p class="article-font">随着NGS（第二代测序）技术的快速发展和测序成本的下降， NGS在体外诊断和临床检测中应用比重不断扩大。具备完善的检测技术产品和生物信
      息分析流程开发能力的优秀企业，面对广阔的行业市场前景和基因大数据时代的刚需，企业选择传统搭建集群计算分析模式，不仅需要投入巨大的硬
      件成本和组建专业的IT团队运维，同时高并发计算和自动化报告生成问题仍然是制约企业发展的最大瓶颈。所以需要一个可以实现生物学大数据的快
      速计算分析平台的支撑，实现报告的自动生产及个性化定制化功能。</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">产品列表</p>
    <p class="article-font">1、SPGDTM检测项目</p>
    <p class="article-font">2、易安顺®-胚胎植入前遗传学筛查（PGS）</p>
    <p class="article-font">3、易安顺®-胚胎植入前遗传学筛查（PGS）</p>
    <p style="margin-top: 20px" class="article-font">如需要获取等资料，请联系service@celloud.cn</p>
  </div>
</div>
<div class="row" ng-if="vm.status === 'company'">
  <div class="ibox-article">
    <p class="article-title">案例介绍</p>
    <p class="article-font">为广州立菲达安诊断产品技术有限公司系列基因突变检测试剂盒开发相应的平台生物信息分析App。
      CelLoud专业生物信息分析团队根据检测需求，定制开发生物信息分析流程，并将流程部署于云平台形成App应用，
      实现生物信息零门槛、托管式自动化报告生成。经过平台的支撑，立菲达安已经在平台上产生10000+的临床分析报告，已有30+医院在平台上使用。</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">实施产品</p>
    <div class="row">
      <div class="col-md-4" style="padding-left: 0">
        <p class="article-font">1、乙型肝炎病毒耐药基因突变检测；</p>
        <p class="article-font">2、丙型肝炎病毒基因分型检测；</p>
        <p class="article-font">3、结核分枝杆菌利福平耐药基因检测；</p>
        <p class="article-font">4、KRAS基因突变检测；</p>
      </div>
      <div class="col-md-7">
        <p class="article-font">5、EGFR基因突变检测；</p>
        <p class="article-font">6、BRAF基因突变检测；</p>
        <p class="article-font">7、UGT1A1基因多态性检测；</p>
        <p class="article-font">8、二氢嘧啶脱氧酶DPD基因点突变检测；</p>
      </div>
    </div>
  </div>
  <div class="ibox-article">
    <p class="article-title">案例二介绍</p>
    <p class="article-font">为艾科优美医学技术（北京）有限公司的高通量检测panel开发相应的平台生物信息分析App。
      协助艾科优美公司进行市场推广。目前艾科优美已经有四类产品在平台上部署投入使用。</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">实施产品</p>
    <p class="article-font">药物基因组学分析及用药指导</p>
    <p class="article-font">新生儿遗传代谢病检测</p>
    <p class="article-font">肿瘤样本基因检测及个体化用药分析</p>
    <p class="article-font">遗传性耳聋基因检测</p>
  </div>
</div>
<div class="row" ng-if="vm.status === 'technology'">
  <div class="ibox-article">
    <p class="article-title">案例介绍</p>
    <p class="article-font">利用高通量测序技术对微生物进行检测，不仅可以应用于临床的病原菌检测和肠道菌群分析，
      在食品、 环境微生物、农牧业等领域同样有着不俗的检测能力和广阔的应用前景。迅速组织平台资源，由NGS产品研发团队
      与领域专家共同针对行业需求制定检测技术方案，华点云生物信息分析团队为技术方案定制开发生物信息分析流程，依托celloud云平台，
      形成行业内可推广的检测产品。</p>
  </div>
</div>
<div class="row" ng-if="vm.status === 'scientific'">
  <div class="ibox-article">
    <p class="article-title">案例背景</p>
    <p class="article-font">我国将转化医学列入国家重大科技基础设施建设中长期规划（2016-2030）。
      转化医学的核心是通过建立生命医学基础研究和临床医学、预防医学实践的有效联系，建立“B2B”（Bench to Bedside；Bedside to Bench）
      以及“B2C”（Bench/Bedside to Community）的快速转化通道， 及时把生物医学基础研究知识成果转化为临床疾病诊治实用技术及公共卫生预防技术，
      根本上转变基础与临床研究之间的脱节状况，缩短研究周期，促进科研成果的转化应用。</p>
    <p class="article-font" style="margin-top: 35px">整合平台资源，由平台合作生物医药科技企业与生命医学科学家共同研发基于NGS技术的检测产品，
      华点云生物信息分析团队为检测产品定制开发生物信息分析流程，在celloud云平台服务的支持下，实现临床生物信息零门槛，一键式获取检测报告的能力。</p>
  </div>
  <div class="ibox-article">
    <p class="article-title">成功案例</p>
    <p class="article-font">2014年，中国脑胶质瘤协助组发布的中国神经胶质瘤分子诊疗指南中，明确了最普遍的胶质瘤相关的14种分子改变、潜在的治疗靶点和生物标志物，
      有助于脑胶质瘤临床诊断和预后判断。传统医学检验手段需通过荧光原位杂交FISH、免疫组化IHC，荧光定量PCR、微卫星分析、MLPA-Sanger测序等
      多种实验方法才能够完成这14种分子标志物的检测。对于病人来说无疑检测项目越多，所需要的病理样本越多、所承担的医疗费用越高；对于医生来说，
      检测项目多相应的获取全面、明确的检测结果所需要的时间越久，越不利于早期诊断和治疗方案的确定。</p>
    <p class="article-font">因此，华点云与中国脑胶质瘤协作组专家、北京艾普拜生物技术有限公司共同研发基于第二代测序平台，
      对神经胶质瘤分子标志物进行快速全面检测的分子诊断试剂盒。此项目正在进行中。</p>
  </div>
</div>
